<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">CEP - Denúncias</h5>
                    </div>
                    <div class="col-md-6 text-end">
                        <a class="btn btn-success" href="<?= BASEURL ?>cep/nova-denuncia">
                            <i class="fa fa-plus" aria-hidden="true"></i> Nova Denúncia</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row table-responsive-xl">
                    <div class="col">
                        <table class="table table-bordered table-striped" id="dataTable">
                            <thead>
                                <tr class="text-center">
                                    <th>PAD</th>
                                    <th>Data</th>
                                    <th>Detalhes</th>
                                </tr>
                            </thead>
                            <body>
                                <?php foreach ($process as $p): ?>
                                <tr class="text-center">
                                    <td><?= $p['PAD'] ?></td>
                                    <td><?= $p['date'] ?></td>
                                    <td><a href="<?= BASEURL ?>cep/visualiza/<?= $p['id'] ?>" target="_blank">
                                        <i class="fa fa-file" aria-hidden="true"></i> Visualizar</a></td>
                                </tr>
                                <?php endforeach; ?>
                            </body>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>