<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="title">CEP - Nova Denúncia</h5>
            </div>
            <div class="card-body">
                <form id="form">
                    <label>ATENÇÃO: A Comissão de Ética Partidária só aprecia denúncias que atendam aos requisitos previstos pelas normas partidárias; 
                        indicando de forma clara o denunciante, o denunciado, os fatos, as normas partidárias que teriam sido violadas, as provas da infração 
                        e as penalidades que se pretenda ver aplicadas. DENÚNCIAS FORMULADAS EM DESCONFORMIDADE SERÃO INADMITIDAS LIMINARMENTE.<br><br>
                        Os requisitos para que uma denúncia seja recebida e aceita para análise e julgamento estão previstos no art. 
                        7º da Resolução interna nº 31. São eles:<br><br>
                        I - conter o nome do denunciante, que obrigatoriamente deverá ser filiado ao NOVO e estar no pleno exercício dos seus direitos, 
                        e o seu CPF, e-mail e telefone/celular de contato;<br>
                        II - conter o nome do denunciado, que obrigatoriamente deverá ser filiado ao NOVO;<br>
                        III - conter a narrativa dos fatos;<br>
                        IV - indicar as normas partidárias que entende violadas;<br>
                        V - conter as provas que amparam a pretensão;<br>
                        VI - indicar as penalidades que compreende sejam cabíveis;
                    </label>
                    <hr>
                    <div class="row">
                        <label for="denounced">Denúnciantes(s):</label>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="squeakerName">Nome:</label>
                                <input class="form-control" type="text" name="squeakerName[]" id="squeakerName" value="<?= $user->getName() ?>" readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="squeakerCPF">CPF:</label>
                                <input class="form-control" type="text" name="squeakerCPF[]" id="squeakerCPF" value="<?= $user->getCpf() ?>" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="squeakerEmail">E-mail:</label>
                                <input class="form-control" type="email" name="squeakerEmail[]" id="squeakerEmail" value="<?= $user->getEmail() ?>" readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="squeakeraffiliatedID">Filiado ID:</label>
                                <input class="form-control" type="text" name="squeakeraffiliatedID[]" id="squeakeraffiliatedID" 
                                    value="<?= $user->getFiliadoId() ?>" readonly>
                            </div>
                        </div>        
                        <div id="squeakerDiv"></div>    
                        <div class="col-md-4">
                            <button type="button" class="btn btn-success" onclick="duplicateDiv1()">
                                Adicionar <i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>          
                    </div>
                    <hr>
                    <div class="row">
                        <label for="denounced">Denúnciado(s):</label>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="denouncedName" class="required">Nome:</label>
                                <input class="form-control" type="text" name="denouncedName[]" id="denouncedName">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="denouncedCPF">CPF:</label>
                                <input class="form-control" type="text" name="denouncedCPF[]" id="denouncedCPF">
                            </div>
                        </div>
                        <div class="col-md-3">                            
                            <div class="form-group">
                                <label for="denouncedEmail">E-mail:</label>
                                <input class="form-control" type="email" name="denouncedEmail[]" id="denouncedEmail">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="denouncedState" class="required">UF:</label>
                                <select class="form-control" name="denouncedState[]" id="denouncedState" 
                                        onchange="getCities(this.value, 'denouncedCity')">
                                    <option value="">Selecione</option>
                                    <?php foreach($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getSigla() ?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="denouncedCity" class="required">Cidade:</label>
                                <select class="form-control" name="denouncedCity[]" id="denouncedCity">
                                    <option value="">Cidade</option>
                                </select>
                            </div>
                        </div>
                        <div id="denouncedDiv"></div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-success" onclick="duplicateDiv2()">
                                Adicionar <i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="resume">Descrição dos fatos:</label>
                                <textarea name="resume" id="resume" class="form-control" rows="7"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="partyNorms">Normas partidárias infringidas:</label>
                                <textarea name="partyNorms" id="partyNorms" class="form-control" rows="7"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="intendedPunishment">Punição pretendida:</label>
                                <textarea name="intendedPunishment" id="intendedPunishment" class="form-control" rows="7"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="col">
                                <div class="form-group">
                                    <label for="indicationOfEvidence">Indicação das provas:</label>
                                    <div id="divClonedIndicationOfEvidence"></div>
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-secondary" id="add-provas">
                                            Adicionar arquivo com provas <i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <textarea name="indicationOfEvidence" id="indicationOfEvidence" class="form-control" rows="7" 
                                    placeholder="Descreva as provas..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="complaintFile">Arquivo complementar:</label>
								<div id="divCloned"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="add-campo">
                                Adicionar arquivo complementar <i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LeaZa4ZAAAAANFEcXpNEmkKs6se_6r3RguI4F7A"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i>
                                Cancelar</button>
                            <button type="submit" class="btn btn-success" id="save"><i class="fa fa-paper-plane"
                                    aria-hidden="true"></i> Enviar Denúncia</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mt-2 d-none alert alert-danger" id="divMessageForm">Erro</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/cep/register.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<style>
    .required:after {
        content:" *"; 
        color: red;
    }
    hr {
        background-color: #f17021;
        opacity: 19%;
    }
</style>