<div class="row">
    <div class="col">
        <div class="card">
            <?php if($process['number']): ?>
            <div class="card-header">
                <h5 class="title">Processo: <?= $process['number'] ?></h5>
            </div>
            <?php endif; ?>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            <b>Data:</b> <?= $process['created'] ?> <br>
                            <b>Situação:</b> <?= $process['situation'] ?> <br>
                            <b>Órgão Responsável:</b> <?= $process['organization'] ?> <br>
                            <b>Relator:</b> <?= $process['reporter'] ?>
                        </div>
                        <div class="col-md-5">
                            <b>Denúnciado(s):</b> </br>
                            <?php foreach($denounced as $d): ?>
                            <?= $d['name'] ?><br>
                            <?php endforeach; ?>
                            <hr>
                            <b>Denúnciante(s):</b> <br>
                            <?php foreach($squeakers as $s): ?>
                            <?= $s['name'] ?><br>
                            <?php endforeach; ?>
                        </div>
                        <div class="col-md-12" style="margin-top: 15px">
                            <h5>Descrição dos fatos:</h5>
                            <?= $process['resume'] ?><br><br>
                            <h5>Normas partidárias infringidas:</h5>
                            <?= $process['partyNorms'] ?><br><br>
                            <h5>Punição pretendida:</h5>
                            <?= $process['intendedPunishment'] ?>
                            <hr>
                        </div>
                        <div class="col-md-12" style="margin-top: 15px">
                            <h5>Documento(s) da Denúncia:</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Data</th>
                                                <th>Usuário</th>
                                                <th>Denunciante</th>
                                                <th>Arquivo/Link</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php foreach($files as $f): ?>
                                            <tr class="text-center">
                                                <td><?= $f['date'] ?></td>
                                                <td><?= $f['user'] ?></td>
                                                <td><?= $f['denounced'] ?></td>
                                                <td><a href="https://cep.novo.org.br/uploads/files/<?= $f['link'] ?>"
                                                        target="_blank"><i class="fa fa-download"
                                                            aria-hidden="true"></i></a></td>
                                            </tr>
                                            <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

                <!-- Begin: Análise Preliminar -->
                <div class="default-according style-1" id="1">
                    <div class="card m-t-0">
                        <div class="card-header bg-primary">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseicon1" aria-expanded="false"
                                    aria-controls="collapse11">Análise Preliminar</button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseicon1" aria-labelledby="collapseicon1" data-bs-parent="#1">
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Data</th>
                                            <th>Nome</th>
                                            <th>Situação</th>
                                            <th>Decisão</th>
                                            <th class="action-buttons">Arquivo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($preliminaryAnalysis as $p): ?>
                                        <tr class="text-center">
                                            <td><?= $p['date'] ?></td>
                                            <td><?= $p['user'] ?></td>
                                            <td><?= $p['situation'] ?></td>
                                            <td><?= $p['decision'] ?></td>
                                            <td>
                                                <?php if($p['hash']): ?>
                                                <a type="button" class="btn btn-success" 
                                                    href="<?= BASEURL ?>cep/documento/<?= $p['hash'] ?>"
                                                    target="_blank">
                                                <i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                <?php endif; ?>
                                            </td>
                                        </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim: Análise Preliminar -->

                <!-- Begin: Defesa -->
                <div class="default-according style-1" id="2">
                    <div class="card m-t-0">
                        <div class="card-header bg-primary">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseicon2" aria-expanded="false"
                                    aria-controls="collapse11">Defesa</button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseicon2" aria-labelledby="collapseicon2" data-bs-parent="#2">
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Data</th>
                                            <th>Descrição</th>
                                            <th class="action-buttons">Arquivo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($defense as $d): ?>
                                        <tr class="text-center">
                                            <td><?= $d['date'] ?></td>
                                            <td><?= $d['description'] ?></td>
                                            <td>
                                                <?php if($d['file']): ?>
                                                <a type="button" class="btn btn-success" 
                                                    href="https://cep.novo.org.br/uploads/files/<?= $d['file'] ?>"
                                                    target="_blank">
                                                <i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                <?php endif; ?>
                                            </td>
                                        </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                                <hr>
                                <?php if ($userType == 'denounced' && $process['phase'] == 1): ?>
                                <div class="col-md-12">
                                    <a href="#" type="button" class="btn btn-success"
                                        onclick="setPhaseDefense(1); changeModal('defenseModal', 'show');">
                                        <i class="fa fa-hand-o-up" aria-hidden="true"></i> Inserir
                                    </a>
                                </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim: Defesa -->

                <!-- Begin: Instrução -->
                <div class="default-according style-1" id="3">
                    <div class="card m-t-0">
                        <div class="card-header bg-primary">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseicon3" aria-expanded="false"
                                    aria-controls="collapse11">Instrução</button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseicon3" aria-labelledby="collapseicon3" data-bs-parent="#3">
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Data</th>
                                            <th>Usuário</th>
                                            <th>Situação</th>
                                            <th>Decisão</th>
                                            <th class="action-buttons">Arquivo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($instruction as $i): ?>
                                        <tr class="text-center">
                                            <td><?= $i['date'] ?></td>
                                            <td><?= $i['user'] ?></td>
                                            <td><?= $i['situation'] ?></td>
                                            <td><?= $i['decision'] ?></td>
                                            <td>
                                                <?php if( $i['hash']): ?>
                                                <a type="button" class="btn btn-success" 
                                                    href="<?= BASEURL ?>cep/documento/<?= $i['hash'] ?>"
                                                    target="_blank">
                                                    <i class="fa fa-download" aria-hidden="true"></i> Download
                                                </a>
                                                <?php endif; ?>
                                            </td>
                                        </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim: Instrução -->

                <!-- Begin: Julgamento -->
                <div class="default-according style-1" id="4">
                    <div class="card m-t-0">
                        <div class="card-header bg-primary">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseicon4" aria-expanded="false"
                                    aria-controls="collapse11">Julgamento</button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseicon4" aria-labelledby="collapseicon4" data-bs-parent="#4">
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Data</th>
                                            <th>Usuário</th>
                                            <th>Situação</th>
                                            <th>Decisão</th>
                                            <th class="action-buttons">Arquivo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($judgment as $j): ?>
                                        <tr class="text-center">
                                            <td><?= $j['date'] ?></td>
                                            <td><?= $j['user'] ?></td>
                                            <td><?= $i['situation'] ?></td>
                                            <td><?= $j['decision'] ?></td>
                                            <td>
                                                <?php if($j['hash']): ?>
                                                <a type="button" class="btn btn-success" 
                                                    href="<?= BASEURL ?>cep/documento/<?= $j['hash'] ?>"
                                                    target="_blank">
                                                <i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                <?php endif; ?>
                                        </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim: Julgamento -->

                <!-- Begin: Intimação
                <div class="default-according style-1" id="5">
                    <div class="card m-t-0">
                        <div class="card-header bg-primary">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseicon5" aria-expanded="false"
                                    aria-controls="collapse11">Intimação</button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseicon5" aria-labelledby="collapseicon5" data-bs-parent="#5">
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Relator</th>
                                            <th>Decisão</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($intimation as $i): ?>
                                        <tr class="text-center">
                                            <td><?= $i['user'] ?></td>
                                            <td><?= $i['decision'] ?></td>
                                            <td><?= $i['date'] ?></td>
                                        </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                Fim: Intimação -->

                <?php if($process['phase'] == 2): ?>

                <!-- Begin: Recurso -->
                <div class="default-according style-1" id="6">
                    <div class="card m-t-0">
                        <div class="card-header bg-success">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseicon6" aria-expanded="false"
                                    aria-controls="collapse11">Recurso</button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseicon6" aria-labelledby="collapseicon6" data-bs-parent="#6">
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Data</th>
                                            <th>Descrição</th>
                                            <th class="action-buttons">Arquivo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($resource as $r): ?>
                                        <tr class="text-center">
                                            <td><?= $r['date'] ?></td>
                                            <td><?= $r['description'] ?></td>
                                            <td>
                                                <?php if($r['file']): ?>
                                                <a type="button" class="btn btn-success" 
                                                    href="https://cep.novo.org.br/uploads/files/<?= $r['file'] ?>"
                                                    target="_blank">
                                                <i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                <?php endif; ?>
                                            </td>
                                        </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                                <hr>
                                <?php if ($userType == 'denounced' && $process['phase'] == 2): ?>
                                <div class="col-md-12 text-right">
                                    <a href="#" type="button" class="btn btn-success"
                                        onclick="setPhaseDefense(2); changeModal('defenseModal', 'show');">
                                        <i class="fa fa-hand-o-up" aria-hidden="true"></i> Inserir
                                    </a>
                                </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim: Recurso -->

                <!-- Begin: Julgamento 2 -->
                <div class="default-according style-1" id="7">
                    <div class="card m-t-0">
                        <div class="card-header bg-success">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseicon7" aria-expanded="false"
                                    aria-controls="collapse11">Julgamento</button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseicon7" aria-labelledby="collapseicon7" data-bs-parent="#7">
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Data</th>
                                            <th>Usuário</th>
                                            <th>Situação</th>
                                            <th>Decisão</th>
                                            <th class="action-buttons">Arquivo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($judgmentResource as $jr): ?>
                                        <tr class="text-center">
                                            <td><?= $jr['date'] ?></td>
                                            <td><?= $j['user'] ?></td>
                                            <td><?= $i['situation'] ?></td>
                                            <td><?= $jr['decision'] ?></td>
                                            <td>
                                                <?php if($jr['hash']): ?>
                                                <a type="button" class="btn btn-success" 
                                                    href="<?= BASEURL ?>cep/documento/<?= $jr['hash'] ?>"
                                                    target="_blank">
                                                <i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                <?php endif; ?>
                                            </td>
                                        </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim: Julgamento 2 -->

                <!-- Begin: Intimação 2
                <div class="default-according style-1" id="8">
                    <div class="card m-t-0">
                        <div class="card-header bg-success">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseicon8" aria-expanded="false"
                                    aria-controls="collapse11">Intimação</button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseicon8" aria-labelledby="collapseicon8" data-bs-parent="#8">
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Relator</th>
                                            <th>Decisão</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($intimationResource as $ir): ?>
                                        <tr class="text-center">
                                            <td><?= $ir['user'] ?></td>
                                            <td><?= $ir['decision'] ?></td>
                                            <td><a type="button" class="btn btn-success" 
                                                    href="https://cep.novo.org.br/uploads/files/<?= $ir['file'] ?>"
                                                    target="_blank">
                                                <i class="fa fa-download" aria-hidden="true"></i> Download</a></td>
                                        </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                Fim: Intimação 2 -->

                <?php endif; ?>
            </div>
        </div>
    </div>
</div>

<!-- defenseModal -->
<div class="modal fade" id="defenseModal" tabindex="-1" role="dialog" aria-labelledby="defenseModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title">Nova Defesa</h5>
            </div>
            <form id="defenseForm" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="phaseDefense" name="phaseDefense" value="">
                        <input type="hidden" id="processId" name="processId" value="<?= $process['id'] ?>">
                        <input type="hidden" id="userName" name="userName" value="<?= $user->getName() ?>">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="description" name="description" class="form-control" rows="8" cols="50"
                                    placeholder="Descrição..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="defenseFile">Arquivo:</label>
                                <input id="defenseFile" name="defenseFile" class="form-control" type="file"
                                    style="opacity: 1; opacity: 1; position: relative;">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="defenseMessageForm" class="alert text-center d-none" role="alert"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="changeModal('defenseModal', 'hide')"><i
                            class="fa fa-times" aria-hidden="true"></i> Fechar</button>
                    <button type="submit" id="saveDefense" class="btn btn-success"><i class="fa fa-check"
                            aria-hidden="true"></i> Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- instructionModal -->
<div class="modal fade" id="instructionModal" tabindex="-1" role="dialog" aria-labelledby="instructionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title">Nova Instrução</h5>
            </div>
            <form id="instructionForm" enctype="multipart/form-data" method="post">
                <input type="hidden" id="processId" name="processId" value="<?= $process['id'] ?>">
                <input type="hidden" id="userName" name="userName" value="<?= $user->getName() ?>">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="firstStepSituation">Situação:</label>
                                <select class="form-control" id="firstStepSituation" name="firstStepSituation">
                                    <option value="" selected disabled>Selecione</option>
                                    <option value="1">Voto Vencedor</option>
                                    <option value="2">Voto Vencido</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="description" name="description" class="form-control" rows="8" cols="50"
                                    placeholder="Ementa..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="instructionFile">Arquivo:</label>
                                <input id="instructionFile" name="instructionFile" class="form-control" type="file"
                                    style="opacity: 1; position: relative;">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="instructionMessageForm" class="alert text-center d-none" role="alert"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="changeModal('instructionModal', 'hide')"><i
                            class="fa fa-times" aria-hidden="true"></i> Fechar</button>
                    <button type="submit" id="saveInstruction" class="btn btn-success"><i class="fa fa-check"
                            aria-hidden="true"></i> Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/cep/view.js"></script>

<style>
.action-buttons {
    padding: 10px;
    width: 13%;
}

td {
    vertical-align: middle; 
    text-align: center
}
</style>
