<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Espaço NOVO - Alteração de email</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/login.css">
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon.png">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
</head>
<body class="bg-light">
<?php if ($change): ?>
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header text-center" style="background-color: #FF6B00">
                <img src="<?= BASEURL ?>assets/img/logo.png" alt="">
            </div>
            <div class="card-body">
                <div id="message" class="alert alert-success">
                    <?php if ($confirm): ?>
                        E-mail confirmado com sucesso.
                    <?php else: ?>
                        E-mail alterado com sucesso.
                    <?php endif ?>
                </div>
            </div>
        </div>
    </div>
    <?php if ($confirm): ?>
    <script>
        setTimeout(function () {
            window.location.href = "<?= BASEURL ?>login";
        }, 2000);
    </script>
    <?php endif ?>

<?php else: ?>
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header text-center" style="background-color: #FF6B00">
                <img src="<?= BASEURL ?>assets/img/logo.png" alt="">
            </div>
            <div class="card-body">
                <div id="message" class="alert alert-danger"><?= $msg ?></div>
            </div>
        </div>
    </div>
<?php endif; ?>


</body>
</html>