<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Espaço Novo <?= $title ? " - {$title}" : '' ?></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="<?= BASEURL ?>assets/css/now-ui-dashboard.css?v=<?= time() ?>" rel="stylesheet"/>
    <link href="<?= BASEURL ?>assets/css/bootstrap.min.css?v=<?= time() ?>" rel="stylesheet"/>
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/dataTables.bootstrap4.min.css">
    <link href="<?= BASEURL ?>assets/css/style.css?v=<?= time() ?>" rel="stylesheet"/>
    <script src="<?= BASEURL ?>assets/js/core/jquery.min.js"></script>
</head>