<div class="row">
    <div class="col">
        <div class="card">
            <?php if ($subscriptionAffiliation->getFrequency() == 'Anual'): ?>
            <div class="card-body custom-scrollbar">
                <div class="col-md-8">
                    <div class="row alert alert-warning">
                        <label class="mt-3"> A antecipação de parcelas está liberada apenas para filiados com assinaturas mensais! </label>
                    </div>
                </div>
            </div>
            <?php elseif($lastTransactionAntecipate): ?>
            <div class="card-body custom-scrollbar">
                <div class="col-md-8">
                    <div class="row alert alert-warning">
                        <label class="mt-3">
                            Atenção!</br>
                            Há um boleto de antecipação em aberto.</br>
                            Você só poderá fazer outra quando pagar a que está pendente.</br>
                            <a href="<?= BASEURL ?>financeiro/extrato">Clique aqui</a> para pagar!</label>
                    </div>
                </div>
            </div>
            <?php elseif($lastTransaction): ?>
            <div class="card-body custom-scrollbar">
                <div class="col-md-12">
                    <div class="row alert alert-warning">
                        <label class="mt-3">
                            Atenção!</br>
                            Sua última Filiação Mensal se encontra com pagamento pendente.</br>
                            Você só poderá fazer a antecipação quando não houverem transações em aberto.</br>
                            <a href="<?= BASEURL ?>financeiro/extrato">Clique aqui</a> para pagar!</label>
                    </div>
                </div>
            </div>
            <?php else: ?>
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h5 class="title">Antecipação de Parcelas</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                <form id="antecipationForm">
                    <input type="hidden" name="nextCharge" id="nextCharge">
                    <div class="row">
                    <div class="custom-scrollbar">
                        <label for="value">Quantas parcelas deseja antecipar?</label>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" onchange="myFunction()" name="parcel" id="parcel">
                                    <option value="1" selected>1 parcela</option>
                                    <?php for ($i = 2; $i <= 6; $i++): ?>
                                    <option value=<?= $i ?>><?= $i ?> parcela(s)</option>
                                    <?php endfor; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="custom-scrollbar">
                        <label class="mt-3">Forma de Pagamento:</label>
                        <div class="row">
                            <div class="col form-group">
                                <div class="custom-control custom-radio">
                                    <input id="creditCard" name="paymentMethod" type="radio" value="1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="creditCard">Cartão de crédito <i
                                            class="fa fa-credit-card"></i></label>
                                </div>
                            </div>
                        </div>
                        <div id="creditCards" style="display: none">
                            <?php foreach ($cards as $card): ?>
                            <div class="row pl-4">
                                <div class="col form-group">
                                    <div class="custom-control custom-radio">
                                        <input id="card-<?= $card->getId() ?>" name="card" type="radio"
                                            value="<?= $card->getId() ?>" class="custom-control-input">
                                        <label class="custom-control-label" for="card-<?= $card->getId() ?>">
                                            <?= $card->getLegend(true) ?></label>
                                    </div>
                                </div>
                            </div>
                            <?php endforeach; ?>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <div class="custom-control custom-radio">
                                    <input id="boleto" name="paymentMethod" type="radio" value="2"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="boleto">Boleto <i
                                            class="fa fa-barcode"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer col-md-8 text-end">
                        <button type="submit" id="save" name="save" class="btn btn-success">Confirmar</button>
                    </div>
                    <div class="custom-scrollbar">
                        <div class="col-md-8">
                            <div class="row alert alert-success">
                            <label class="mt-3">Valor da sua assinatura: <b><?= $subscriptionAffiliation->getValue(); ?></b></label>
                                <ul>
                                    <li id="lineslip" style="display:none"><label class="mt-3">Data de vencimento do
                                            boleto: <b id="slip" style="color:red"></b></label></li>
                                    <li><label class="mt-3">A próxima contribuição será dia: <b id="date"></b></label></li>
                                    <li><label class="mt-3">Contribuições antecipadas: <b id="quota"></b> </label></li>
                                    <li><label class="mt-3">Valor total: <b>R$ <b id="total"></b> </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
                <div style="display: none" id="message" class="alert" role="alert"></div>
                <div class="toast">
                    <div class="toast-body">
                        Código de Barras copiado
                    </div>
                </div>
            </div>
            <?php endif; ?>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/js/clipboard.min.js"></script>
<script src="<?= BASEURL ?>assets/js/moment.min.js"></script>

<script>
function myFunction() {
    var x = document.getElementById("parcel").value;
    var subscriptionValue = "<?= $subscriptionAffiliation->getValue(); ?>";
    var convert = subscriptionValue.replace("R$", "").replace(",", ".");
    var total = convert * x;
    var formatdecimal = parseFloat(total).toFixed(2);
    var format = formatdecimal.toString().replace(".", ",");
    var dgenerate = moment(new Date("<?= $subscriptionAffiliation->getDataGeraFatura()->format('m/d/Y'); ?>"));
    var nextGenerate = dgenerate.add(x, "M");
    var nextGenerateMain = nextGenerate;
    var dataFormat = nextGenerateMain.format("DD/MM/YYYY");
    var today = moment();
    var validslip = today.add(1, "d");
    var valid = validslip.format("DD/MM/YYYY");
    $("#nextCharge").val(dataFormat);
    document.getElementById("quota").innerHTML = x + " Parcela(s)";
    document.getElementById("total").innerHTML = format;
    document.getElementById("date").innerHTML = dataFormat;
    document.getElementById("slip").innerHTML = valid;
}

const formAdd = document.getElementById('antecipationForm');
const divMessageForm = document.getElementById('messageForm');
formAdd.addEventListener('submit', e => {
    $('#save').addClass('disabled');
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('antecipationForm');
    fetch("<?= BASEURL ?>api/financeiro/anticipation", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        divMessageForm.classList.add("alert-danger");
        divMessageForm.classList.remove("alert-success");
        $('#save').removeClass('disabled');
        response.json().then(json => {
            divMessageForm.innerHTML = json.message;
            divMessageForm.style.display = 'block';
            if (response.status === 201) {
                $('#save').addClass('disabled');
                divMessageForm.classList.add("alert-success");
                divMessageForm.classList.remove("alert-danger");
                formAdd.reset();
            }
        });
    });
});

$(document).ready(function() {
    myFunction();
    let clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function(e) {
        alert('Copiado para área de transferência');
    });
    $("input[name=paymentMethod]").change(function() {
        let paymentMethod = $("input[name=paymentMethod]:checked").val();
        if (paymentMethod == 1) {
            $("#creditCards").show();
            $("#lineslip").hide();
        } else if (paymentMethod == 2) {
            $("#lineslip").show();
            $("#creditCards").hide();
        } else {
            $("#creditCards").hide();
            $("#lineslip").hide();
        }
    });
    $("#value").change(function() {
        $("#divValue").hide();
        if ($("#value").val() == 0) {
            $("#divValue").show();
        }
    });
});
</script>