<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-4">
						<h5 class="title">Meus Cartões</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<button class="btn btn-success float-right" onclick="openModal(0)"><i class="fa fa-plus"></i>
								Adicionar Cartão
							</button>
						</div>
					</div>
				</div>
				<?php if ($transactionPending['validTransactionPending']) : ?>
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-danger" role="alert">
							<i class="fa fa-exclamation-triangle"></i>
							Atualize os dados do seu cartão agora para retomar sua filiação.
						</div>
					</div>
				</div>
				<?php endif; ?>
				<div class="row table-responsive-xl m-t-30">
					<div class="col">
						<table id="cardsTable" class="table table-bordered table-striped">
							<thead>
							<tr>
								<th class="text-center">Id</th>
								<th class="text-center">Número</th>
								<th class="text-center">Bandeira</th>
								<th class="text-center">Nome</th>
								<th class="text-center">Ações</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div style="display: none" id="message" class="alert" role="alert"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Cadastro de Cartão</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
			</div>
			<form id="cardForm">
				<div class="modal-body custom-scrollbar">
					<input type="hidden" name="cardId" id="cardId">
					<div class="alert alert-primary" role="alert">
						Resolução TSE - Art. 7º; § 2º da lei 23.604/2019 - <i>"As doações por meio de cartão de crédito
							somente são admitidas quando realizadas pelo titular do cartão."</i><br/><br/>
						<i>Os campos marcados com asterisco (*) são de preenchimento obrigatório</i>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="number">Número do cartão*</label>
								<input id="number" onkeyup="validCardNumber()" placeholder="Número do cartão"
								       name="number" type="text" class="form-control" required>
								<small class="text-danger" id="cardNumberError" style="display: none">
									Número do cartão inválido
								</small>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="cvv">Código de verificação*</label>
								<input id="cvv" name="cvv" placeholder="CVV" type="number" data-mask="0000"
								       class="form-control" required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="expiringDate">Validade do cartão*</label>
								<input id="expiringDate" name="expiringDate" placeholder="MM/AA" data-mask="00/00"
								       type="text" class="form-control" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="name">Nome como está no cartão*</label>
								<input id="name" name="name" placeholder="Nome como está no cartão" type="text"
								       class="form-control" required onBlur="javascript: ValidaNome(this.value);">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="flag">Bandeira do cartão</label>
								<select id="flag" name="flag" class="form-control" required>
									<option value="" disabled selected>Selecione</option>
									<option value="amex">American Express</option>
									<option value="diners">Diners Club</option>
									<option value="elo">Elo</option>
									<option value="hiper">Hipercard</option>
									<option value="mastercard">Mastercard</option>
									<option value="visa">Visa</option>
									<option value="">Outras</option>
								</select>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="international">Cartão emitido no Brasil?</label>
								<select id="international" name="international" class="form-control" required>
									<option value="" disabled selected>Selecione</option>
									<option value="1">Sim</option>
									<option value="0">Não</option>
								</select>
							</div>
						</div>
					</div>
					<div style="display: none" id="messageForm" class="alert" role="alert"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" id="save" class="btn btn-success">Confirmar</button>
				</div>
			</form>
		</div>
	</div>

</div>

<script src="<?= BASEURL ?>assets/js/jquery.creditCardValidator.js"></script>
<script>
	function ValidaNome(name) {
		var result = name.split(' ');
		var res = result[0].toLowerCase();
		var firstName = res.normalize("NFD").replace(/[^a-zA-Zs]/g, "");
		var namer = "<?php print $name; ?>";
		var res1 = namer.toLowerCase();
		var nameRegister = res1.normalize("NFD").replace(/[^a-zA-Zs]/g, "");
		if (firstName.length == 1) {
			if (nameRegister.substr(0, 1) != firstName.substr(0, 1)) {
				alert(
					"Permitido apenas cartões em nome do titular do cadastro!\nNome do cadastro: <?php print $user->GetName(); ?>\nEm caso de dúvidas, entre em contato com filiacao@novo.org.br.");
				$('#name').val('');
				return false;
			}
		} else {
			if (firstName != nameRegister) {
				alert(
					"Permitido apenas cartões em nome do titular do cadastro!\nNome do cadastro: <?php print $user->GetName(); ?>\nEm caso de dúvidas, entre em contato com filiacao@novo.org.br.");
				$('#name').val('');
				return false;
			}
		}
	}

	function validCardNumber() {
		$('#number').validateCreditCard(function (result) {
			if (result.valid == false) {
				$("#cardNumberError").show();
				return false;
			}
			$("#cardNumberError").hide();
			$('#flag').val(result.card_type.name);
		});
	}

	function openModal() {
		document.getElementById('cardForm').reset();
		$('#cardModal').modal('show');
		$('#messageForm').hide();
		fetch(`<?= BASEURL ?>api/financeiro/altera-cartao/`, {
			method: 'PUT',
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
		});
	}

	const formAdd = document.getElementById('cardForm');
	const divMessageForm = document.getElementById('messageForm');

	formAdd.addEventListener('submit', e => {
		$('#save').addClass('disabled');
		e.preventDefault();
		showLoading();
		let method = 'POST';
		let url = "<?= BASEURL ?>api/financeiro/meus-cartoes";
		let formData = formDataToJson('cardForm');
		if (formData.subscriptionId > 0) {
			method = 'PUT';
			url = `<?= BASEURL ?>api/financeiro/meus-cartoes/${formData.cardId}`;
		}
		fetch(url, {
			method: method,
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			divMessageForm.classList.add("alert-danger");
			divMessageForm.classList.remove("alert-success");
			$('#save').removeClass('disabled');
			response.json().then(json => {
				divMessageForm.textContent = json.message;
				divMessageForm.style.display = 'block';
				if (response.status === 201) {
					$('#save').addClass('disabled');
					divMessageForm.classList.add("alert-success");
					divMessageForm.classList.remove("alert-danger");
					formAdd.reset();
					generateTable();
					setTimeout(function () {
						$('#cardModal').modal('hide');
						location.reload()
					}, 3000);
				}
			});
		});
	});

	function remove(id) {
		showLoading();
		const divMessage = document.getElementById('message');
		let url = "<?= BASEURL ?>api/financeiro/meus-cartoes/" + id;
		fetch(url, {
			method: "DELETE",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				closeLoading();
				divMessage.textContent = json.message;
				divMessage.style.display = 'block';
				divMessage.classList.add("alert-danger");
				divMessage.classList.remove("alert-success");
				if (response.status === 201) {
					divMessage.classList.add("alert-success");
					divMessage.classList.remove("alert-danger");
					generateTable();
					setTimeout(function () {
						openModal();
					}, 2000);
				}
			});
		});
	}

	function activate(id) {
		showLoading();
		const divMessage = document.getElementById('message');
		let url = "<?= BASEURL ?>api/financeiro/meus-cartoes/ativar/" + id;
		fetch(url, {
			method: "PUT",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				closeLoading();
				divMessage.textContent = json.message;
				divMessage.style.display = 'block';
				divMessage.classList.add("alert-danger");
				divMessage.classList.remove("alert-success");
				if (response.status === 201) {
					divMessage.classList.add("alert-success");
					divMessage.classList.remove("alert-danger");
					generateTable();
				}
			});
		});
	}

	function generateCards(card) {
		let actions = '';
		actions =
			`<a href="#" onclick="remove(${card.id})" class="text-danger"><i class="fa fa-times" title="Pausar"></i> Remover cartão</a> `;
		if (card.status != 1) {
			actions =
				`<a href="#" onclick="activate(${card.id})" class="text-success"><i class="fa fa-refresh" title="Ativar"></i> Habilitar</a> `;
		}
		actions = `<td class="text-center">${actions} </td>`;
		return `<tr>
                    <td class="text-center">${card.id}</td>
                    <td class="text-center">${card.number}</td>
                    <td class="text-center">${card.flag}</td>
                    <td class="text-center">${card.name}</td>
                    ${actions}
                </tr>`;
	}

	function generateTable() {
		showLoading();
		fetch(`<?= BASEURL ?>api/financeiro/meus-cartoes`, {
			method: "GET",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				closeLoading();
				let cards = json.message;
				let options = cards.map(generateCards);
				$("#cardsTable tbody").empty();
				$("#cardsTable tbody").append(options);
			});
		});
	}

	$(document).ready(function () {
		generateTable();
	});
</script>