<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">
						<h5 class="title">Doação</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form id="donationForm">
					<div class="card-body custom-scrollbar">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="plan">Plano de Pagamento</label>
									<select class="form-select" onchange="changePlan(this.value)" required name="plan"
									        id="plan">
										<option value="0">Avulso</option>
										<option value="1">Mensal</option>
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="value">Valor</label>
									<select class="form-select" required name="value" id="value">
										<option value="" selected disabled hidden>Selecione o valor</option>
										<option value="100">R$ 100,00</option>
										<option value="50">R$ 50,00</option>
										<option value="30">R$ 30,00</option>
										<option value="20">R$ 20,00</option>
										<option value="0">Outros Valores</option>
									</select>
								</div>
							</div>
							<div class="col-md-4" id="divValue" style="display: none">
								<div class="form-group">
									<label for="value2">Valor</label>
									<input type="text" class="form-control" name="value2" id="value2"
									       placeholder="Valor">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="directory">Diretório</label>
									<select class="form-select" required name="directory" id="directory">
										<option value="" disabled>Selecione</option>
										<?php foreach ($directories as $directory): ?>
											<option value="<?= $directory->getId() ?>"
												<?= $user->getTituloEleitoralMunicipioId() && $user->getTituloEleitoralMunicipioId()->getId() ==
												$directory->getCityId() && $directory->isCity() ? 'selected' :
													($user->getTituloEleitoralUfId() && $user->getTituloEleitoralUfId()->getId() == $directory->getStateId() && $directory->isState() ? 'selected' : '') ?>><?= $directory->getName() ?></option>
										<?php endforeach; ?>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<label>Forma de Pagamento</label>
							<div class="row">
								<div class="col-md-4 form-group">
									<div class="custom-control custom-radio">
										<input id="creditCard" name="paymentMethod" type="radio" value="1"
										       class="custom-control-input" onclick="setPaymentMethod(0)"
										       required>
										<label class="custom-control-label" for="creditCard">Cartão de crédito <i
												class="fa fa-credit-card"></i></label>
									</div>
								</div>
								<div class="col-md-4 form-group">
									<div class="custom-control custom-radio">
										<input id="boleto" name="paymentMethod" type="radio" value="2"
										       class="custom-control-input" onclick="setPaymentMethod(0)"
										       required>
										<label class="custom-control-label" for="boleto">Boleto <i
												class="fa fa-barcode"></i></label>
									</div>
								</div>
								<div class="col-md-4 form-group">
									<div class="custom-control custom-radio">
										<input id="pix" name="paymentMethod" type="radio" value="3"
										       class="custom-control-input" onclick="setPaymentMethod(1)"
										       required>
										<label class="custom-control-label" for="pix">PIX <i
												class="fa fa-barcode"></i></label>
									</div>
								</div>
							</div>
							<div id="creditCards" style="display: none">
								<div class="row">
									<?php foreach ($cards as $card): ?>
										<div class="col-md-4 form-group">
											<div class="custom-control custom-radio">
												<input id="card-<?= $card->getId() ?>" name="card" type="radio"
												       value="<?= $card->getId() ?>" class="custom-control-input">
												<label class="custom-control-label"
												       for="card-<?= $card->getId() ?>"> <?= $card->getLegend(true) ?></label>
											</div>
										</div>
									<?php endforeach; ?>
								</div>
							</div>
						</div>
						<div style="display: none" id="messageForm" class="alert" role="alert"></div>
					</div>
					<div class="card-footer col">
						<div class="g-recaptcha" data-sitekey="6LeaZa4ZAAAAANFEcXpNEmkKs6se_6r3RguI4F7A"></div>
					</div>
					<div class="card-footer col text-end">
						<button type="submit" id="save" class="btn btn-success">Confirmar</button>
					</div>
				</form>
				<div style="display: none" id="message" class="alert" role="alert">
					<div id="qrcode"></div>
				</div>
				<div class="toast">
					<div class="toast-body">
						Código de Barras copiado
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/js/clipboard.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="<?= BASEURL ?>assets/js/qrcode.min.js" async defer></script>
<script>

	function changePlan(value) {
		$('#pix').attr("disabled", false);
		$('#pix').attr("readonly", false);
		if (value == 1) {
			$('#pix').attr("disabled", true);
			$('#pix').attr("readonly", true);
			$('#pix').prop("checked", false);
		}
	}

	const formAdd = document.getElementById('donationForm');
	const divMessageForm = document.getElementById('messageForm');

	formAdd.addEventListener('submit', e => {
		$('#save').addClass('disabled');
		e.preventDefault();
		showLoading();
		let formData = formDataToJson('donationForm');
		fetch("<?= BASEURL ?>api/financeiro/doacao", {
			method: 'POST',
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			divMessageForm.classList.add("alert-danger");
			divMessageForm.classList.remove("alert-success");
			$('#save').removeClass('disabled');
			response.json().then(json => {
				divMessageForm.innerHTML = json.message;
				divMessageForm.style.display = 'block';
				if (response.status === 201) {
					divMessageForm.classList.add("alert-success");
					divMessageForm.classList.remove("alert-danger");
					formAdd.reset();
				}
			});
		});
	});

	$(document).ready(function () {
		let clipboard = new ClipboardJS('.btn');
		clipboard.on('success', function (e) {
			alert('Copiado para área de transferência');
		});
		$("#value2").mask('#.##0,00', {reverse: true});
		$("input[name=paymentMethod]").change(function () {
			let paymentMethod = $("input[name=paymentMethod]:checked").val();
			if (paymentMethod == 1) {
				$("#creditCards").show(500);
			} else {
				$("#creditCards").hide(500);
			}
		});
		$("#value").change(function () {
			$("#divValue").hide(500);
			if ($("#value").val() == 0) {
				$("#divValue").show(500);
			}
		});
	});

	function setPaymentMethod(value) {
		if (value == 1) {
			$("#plan").val('0');
			document.getElementById('plan').setAttribute('readonly', '');
		} else {
			document.getElementById('plan').removeAttribute('readonly', '');
		}
	}
</script>

