<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        <h5 class="title">Extrato de Contribuições</h5>
                    </div>
                    <div class="col-md-3">
                        <?php if($reportIncome): ?>
                        <div class="row text-end">
                            <div class="col-md-12">
                                <a type="button" href="<?= BASEURL ?>financeiro/informe-rendimentos"
                                    class="btn btn-success text-center" target="_blank"><i class="fa fa-file"></i>
                                    Informe de Rendimentos
                                </a>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row table-responsive-xl">
                    <div class="col">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>ID</th>
                                    <th>Data Referência</th>
                                    <th>Origem</th>
                                    <th>Tipo</th>
                                    <th>Valor</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>

                            <tbody>
                                <?php foreach ($extract as $extract): ?>
                                <tr class="text-center <?= $extract->getStatusTypeString() == 'Pendente' ? 'text-success' :
										($extract->getStatusTypeString() == 'Expirado' ? 'text-danger' : '') ?>">
                                    <td><?= $extract->getId() ?></td>
                                    <td><?= $extract->getDataCreation() ? $extract->getDataCreation()->format('d/m/Y') : '' ?>
                                    </td>
                                    <td><?= $extract->getOriginTypeString() ?></td>
                                    <td><?= $extract->getPaymentTypeString() ?></td>
                                    <td><?= $extract->getValue() ?></td>
                                    <td>
                                        <?php if ($extract->getStatusTypeString() == 'Pendente' && $extract->getPeriodicidade() != 0 && $extract->getPaymentTypeString() == 'Boleto' && $extract->getUrl() != null) : ?>
                                        <a type="button" href="<?= $extract->getUrl() ?>" target="_blank"
                                            class="btn btn-success" title="Ver boleto">
                                            <i class="fa fa-eye"></i> Visualizar Boleto
                                        </a>
                                        <?php elseif ($extract->getStatusTypeString() == 'Pendente' && $extract->getPeriodicidade() == 0 && $extract->getPaymentTypeString() == 'Boleto' && $extract->getUrl() != null) : ?>
                                        <a type="button" href="<?= $extract->getUrl() ?>" target="_blank"
                                            class="btn btn-danger" title="Ver boleto">
                                            <i class="fa fa-eye"></i> Visualizar Segunda via
                                        </a>
                                        <?php elseif ($extract->getStatusTypeString() == 'Pendente' && $extract->getPaymentTypeString() == 'Boleto' && $extract->getUrl() == null) : ?>
                                        <a title="Pagar" class="text-success" href="#"
                                            onclick="openModal(<?= $extract->getId() ?>, '<?= $extract->getValue() ?>', '<?= $extract->getStatusTypeString() ?>')">
                                            <i class="fa fa-money"></i> Gerar Boleto
                                        </a>
                                        <?php elseif ($extract->getStatusTypeString() == 'Expirado' && $extract->getPaymentTypeString() == 'Boleto') : ?>
                                        Boleto Expirado
                                        <?php elseif ($extract->getStatusTypeString() == 'Acumulado') : ?>
                                        <?= $extract->getObs() ?>
                                        <?php elseif ($extract->getStatusTypeString() == 'Pendente' && $extract->getPaymentTypeString() == 'PIX') : ?>
                                        <a href="#" type="button" class="text-success"
                                            onclick="generateQrCode('<?= $extract->getId() ?>')">
                                            <i class="fa fa-qrcode"></i> Gerar QR Code
                                        </a>
                                        <?php else: ?>
                                        <?= $extract->getStatusTypeString() ?>
                                        <?php endif; ?>
                                    </td>
                                    <td class="text-center">
                                        <?php if (strpos($extract->getStatusTypeString(), 'Pago') !== false) : ?>
                                        <a class="text-primary" title="recibo"
                                            href="<?= BASEURL ?>financeiro/recibos/<?= $extract->getId() ?>"
                                            target="_blank">
                                            <i class="fa fa-file"></i> Recibo
                                        </a>
                                        <?php elseif ($extract->getStatusTypeString() == 'Pendente' || $extract->getStatusTypeString() == 'Expirado') : ?>
                                        <a type="button" title="Pagar" class="btn btn-success" href="#"
                                            onclick="openModal(<?= $extract->getId() ?>, '<?= $extract->getValue() ?>', '<?= $extract->getStatusTypeString() ?>')">
                                            <i class="fa fa-money"></i> Pagar
                                        </a>
                                        <?php endif; ?>
                                    </td>
                                </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pagamento-->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pagamento - <span id="id"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <form id="paymentForm">
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="transaction" id="transaction">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Valor</label>
                                <input id="value" class="form-control" disabled readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <input id="status" class="form-control" disabled readonly>
                            </div>
                        </div>
                    </div>
                    <label class="mt-3">Forma de Pagamento</label>
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-radio">
                                <input id="boleto" name="paymentMethod" type="radio" value="2"
                                    class="custom-control-input" required>
                                <label class="custom-control-label" for="boleto">Boleto <i
                                        class="fa fa-barcode"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-radio">
                                <input id="creditCard" name="paymentMethod" type="radio" value="1"
                                    class="custom-control-input" required>
                                <label class="custom-control-label" for="creditCard">Cartão de crédito <i
                                        class="fa fa-credit-card"></i></label></br>
                                <label class="custom-control-label" for="creditCard">Para adicionar um cartão <a
                                        href="<?= BASEURL ?>financeiro/meus-cartoes" class="text-success">Clique
                                        aqui!</a></label>
                            </div>
                        </div>
                    </div>
                    <div id="creditCards" style="display: none">
                        <?php foreach ($cards as $card): ?>
                        <div class="row pl-4">
                            <div class="col form-group">
                                <div class="custom-control custom-radio">
                                    <input id="card-<?= $card->getId() ?>" name="card" type="radio"
                                        value="<?= $card->getId() ?>" class="custom-control-input">
                                    <label class="custom-control-label" for="card-<?= $card->getId() ?>">
                                        <?= $card->getLegend(true) ?></label>
                                </div>
                            </div>
                        </div>
                        <?php endforeach; ?>
                    </div>
                    <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal QrCode-->
<div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog" aria-labelledby="qrCodeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input type="hidden" id="qrcodeText">
            <div class="modal-header">
                <h5 class="modal-title">Pagamento QrCode</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div style="display: none" id="messageFormQrCode" class="alert" role="alert"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/clipboard.min.js"></script>

<script>
const paymentForm = document.getElementById('paymentForm');
const divMessageForm = document.getElementById('messageForm');
const anticipateForm = document.getElementById('anticipateForm');

paymentForm.addEventListener('submit', e => {
    $('#save').addClass('disabled');
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('paymentForm');
    fetch('<?= BASEURL ?>api/financeiro/pagamento', {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        divMessageForm.classList.add("alert-danger");
        divMessageForm.classList.remove("alert-success");
        $('#save').removeClass('disabled');
        response.json().then(json => {
            divMessageForm.innerHTML = json.message;
            divMessageForm.style.display = 'block';
            if (response.status === 201) {
                $('#save').addClass('disabled');
                divMessageForm.classList.add("alert-success");
                divMessageForm.classList.remove("alert-danger");
                setTimeout(function() {
                    location.reload()
                }, 60000);
            }
        });
    });
});

function openModal(id, value, status) {
    document.getElementById('paymentForm').reset();
    document.getElementById('transaction').value = id;
    document.getElementById('id').textContent = id;
    document.getElementById('value').value = value;
    document.getElementById('status').value = status;
    $('#paymentModal').modal('show');
    $('#messageForm').hide();
    $("#creditCards").hide();
}

$(document).ready(function() {
    $("input[name=paymentMethod]").change(function() {
        let paymentMethod = $("input[name=paymentMethod]:checked").val();
        $("#creditCards").hide();
        if (paymentMethod == 1) {
            $("#creditCards").show();
        }
    });
});

const divMessageFormQrCode = document.getElementById('messageFormQrCode');

function generateQrCode(id) {
    showLoading();
    fetch('<?= BASEURL ?>financeiro/doacao/qrcode/' + id, {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
    }).then(response => {
        closeLoading();
        divMessageFormQrCode.classList.add("alert-danger");
        divMessageFormQrCode.classList.remove("alert-success");
        response.json().then(json => {
            divMessageFormQrCode.innerHTML = json.message;
            divMessageFormQrCode.style.display = 'block';
            if (response.status === 201) {
                divMessageFormQrCode.classList.add("alert-success");
                divMessageFormQrCode.classList.remove("alert-danger");
                document.getElementById('qrcodeText').value = json.qrcodeText;
            }
        });
        $('#qrCodeModal').modal('show');
    });
}

function copyQrCodeText() {
    var copyText = document.getElementById("qrcodeText");
    copyText.select();
    navigator.clipboard.writeText(copyText.value);
    alert("Copiado para área de transferência!");
}
</script>