<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header bg-gradient">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
                            <i class="fa fa-calendar text-primary"></i>
                        </div>
                    </div>
                    <div class="col">
                        <h5 class="title"><?= $title ?></h5>
                        <small class="text-muted">Pague suas contribuições em aberto com cartão de crédito ou boleto de forma fácil e rápida.</small>
                    </div>
                </div>
                <hr>
            </div>
			<form id="payoffForm">
				<div class="card-body">
					<div class="row">
						<div class="col-md-4">

							<!-- Resumo -->
							<div class="row">
								<div class="col-12">
									<div class="alert alert-success">
										<div class="d-flex flex-column gap-2">

											<div class="d-flex align-items-center">
												<i class="fa fa-info-circle me-2"></i>
												<span>Total de contribuições em aberto: <strong><?= $count ?></strong></span>
											</div>
											
											<div id="lineslip" style="display: none">
												<i class="fa fa-calendar"></i>
												<span>Data de vencimento do boleto: <strong id="slip" class="text-danger"></strong></span>
											</div>
											
											<div id="lineslip">
												<i class="fa fa-money"></i>
												<span>Valor total: <strong id="total"></strong></span>
											</div>
											
											<div id="lineslip">
												<i class="fa fa-list"></i>
												<span>Quantidade contribuições que serão pagas: <strong id="sliptotal"></strong></span>
											</div>
											
											<input id="totalValue" name="totalValue" value="" style="display:none">
											<input id="ids" name="ids" value="" style="display:none">
										</div>
									</div>
								</div>
							</div>

							<!-- Dados de pagamento -->
							<div class="row justify-content-center">
								<div class="col-md-4 form-group">
									<label class="mt-3">Forma de Pagamento:</label>
									<select name="paymentMethod" id="paymentMethod" class="form-control">
										<option value="">Selecione</option>
										<option value="1">Cartão de crédito</option>
										<option value="2">Boleto</option>
										<option value="11">Pix</option>
									</select>
								</div>
								<div class="col-md-4 form-group">
									<label class="mt-3">Parcelas:</label>
									<select name="parcel" id="parcel" class="form-control">
										<option value="1">1x</option>
										<option value="2">2x</option>
										<option value="3">3x</option>
										<option value="4">4x</option>
										<option value="5">5x</option>
										<option value="6">6x</option>										
									</select>
								</div>
								<div class="col-md-4 form-group">
									<label class="mt-3">&nbsp;</label>
									<button type="submit" class="btn btn-success form-control text-white">
										<i class="fa fa-check"></i> Confirmar</button>
								</div>
							</div>
						
							<!-- Cartões cadastrados -->
							<div id="creditCards" style="display: none">
								<?php if(!$cards): ?>
									<p>Deseja pagar com cartão? <a href="<?= BASEURL ?>financeiro/meus-cartoes" target="_blank">Clique aqui</a> para cadastrar.</p>
								<?php endif; ?>

								<?php foreach ($cards as $card): ?>
									<div class="row">
										<label class="mt-3">Cartões cadastrados:</label>
										<div class="col-md-12 form-group">
											<div class="custom-control custom-radio">
												<input id="card-<?= $card->getId() ?>" checked="checked"
													name="card"
													type="radio" value="<?= $card->getId() ?>"
													class="custom-control-input">
												<label class="custom-control-label"
													for="card-<?= $card->getId() ?>">
													<?= $card->getLegend(true) ?></label>
											</div>
										</div>
									</div>
								<?php endforeach; ?>
							</div>
						</div>
					</div>

					<!-- Divisor -->
					<div class="row">
						<div class="col-12">
							<hr>
						</div>
					</div>
					
					<div class="row">

						<!-- Tabela de contribuições -->
						<div class="col">
							<label class="mt-0">Contribuições em aberto:</label>
							<table class="table table-bordered table-striped" id="">
								<thead>
								<tr class="text-center">
									<th></th>
									<th>Valor</th>
									<th>Data referência</th>
									<th>Origem</th>
								</tr>
								</thead>
								<tbody>
								<?php if ($payoff): ?>
									<?php foreach ($payoff as $pay): ?>
										<tr class="text-center text-success ">
											<td>
												<input type="checkbox" class='checkbox' id="checkbox"
												       name=<?= $pay->getId() ?> value=<?= $pay->getValueSimple() ?>
												       style="transform: scale(1.5);">
											</td>
											<td>R$ <?= number_format($pay->getValueSimple(), 2, ',', '.'); ?></td>
											<td><?= $pay->getDataCreation() ? $pay->getDataCreation()->format('d/m/Y') : '' ?></td>
											<td><?= $pay->getOriginTypeString() ?></td>
										</tr>
									<?php endforeach; ?>
								<?php else: ?>
									<tr>
										<td class="text-center" colspan="4">Nenhum registro encontrado</td>
									</tr>
								<?php endif ?>
								</tbody>
							</table>

							<!-- Segundas vias em aberto -->
							<label class="mt-6">Segundas vias em aberto:</label>
							<table class="table table-bordered table-striped" id="">
								<thead>
									<tr class="text-center">
										<th>ID</th>
										<th>Valor</th>
										<th>Data referência</th>
										<th>Origem</th>
										<th>Status</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<?php if ($discharges): ?>
										<?php foreach ($discharges as $discharge): ?>
											<tr
												class="text-center <?= $discharge->getStatusTypeString() == 'Pendente' ? 'text-success' :
													($discharge->getStatusTypeString() == 'Expirado' ? 'text-danger' : '') ?>">
												<td><?= $discharge->getId() ?></td>
												<td>R$ <?= number_format($discharge->getValueSimple(), 2, ',', '.'); ?></td>
												<td><?= $discharge->getDataCreation() ? $discharge->getDataCreation()->format('d/m/Y') : '' ?>
												</td>
												<td><?= $discharge->getOriginTypeString() ?></td>
												<td><?= $discharge->getStatusTypeString() ?></td>
												<td>
													<a type="button" title="Pagar" class="btn btn-success" style="color: #fff"
													href="<?= BASEURL ?>financeiro/extrato" target="_blank">
														<i class="fa fa-money"></i> Pagar
													</a>
												</td>
											</tr>
										<?php endforeach; ?>
									<?php else: ?>
										<tr>
											<td class="text-center" colspan="6">Nenhum registro encontrado</td>
										</tr>
									<?php endif; ?>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/clipboard.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/moment.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/financialPayoff.js?v=<?= time() ?>"></script>

<style>
	hr {
		background-color: #DCDCDC;
	}
</style>