<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h5 class="title">Pagamento PIX</h5>
                    </div>
                    <div class="col">
                        <a href="javascript:history.back()" class='btn btn-success float-right'><i class='fa fa-undo'></i>
                            Voltar</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <img src="<?= $transaction->getUrl() ?>"> <br>
                <span class='btn btn-success' data-clipboard-text='<?= $transaction->getUrl() ?>'>PIX Copia e Cola<i
                        class='fa fa-qrcode'></i></span>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    let clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function(e) {
        alert('Copiado para área de transferência');
    });
});
</script>
<script src="<?= BASEURL ?>assets/js/clipboard.min.js"></script>