<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Espaço NOVO - Extrato</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
        <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
    </head>
    <!--dados pessoais-->
    <div class="card p-5">
        <div class="row">
            <div class="col-md-10">
                <h5 class="title">Informe de Rendimentos 2024</h5>
                <p>Neste ano, em função do período para declaração do Imposto de Renda (IR), disponibilizamos um resumo abaixo.</p>
                <p>Na declaração do imposto de renda, declarar no campo especifico “doações a partidos políticos”, de acordo com o recibo.</p>
            </div>
            <div class="col-md-2">
                <div class="float-end">
                    <a href="<?= BASEURL ?>financeiro/imprime-informe-rendimentos" class="btn btn-success btn-block" target="_blank"> 
                        <i class="fa fa-print"></i>Imprimir
                    </a>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td class="center" style="background: #10385a;
                        color: white;"><b>Resumo de Contribuições pagas em 2024<b></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><b>Doação efetuada por:</b> <?=$user->getName()?><br></td>
                <td><b>CPF/CNPJ:</b> <?=$user->getCpf()?></td>
            </tr>
        </table><br>
        <?php foreach($group as $group): ?>
        <table>
            <thead>
                <tr class="text-center" style="background: #f17021; color: white;">
                    <th>Data:</th>
                    <th>Origem:</th>
                    <th>Recibo:</th>
                    <th>Valor:</th>
                </tr>
            </thead>
            <?php foreach($group[0] as $key => $value): ?>
            <body>
                <tr class="text-center">
                    <td><?= $value['data_pago'] ?></td>
                    <td><?= $value['origem_transacao'] ?></td>
                    <td><?= $value['numero_recibo'] ?></td>
                    <td>R$ <?= $value['valor'] ?></td>
                </tr>
            </body>
            <?php endforeach ?>
            <table>
                <tr>
                    <td><b>Diretório:</b> <?= $group[1][0]['directory'] ?></td>
                    <td><b>CNPJ:</b> <?= $group[1][0]['cnpj'] ?></td>
                    <td><b>Total:</b> R$ <?= $group[1][0]['total'] ?></td>
                </tr>
            </table>
        </table>
        <?php endforeach ?>
    </div>
</html>
<style>
table {
    width: 100%
}
td {
    border: 1px solid grey
}
th,
td {
    padding: 0;
    padding: 5px
}
table {
    border: 1px solid grey;
    border-collapse: collapse;
}
.center {
    text-align: center;
}
</style>