<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-4">
						<h5 class="title">Assinaturas</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row table-responsive-xl">
					<div class="col">
						<table id="subscriptions" class="table table-bordered table-striped">
							<thead>
							<tr>
								<th class="text-center">Id</th>
								<th class="text-center">Tipo</th>
								<th class="text-center">Situação</th>
								<th class="text-center">Próxima(s) renovação(ões)</th>
								<th class="text-center">Periodicidade</th>
								<th class="text-center">Valor</th>
								<th class="text-center">Forma pagamento</th>
								<th class="text-center">Ações</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div style="display: none" id="message" class="alert" role="alert"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Alteração de Assinatura</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
			</div>
			<form id="subscriptionForm">
				<div class="modal-body custom-scrollbar">
					<input type="hidden" name="subscriptionId" id="subscriptionId">
					<div class="row">
						<div class="col col-md-6">
							<div class="form-group">
								<label for="value">Valor</label>
								<input type="text" class="form-control" required name="value" id="value"
								       placeholder="Valor">
							</div>
						</div>
						<div class="col col-md-6">
							<div class="form-group">
								<label for="day">Dia de cobrança</label>
								<div class="row" id="monthlyDiv" style="margin-top: 15px;">
									<div class="col form-group">
										<div class="custom-control custom-radio">
											<input class="custom-control-input" type="radio" name="day" id="day1" value="7">
											<label class="custom-control-label" for="monthly">7° dia</label>
											<input class="custom-control-input" type="radio" name="day" id="day2" value="12" style="margin-left: 10px;">
											<label class="custom-control-label" for="monthly">12° dia</label>
											<input class="custom-control-input" type="radio" name="day" id="day3" value="17" style="margin-left: 10px;">
											<label class="custom-control-label" for="monthly">17° dia</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" id="divDirectory" style="display:none">
						<div class="col form-group">
							<label for="directory">Diretório</label>
							<select class="form-control" name="directory" id="directory">
								<?php foreach ($directories as $directory): ?>
									<option value="<?= $directory->getId() ?>"><?= $directory->getName() ?></option>
								<?php endforeach; ?>
							</select>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col col-md-3">
							<label class="mt-3">Plano:</label>
							<div class="row" id="monthlyDiv">
								<div class="col form-group">
									<div class="custom-control custom-radio">
										<input class="custom-control-input" type="radio" name="frequency" id="monthly"
										       value="1">
										<label class="custom-control-label" for="monthly">
											Mensal
										</label>
									</div>
								</div>
							</div>
							<div class="row" id="semesterDiv">
								<div class="col form-group">
									<div class="custom-control custom-radio">
										<input class="custom-control-input" type="radio" name="frequency" id="semester"
										       value="6" onclick="setPaymentMethod()">
										<label class="custom-control-label" for="semester">
											Semestral
										</label>
									</div>
								</div>
							</div>
							<div class="row" id="DivYearly" style="display:none">
								<div class="col form-group">
									<div class="custom-control custom-radio">
										<input class="custom-control-input" type="radio" name="frequency" id="yearly"
										       value="12">
										<label class="custom-control-label" for="yearly">
											Anual
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col col-md-9">
							<label class="mt-3">Forma de Pagamento:</label>
							<div class="row">
								<div class="col form-group">
									<div class="custom-control custom-radio">
										<input id="boleto" name="paymentMethod" type="radio" value="2"
										       class="custom-control-input" required>
										<label class="custom-control-label" for="boleto">Boleto <i
												class="fa fa-barcode"></i></label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col form-group">
									<div class="custom-control custom-radio">
										<input id="creditCard" name="paymentMethod" type="radio" value="1"
										       class="custom-control-input" required>
										<label class="custom-control-label" for="creditCard">Cartão de crédito <i
												class="fa fa-credit-card"></i><label></br> 
										<label class="custom-control-label" for="creditCard">Para gerenciar cartões
											<a href="<?= BASEURL ?>financeiro/meus-cartoes">
												clique aqui!
											</a>
										</label>
									</div>
								</div>
							</div>
							<div id="creditCards" style="display: none">
								<?php foreach ($cards as $card): ?>
									<div class="row pl-4">
										<div class="col form-group">
											<div class="custom-control custom-radio">
												<input id="card-<?= $card->getId() ?>" name="card" type="radio"
												       value="<?= $card->getId() ?>" class="custom-control-input">
												<label class="custom-control-label" for="card-<?= $card->getId() ?>">
													<?= $card->getLegend(true) ?></label>
											</div>
										</div>
									</div>
								<?php endforeach; ?>
							</div>
						</div>
						<div class="col col-md-12">
							<div style="display: none" id="messageForm" class="alert" role="alert"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
						<button type="submit" id="save" class="btn btn-success">Confirmar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script>
	function setDay(day) {
		switch(day) {
			case 7:
				$('#day1').prop("checked", true);
				break;
			case 12:
				$('#day2').prop("checked", true);
				break;
			case 17:
				$('#day3').prop("checked", true);
		}
	}

	function openModal(id) {
		$('#save').removeClass('disabled');
		document.getElementById('subscriptionForm').reset();
		document.getElementById('subscriptionId').value = id;
		$('#subscriptionModal').modal('show');
		$('#messageForm').hide();
		$("#value").maskMoney({
			prefix: 'R$ ',
			allowNegative: true,
			thousands: '.',
			decimal: ',',
			affixesStay: false
		});
		$("#creditCards").hide();
		if (id > 0) {
			showLoading();
			fetch(`<?= BASEURL ?>api/financeiro/assinaturas/${id}`, {
				method: "GET",
				credentials: 'same-origin',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				}
			}).then(response => {
				response.json().then(json => {
					closeLoading();
					let subscription = json.message;
					$('#value').val(subscription.value);
					$("#demo5").maskMoney('mask');
					setDay(subscription.day);
					$('#boleto').prop("checked", true);
					$("#semesterDiv").hide();
					document.getElementById("directory").value = subscription.directory;
					if (subscription.paymentType == 1) {
						$('#creditCard').prop("checked", true);
						$("#creditCards").show();
					}
					if (subscription.paymentType == 1) {
						$("#semesterDiv").hide();
						$('#monthly').prop("disabled", false);
					} else if (subscription.paymentType == 2) {
						if (subscription.frequency != 1) {
							//$("#monthlyDiv").hide();
							$('#monthly').prop("disabled", true);
						}
					}
					if (subscription.frequency == 1) {
						$('#monthly').prop("checked", true);
					} else if (subscription.frequency == 6) {
						$('#semester').prop("checked", true);
						$('#boleto').prop("checked", true);
						$("#creditCards").hide();
						$("#semesterDiv").show();
					} else if (subscription.frequency == 12) {
						$('#yearly').prop("checked", true);
					}
					if (subscription.origin == 1) {
						$("#divDirectory").show();
						$("#DivYearly").hide();
					} else {
						$("#divDirectory").hide();
						$("#DivYearly").show();
					}
				});
			});
		}
	}

	const formAdd = document.getElementById('subscriptionForm');
	const divMessageForm = document.getElementById('messageForm');
	formAdd.addEventListener('submit', e => {
		$('#save').addClass('disabled');
		showLoading();
		e.preventDefault();
		let method = 'POST';
		let url = "<?= BASEURL ?>api/financeiro/assinaturas";
		let formData = formDataToJson('subscriptionForm');
		if (formData.subscriptionId > 0) {
			method = 'PUT';
			url = `<?= BASEURL ?>api/financeiro/assinaturas/`;
		}
		fetch(url, {
			method: method,
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			divMessageForm.classList.add("alert-danger");
			divMessageForm.classList.remove("alert-success");
			$('#save').removeClass('disabled');
			response.json().then(json => {
				divMessageForm.textContent = json.message;
				divMessageForm.style.display = 'block';
				if (response.status === 201) {
					$('#save').addClass('disabled');
					divMessageForm.classList.add("alert-success");
					divMessageForm.classList.remove("alert-danger");
					setTimeout(function () {
						formAdd.reset();
						$('#subscriptionModal').modal('hide');
						generateTable();
					}, 3000);
				}
			});
		});
	});

	function remove(id) {
		let text = "Tem certeza que pausar esta assinatura?";
		if (confirm(text) == false) return;

		showLoading();
		const divMessage = document.getElementById('message');
		let url = "<?= BASEURL ?>api/financeiro/assinaturas/" + id;
		fetch(url, {
			method: "DELETE",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				closeLoading();
				divMessage.textContent = json.message;
				divMessage.style.display = 'block';
				divMessage.classList.add("alert-danger");
				divMessage.classList.remove("alert-success");
				if (response.status === 201) {
					divMessage.classList.add("alert-success");
					divMessage.classList.remove("alert-danger");
					generateTable();
				}
			});
		});
	}

	function activate(id) {
		showLoading();
		const divMessage = document.getElementById('message');
		let url = "<?= BASEURL ?>api/financeiro/assinaturas/ativar/" + id;
		fetch(url, {
			method: "PUT",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				closeLoading();
				divMessage.textContent = json.message;
				divMessage.style.display = 'block';
				divMessage.classList.add("alert-danger");
				divMessage.classList.remove("alert-success");
				if (response.status === 201) {
					divMessage.classList.add("alert-success");
					divMessage.classList.remove("alert-danger");
					generateTable();
				}
			});
		});
	}

	function generateSubscriptions(subscription) {

		// Validação inicial mais segura
		if (!subscription?.value || parseFloat(subscription.value) <= 0) {
			return '';
		}

		let actions = [];

		// Se não estiver pausada
		if (subscription.status !== 'paused') {
			if(subscription.value != "R$ 0,00") {
				// Botão de Editar
				actions += subscription.origin === 3 
					? `<div class="d-flex justify-content-center">
						<a href="https://novo.org.br/planos-de-contribuicao-pagamento/" 
							class="btn btn-link text-info d-flex align-items-center gap-2 p-0" 
							style="text-decoration: none; font-size: 14px;"
							target="_blank">
							<i class="fa fa-external-link" title="Editar"></i>
							<span>Editar</span>
						</a>
					</div>`
					: `<div class="d-flex justify-content-center ">
						<a href="#" 
							onclick="openModal(${subscription.id})" 
							class="btn btn-link text-info d-flex align-items-center gap-2 p-0"
							style="text-decoration: none; font-size: 14px;">
							<i class="fa fa-pencil" title="Editar"></i>
							<span>Editar</span>
						</a>
					</div>`;
			}

			// Botão de Pausar
			if (subscription.origin !== 2) {
				actions += `<div class="d-flex justify-content-center">
							<a href="#" 
								onclick="remove(${subscription.id})" 
								class="btn btn-link text-danger d-flex align-items-center gap-2 p-0"
								style="text-decoration: none; font-size: 14px;">
								<i class="fa fa-times" title="Pausar"></i>
								<span>Pausar</span>
							</a>
						</div>`;
			}
		} 

		// Se estiver pausada
		else if (subscription.origin !== 2) {
			actions.push(
				`<a href="#" 
				onclick="activate(${subscription.id})" 
				class="text-success d-inline-flex align-items-center gap-2">
				<i class="fa fa-refresh" title="Ativar"></i>
				<span>Ativar</span>
				</a>`
			);
		};

		let nextCharge = `<button type="button" class="btn btn-secondary" style="margin: 2px;">${subscription.nextCharge}</button>`;
		if(subscription.installments != "") {
			let installments = subscription.installments;
			installments = installments.split("-");
			nextCharge = "";
			installments.forEach(function(installments, i) {
				if(installments != "") {
					nextCharge += `<button type="button" class="btn btn-secondary" style="margin: 2px;">${installments}</button><br>`;
				};	
			});
		};

		actions = `<td class="text-center">${actions} </td>`;
		return `<tr>
                <td class="text-center">${subscription.id}</td>
                <td class="text-center">${subscription.originStr}</td>
                <td class="text-center">${subscription.statusStr}</td>
                <td class="text-center">${nextCharge}</td>
                <td class="text-center">${subscription.frequencyStr}</td>
                <td class="text-center">${subscription.value}</td>
                <td class="text-center">${subscription.paymentTypeString}</td>
                ${actions}
            </tr>`;
	}

	function generateTable() {
		showLoading();
		fetch(`<?= BASEURL ?>api/financeiro/assinaturas`, {
			method: "GET",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				closeLoading();
				let subscriptions = json.message;
				let options = subscriptions.map(generateSubscriptions);
				$("#subscriptions tbody").empty();
				$("#subscriptions tbody").append(options);
				<?php if ($affiliation): ?>
				if (init) {
					<?php if ($subscriptionAffiliation): ?>
					openModal(<?= $subscriptionAffiliation->getId() ?>);
					init = false;
					<?php endif; ?>
				}
				<?php endif; ?>
			});
		});
	}

	function setPaymentMethod() {
		$('#boleto').prop("checked", true);
		$("#creditCards").hide();
	}

	var init = true;
	$(document).ready(function () {
		generateTable();
		$("input[name=paymentMethod]").change(function () {
			let paymentMethod = $("input[name=paymentMethod]:checked").val();
			if (paymentMethod == 1) {
				$("#creditCards").show();
				$("#monthlyDiv").show();
				$("#semesterDiv").hide();
				$('#semester').prop("checked", false);
				$('#monthly').prop("disabled", false);
			} else {
				$("#creditCards").hide();
			}
			if (paymentMethod == 2) {
				$("#semesterDiv").hide();
				//$("#monthlyDiv").hide();
				//$('#monthly').prop("checked", false);
			}
		});
	});
</script>

<style>
	label {
		display: inline;
	}

	.table > tbody {
		/* vertical-align: inherit; */
		vertical-align: middle;
	}
</style>