<link rel="stylesheet" href="<?= BASEURL ?>assets/css/intlTelInput.min.css">
<script src="<?= BASEURL ?>assets/js/intlTelInput.min.js"></script>
<script src="<?= BASEURL ?>assets/js/moment.min.js"></script>

<div class="card-body" style="background: #F5921E;">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="row">
                <h2 class="counter-up" data-count-to="<?= $valueSaved ?>"></h2>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script>
const tempo_intervalo = 98; //ms -> define a velocidade da animação
const tempo = 3000; //ms -> define o tempo total da animaçao

$('.counter-up').each(function() {
    let count_to = $(this).data('countTo');
    let intervalos = tempo / tempo_intervalo; //quantos passos de animação tem
    let incremento = count_to / intervalos; //quanto cada contador deve aumentar
    let valor = 0;
    let el = $(this);
    let timer = setInterval(function() {
        if (valor >= count_to) { //se já contou tudo tem de parar o timer
            valor = count_to;
            clearInterval(timer);
        }
        let texto = valor.toLocaleString('pt-BR',{style: 'currency', currency: 'BRL'});
        el.text(texto);
        valor += incremento;
    }, tempo_intervalo);
});
</script>


<style>
h2 {
    font-size: <?= $fontSize ?>;
    background: #1A2948;
    color: #ffffff;
    font-weight: 700;
    font-family: "Mark Pro", Sans-serif;
    width: 100%;
}

.legend {
    font-size: 20px;
    color: #f5921e;
    color: #fff;
    font-weight: 700;
    font-family: "Mark Pro", Sans-serif;
}
</style>