<link rel="stylesheet" href="<?= BASEURL ?>assets/css/intlTelInput.min.css">
<script src="<?= BASEURL ?>assets/js/intlTelInput.min.js"></script>
<script src="<?= BASEURL ?>assets/js/moment.min.js"></script>

<div class="card-body">
    <div class="chart-container">
        <label style="color: white; text-align: center; font-size:18px;"><?= $total ?> pessoas já assinaram!</label>
        <canvas class="line-chart" id="chart" style="display: block;height: 55px; width: 290px;"></canvas>
    </div>
</div>

<div class="col" style="display: block;">
    <form id="personalData">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input id="name" placeholder="Nome" name="name" value="" type="text"
                                        class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input id="email" placeholder="E-mail" name="email" value="" type="text"
                                        class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input id="email" placeholder="Whatsapp" name="phone" value="" type="text"
                                        class="form-control" data-mask="(99) 99999-9999">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="width: 40%;">
                                <div class="form-group" >
                                    <select class="form-control" id="state" name="state"
                                            onchange="getCities(this.value)" required>
                                        <option value="">Estado</option>
                                        <option value="1">Acre</option>
                                        <option value="2">Alagoas</option>
                                        <option value="3">Amazonas</option>
                                        <option value="4">Amapá</option>
                                        <option value="5">Bahia</option>
                                        <option value="6">Ceará</option>
                                        <option value="7">Distrito Federal</option>
                                        <option value="8">Espírito Santo</option>
                                        <option value="9">Goiás</option>
                                        <option value="10">Maranhão</option>
                                        <option value="11">Minas Gerais</option>
                                        <option value="12">Mato Grosso do Sul</option>
                                        <option value="13">Mato Grosso</option>
                                        <option value="14">Pará</option>
                                        <option value="15">Paraíba</option>
                                        <option value="16">Pernambuco</option>
                                        <option value="17">Piauí</option>
                                        <option value="18">Paraná</option>
                                        <option value="19">Rio de Janeiro</option>
                                        <option value="20">Rio Grande do Norte</option>
                                        <option value="21">Rondônia</option>
                                        <option value="22">Roraima</option>
                                        <option value="23">Rio Grande do Sul</option>
                                        <option value="24">Santa Catarina</option>
                                        <option value="25">Sergipe</option>
                                        <option value="26">São Paulo</option>
                                        <option value="27">Tocantins</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8" style="width: 60%;">
                                <div class="form-group">
                                    <select required name="city" id="city" class="form-control" required>
                                        <option value="">Cidade</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div style="display: none" id="divMessageForm" class="alert" role="alert"></div>
                        <div id="divUpdate">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="checkbox" id="news" name="news" value="1">
                                        <label for="news" id="newlabel" style="font-size: 17px; color: white"> Mantenha-me atualizado sobre a CPI e o NOVO.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="g-recaptcha" data-sitekey="6LeaZa4ZAAAAANFEcXpNEmkKs6se_6r3RguI4F7A"></div>
                                    <button type="submit" class="btn"
                                        style="width: 100%; background: #f17021; color: white;">ENVIAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script>
const formAdd = document.getElementById('personalData');
const divMessageForm = document.getElementById('divMessageForm');
const divUpdate = document.getElementById('divUpdate');

formAdd.addEventListener('submit', e => {
    e.preventDefault();
    //showLoading();
    let method = 'POST';
    let url = "<?= BASEURL ?>api/cadastros/abaixo-assinado";
    let formData = formDataToJson('personalData');
    fetch(url, {
        method: method,
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        response.json().then(json => {
            closeLoading();
            divUpdate.classList.add("d-none");
            divMessageForm.textContent = json.message;
            divMessageForm.style.display = 'block';
            divMessageForm.classList.add("alert-danger");
            divMessageForm.classList.remove("alert-primary");
            if (response.status === 201) {
                document.getElementById("personalData").reset();
                divMessageForm.classList.add("alert-primary");
                divMessageForm.classList.remove("alert-danger");
                setTimeout(function() {
                    parent.location.reload();
                }, 1000);
            }
        });
    });
});

function getCityOption(city) {
    return `<option value="${city.id}">${city.name}</option>`;
}

function getCities(state, divCities) {
    fetch(`<?= BASEURL ?>api/sistema/cidades/${state}`, {
        method: "GET",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }
    }).then(response => {
        response.json().then(json => {
            let cities = json.message;
            let options;
            options = '<option value="">Selecione a cidade</option>' + cities.map(getCityOption);
            document.getElementById('city').innerHTML = options;
            loadAddress();
        });
    });
}
</script>

<script>
var ctx = document.getElementsByClassName("line-chart");
var chartGraph = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: [0],
        datasets: [{
                backgroundColor: "#f17021",
                data: [<?= $total ?>],
                stack: 1,
                xAxisID: 'x-axis-0',
                yAxisID: 'y-axis-0'
            },
            {
                backgroundColor: "#fff",
                data: [700000],
                stack: 1,
                xAxisID: 'x-axis-0',
                yAxisID: 'y-axis-0'
            },
        ],
    },
    options: {
        animation: {
            duration: 7000,
        },
        legend: {
            display: false
        },
        tooltips: {
            enabled: false
        },
        hover: {
            mode: null
        },
        scales: {
            xAxes: [{
                gridLines: {
                    display: false
                },
                ticks: {
                    min: 0,
                    max: 700000,
                    stepSize: 350000,
                    //display: false
                    fontColor: 'white'
                },
            }],
            yAxes: [{
                gridLines: {
                    display: false,
                    offset: true
                },
                categoryPercentage: 0.7,
                barPercentage: 0.7,
                ticks: {
                    display: false,
                    beginAtZero: true
                },
            }],
        },
    },
});
</script>

<style>
body {
    background: transparent;
}

.card {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
}

.chart-container {
    text-align: center;
    font-size: 17px;
    margin-top: 5px;
}

#divMessageForm {
    text-align: center;
}

#news {
    transform: scale(1.5);
    margin: 10px
}
</style>