<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3 class="title text-center"><?= $course->getTitle() ?></h3>
            </div>


            <form class="card-body form-group was-validated" novalidate id="register" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <img src="<?= $course->getImg() ?>" class="img-fluid" style="max-height: 200px">
                    </div>
                    <div class="col-md-6 text-justify"><?= nl2br($course->getDescription()) ?></div>
                </div>

                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>

                <?php if (!$buy): ?>
                    <input type="hidden" name="courseId" value="<?= $course->getId() ?>">
                    <input type="hidden" name="flag" id="flag">
                    <input type="hidden" id="token" name="token">

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label>Preço</label>
                            <input class="form-control" disabled readonly
                                   value="<?= \App\Helpers\Utils::formatMoney($course->getPrice()) ?>">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="paymentMethod">Forma de Pagamento</label>
                            <select class="form-control" onchange="setPaymentMethod(this.value)" required
                                    name="paymentMethod" id="paymentMethod">
                                <option value="1">Cartão de Crédito</option>
                                <option value="2">Boleto</option>
                                <option value="3">Pix</option>
                            </select>
                        </div>
                    </div>

                    <div id="creditCard">


                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cardName">Nome como está no
                                    cartão</label>
                                <input id="cardName" name="cardName" placeholder="Nome como está no cartão"
                                       type="text" class="form-control text-uppercase"
                                       onkeyup="this.value = this.value.toUpperCase();"
                                       data-iugu="full_name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cardNumber">Número do cartão</label>
                                <input id="cardNumber" data-mask="9999 9999 9999 9999"
                                       placeholder="Número do cartão" name="cardNumber" type="text"
                                       class="form-control" data-iugu="number">
                                <small class="text-danger" id="cardNumberError" style="display: none">
                                    Número do cartão inválido
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cvv">Código</label>
                                <input id="cvv" name="cvv" placeholder="CVV" type="number" data-mask="0000"
                                       class="form-control" autocomplete="off" maxlength="4"
                                       data-iugu="verification_value">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="expiringDate">Validade</label>
                                <input id="expiringDate" name="expiringDate" placeholder="MM/AA"
                                       data-mask="00/00" type="text" class="form-control" autocomplete="off"
                                       maxlength="5" data-iugu="expiration">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="coupon">Cupom Desconto</label>
                            <input id="coupon" name="coupon" placeholder="Cupom Desconto"
                                   type="text" class="form-control text-uppercase"
                                   onkeyup="this.value = this.value.toUpperCase(); getDiscount(this.value)">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="discount">Valor Desconto</label>
                            <input class="form-control" disabled readonly id="discount"
                                   value="<?= \App\Helpers\Utils::formatMoney(0) ?>">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col text-end m-t-30">
                            <button type="submit" id="save" class="btn btn-success text-end">Comprar</button>
                        </div>
                    </div>
                <?php endif; ?>
            </form>
            <div class="card-body" id="pix">
            </div>
            <div class="card-body d-none" id="errorMoodle">
                <div class="alert alert-danger">
                    Compra realizada com sucesso, porém ocorreu um erro ao efetuar sua matrícula. <br>
                    <b id="errorMoodleMsg">teste</b>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>


<?php if (!$buy): ?>

    <script>
        $(document).ready(function () {
            let clipboard = new ClipboardJS('.btn');
            clipboard.on('success', function (e) {
                alert('Copiado para área de transferência');
            });
        });
    </script>
    <script src="<?= BASEURL ?>assets/js/clipboard.min.js"></script>
    <script type="text/javascript" src="https://js.iugu.com/v2"></script>
    <script>

        function getDiscount(coupon) {
            if (coupon == '') {
                document.getElementById('discount').value = formatMoney(0);
                return;
            }
            fetch(`${baseUrl}cursos-libertas/cupom/<?= $course->getId() ?>/${coupon}`, {
                method: "GET",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                response.json().then(json => {
                    document.getElementById('discount').value = formatMoney(json.discount ?? 0);
                });
            });
        }

        function setPaymentMethod(value) {
            $('#creditCard').hide();
            if (value == 1) $('#creditCard').show();
        }

        const formPayment = document.getElementById('register');
        formPayment.addEventListener('submit', e => {
            e.preventDefault();
            showLoading();
            let formData = formDataToJson('register');
            var tokenResponseHandler = function (data) {
                if (data.errors && formData.paymentMethod == 1) {
                    closeLoading();
                    showNotify('danger', 'Cartão Inválido', 1500);
                    return;
                }
                $("#token").val(data.id);
                formData = formDataToJson('register');
                fetch("<?= BASEURL ?>cursos-libertas/compra", {
                    method: "POST",
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                }).then(response => {
                    closeLoading();
                    response.json().then(json => {
                        closeLoading();
                        if (response.status === 201) {
                            formPayment.classList.add('d-none');
                            formPayment.reset();
                            if (json.loginUrl != '') window.open(json.loginUrl, '_blank');
                            if (json.msgError != '') {
                                document.getElementById('errorMoodle').classList.remove('d-none');
                                document.getElementById('errorMoodleMsg').textContent = json.msgError;
                            }
                            if (json.url != '') {
                                window.open(json.url, '_blank');
                                document.getElementById('pix').innerHTML = json.message;
                            }
                            if (json.url == '' && json.msgError == '') {
                                showNotify('success', json.message, 0);
                                setTimeout(function () {
                                    window.location.href = baseUrl + "cursos-libertas/minhas-compras";
                                }, 1000);
                            }
                        } else {
                            showNotify('danger', json.message, 1500);
                        }
                    });
                });
            }
            Iugu.setAccountID("<?= IUGU_LIBERTAS_ID_JS ?>");
            Iugu.createPaymentToken(formPayment, tokenResponseHandler);
            return false;
        });
    </script>

<?php endif; ?>