<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?php echo $title ?></h5>
            </div>
            <div class="card-body">
                <iframe src="https://novo.org.br/wp-content/uploads/2020/06/Codigo_Conduta_Partido_NOVO.pdf#toolbar=0" style="width:100%; height:1220px"></iframe>
            </div>
        </div>
    </div> 
</div>