<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="title"><?= $title ?></h5>
			</div>
			<div class="card-body">
				<div class="row table-responsive-xl">
					<div class="col">
						<table class="table table-bordered table-striped" width="100%" cellspacing="0">
							<thead>
							<tr class="text-center">
								<th>Data</th>
								<th>Titulo</th>
								<th>Ações</th>
							</tr>
							</thead>
							<tbody>
							<?php foreach ($contents as $content): ?>
								<tr>
									<td class="text-center"><?= $content->getDate()->format('d/m/Y') ?></td>
									<td><?= $content->getTitle() ?></td>
									<td class="text-center">
										<div class="col-md-12">
											<?php if ($content->getLink() == 1) : ?>
												<a href="<?= $content->getLinkContent() ?>" target="_blank"> <i
														class="fa fa-eye"></i> </a>
											<?php else: ?>
												<a href="https://gestao.novo.org.br/uploads/comunicados/<?= $content->getArchive() ?>#toolbar=0"
												   target="_blank"><i class="fa fa-eye"></i></a>
												<!--<a href="<?= BASEURL ?>comunicados/visualizar/<?= $content->getId() ?>/" target="_blank"> <i class="fa fa-eye"></i> </a>-->
											<?php endif; ?>
										</div>
									</td>
								</tr>
							<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



