<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12 text-center topTitle">
                <h5 class="title"><?= $title ?></h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="keyword">Palavra Chave:</label>
                        <input class="form-control" id="keyword" name="keyword" type="text" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end">
                    <button class="btn btn-danger" type="reset" onclick="resetTable('Trail')">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row table-responsive-xl custom-scrollbar">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Data</th>
                            <th class="text-center">Titulo</th>
                            <th class="text-center">Descrição</th>
                            <th class="text-center">Arquivo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/communicated/localDocuments.js?v=<?= time() ?>"></script>

<style>
hr {
    background-color: #f17021;
}
</style>