<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <div class="card-body">
                <embed src="https://gestao.novo.org.br/uploads/comunicados/<?= $file ?>#toolbar=0" width="100%" height="1000">
            </div>
        </div>
    </div> 
</div>