<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-6">
						<h5 class="title">Ouvidoria</h5>
					</div>
					<div class="col-md-6 text-end">
						<a class="btn btn-success" href="<?= BASEURL ?>ouvidoria/cadastro">Cadastrar</a>
					</div>
				</div>
			</div>

			<div class="card-body">
				<div class="row table-responsive-xl">
					<div class="col">
						<table class="table table-bordered table-striped" id="dataTable">
							<thead>
							<tr class="text-center">
								<th>ID</th>
								<th>Data</th>
								<th>Manifestação</th>
								<th>Destino</th>
								<th>Status</th>
							</tr>
							</thead>
							<body>
							<?php foreach ($ombudsmans as $ombudsman): ?>
								<tr class="text-center">
									<td><?= $ombudsman->getId() ?></td>
									<td><?= $ombudsman->getCreated()->format('d/m/Y') ?></td>
									<td><a href="<?= BASEURL ?>ouvidoria/<?= $ombudsman->getId() ?>">
											<?= $ombudsman->getOmbudsmanSubject()->getName() ?></a>
									</td>
									<td><?= $ombudsman->getDestiny()->getName() ?></td>
									<td><?= $ombudsman->getStatusString() ?></td>
								</tr>
							<?php endforeach; ?>
							</body>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

