<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Ouvidoria - Cadastro de Solicitação</h5>
            </div>
            <div class="card-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="subject">Manifestação</label>
                                <select id="subject" name="subject" class="form-select" required>
                                    <option value="">Manifestação</option>
                                    <?php foreach ($subjects as $subject): ?>
                                        <option value="<?= $subject->getId() ?>"><?= $subject->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="destiny">Destino</label>
                                <select id="destiny" name="destiny" class="form-select" required>
                                    <option value="">Destino</option>
                                    <?php foreach ($categories as $categorie): ?>
                                        <option value="<?= $categorie->getId() ?>"><?= $categorie->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <textarea name="description" id="description" class="form-control" rows="7"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input m-t-20" id="anonymous" name="anonymous"
                                       value="1">
                                <label class="form-check-label" for="anonymous">Não quero me identificar</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                        <span class="fileselector">
                                            <label class="btn btn-danger text-white" for="attachment">
                                                <input class="upload-file-selector" id="attachment" type="file"
                                                       name="attachment">
                                                <i class="fa fa-paperclip margin-correction"></i>
                                                <span id="attachmentLabel" default="Anexo">Anexo</span>
                                            </label>
                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div style="display: none" class="alert" id="divMessageForm"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {
        $('input:file').change(function (e) {
            let input = e.target;
            input.parentElement.classList.remove('btn-success');
            input.parentElement.classList.add('btn-danger');
            let labelId = input.getAttribute('id') + 'Label';
            document.getElementById(labelId).textContent = document.getElementById(labelId).getAttribute('default');
            if (input.files.length > 0) {
                input.parentElement.classList.remove('btn-danger');
                input.parentElement.classList.add('btn-success');
                input.text = input.value;
                document.getElementById(labelId).textContent = input.value;
            }
        });
    });

    const form = document.getElementById('form');
    const divMessageForm = document.getElementById('divMessageForm');
    form.addEventListener('submit', e => {
        showLoading();
        e.preventDefault();
        fetch("<?= BASEURL ?>ouvidoria", {
            method: "POST",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json'
            },
            body: new FormData(form)
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                divMessageForm.textContent = json.message;
                divMessageForm.style.display = 'block';
                divMessageForm.classList.add("alert-danger");
                divMessageForm.classList.remove("alert-success");
                if (response.status === 201) {
                    divMessageForm.classList.add("alert-success");
                    divMessageForm.classList.remove("alert-danger");
                    form.reset();
                    window.location.href = '<?= BASEURL ?>ouvidoria';
                }
            });
        });
    });

</script>
