<div class="row">
	<div class="card">
		<div class="card-header">
			<h5 class="title">Solicitações</h5>
		</div>

		<div class="row card-body mt-3">
			<div class="col">
				<div class="row">
					<div class="col">
						<b>Requerente:</b>
						<?= !$ombudsman->isAnonymous() ? $ombudsman->getRequester()->getName() : 'Anônimo' ?>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-4">
						<b>Destino:</b> <?= $ombudsman->getDestiny()->getName() ?>
					</div>
					<div class="col-md-4">
						<b>Manifestação:</b> <?= $ombudsman->getOmbudsmanSubject()->getName() ?>
					</div>
					<?php if ($ombudsman->getAttachment() != ''): ?>
						<div class="col-md-4">
							<a class="btn btn-sm btn-success my-auto px-4" href="<?= $ombudsman->getAttachment() ?>"
							   target="_blank">Anexo</a>
						</div>
					<?php endif; ?>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<b>Decrição:</b> <?= $ombudsman->getDescription() ?>
					</div>
				</div>
				<br>
				<?php foreach ($ombudsmanResponses as $ombudsmanResponse): ?>
					<div class="row">
						<div class="col">
							<hr>
							<?php if ($ombudsmanResponse->getUserAdmin()): ?>
								<b>Resposta
									(<?= "{$ombudsmanResponse->getUserAdmin()->getName()} {$ombudsmanResponse->getCreated()->format('d/m/Y H:i')}" ?>
									)</b>
							<?php else: ?>
								<b>Usuário
									(<?= "{$ombudsmanResponse->getCreated()->format('d/m/Y H:i')}" ?>
									)</b>
							<?php endif; ?>
							<br>
							<?= nl2br($ombudsmanResponse->getAnswer()) ?>
						</div>
					</div>
				<?php endforeach; ?>
			</div>
		</div>
	</div>

</div>

<?php if ($ombudsman->getStatus() == 1): ?>
	<div class="row">
		<div class="card">
			<div class="card-header">
				<h5 class="title">Ouvidoria - Nova Resposta</h5>
			</div>
			<div class="card-body">
				<form id="form">
					<input type="hidden" name="ombudsman" value="<?= $ombudsman->getId() ?>">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="description">Descrição</label>
								<textarea name="description" id="description" class="form-control" required
								          rows="7"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col text-end">
							<button type="submit" class="btn btn-success">Cadastrar</button>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div style="display: none" class="alert" id="divMessageForm"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		const form = document.getElementById('form');
		const divMessageForm = document.getElementById('divMessageForm');
		form.addEventListener('submit', e => {
			showLoading();
			e.preventDefault();
			fetch("<?= BASEURL ?>ouvidoria/replica", {
				method: "POST",
				credentials: 'same-origin',
				headers: {
					'Accept': 'application/json'
				},
				body: new FormData(form)
			}).then(response => {
				closeLoading();
				response.json().then(json => {
					divMessageForm.textContent = json.message;
					divMessageForm.style.display = 'block';
					divMessageForm.classList.add("alert-danger");
					divMessageForm.classList.remove("alert-success");
					if (response.status === 201) {
						divMessageForm.classList.add("alert-success");
						divMessageForm.classList.remove("alert-danger");
						form.reset();
						window.location.reload();
					}
				});
			});
		});
	</script>

<?php endif; ?>

