<!-- Loading Modal -->
<div class="modal fade" id="showLoading" style="margin-top: 10%" tabindex="-1" role="dialog"
     aria-labelledby="showLoading">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-body custom-scrollbar text-center custom-scrollbar">
				<div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>
	</div>
</div>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<footer class="footer">
	<div class="container-fluid text-center">
		©
		<script>
			document.write(new Date().getFullYear());</script>
		,
		Desenvolvido por <a href="https://www.lifecode.dev/" class="text-yellow" target="_blank">Life Code</a>
	</div>
</footer>
</body>
<script src="<?= BASEURL ?>assets/functions/functions.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/bootstrap/popper.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/bootstrap/bootstrap.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/notify/bootstrap-notify.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/jquery.mask.js"></script>
<script src="<?= BASEURL ?>assets/js/functions.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/functions.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/datatable/datatables/jquery.dataTables.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/datatable/datatables/datatable.custom.js?v=<?= time() ?>"></script>

<script>

	$(document).ready(function () {
		$('#dataTable').DataTable({
			"language": {
				"lengthMenu": "Exibir _MENU_ registros",
				"zeroRecords": "Nenhum regitro encontrado",
				"info": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
				"infoEmpty": "Nenhum regitro encontrado",
				"search": "Procurar:",
				"paginate": {
					"first": "Primeiro",
					"last": "Último",
					"next": "Próximo",
					"previous": "Anterior"
				}
			}
		});
	});

</script>

<?php if (\App\Helpers\Session::get('errorMsg')): ?>
	<script>
		showNotify('danger', '<?= \App\Helpers\Session::get('errorMsg') ?>', 3000);
	</script>
	<?php \App\Helpers\Session::forgot('errorMsg'); ?>
<?php endif; ?>
</html>
