<!DOCTYPE html>
<html lang="pt-br" style="overflow-y: scroll">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon-novo.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="<?= BASEURL ?>assets/img/favicon-novo.jpg" type="image/x-icon">
    <title><?= $title ?? 'Espaço NOVO' ?></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            rel="stylesheet">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/icofont.css?v=<?= time() ?>">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/feather-icon.css?v=<?= time() ?>">
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/themify.css?v=<?= time() ?>">
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/datatables.css?v=<?= time() ?>">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/animate.css?v=<?= time() ?>">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/bootstrap.css?v=<?= time() ?>">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/style.css?v=<?= time() ?>">
    <link id="color" rel="stylesheet" href="<?= BASEURL ?>assets/css/color-1.css?v=<?= time() ?>" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/responsive.css?v=<?= time() ?>">
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/tour.css">

    <!--    <script src="https://kit.fontawesome.com/b1f34ab4bc.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/fontawesome.css?v=<?= time() ?>">
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/newStyle.css?v=<?= time() ?>">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
          integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA=="
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Tag global do site (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-05522YLE9J"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        gtag()
        {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-05522YLE9J');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KX6CKFD');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '323022868716453');
        fbq('track', 'PageView');
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
          integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA=="
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=323022868716453&ev=PageView&noscript=1"/></noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>

<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX6CKFD" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=323022868716453&ev=PageView&noscript=1"/></noscript>

<!-- Loader starts-->
<div class="loader-wrapper">
    <div class="theme-loader">
        <div class="loader-p"></div>
    </div>
</div>
<!-- Loader ends-->
<!-- page-wrapper Start       -->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <div class="page-main-header">
        <div class="main-header-right row m-0">
            <div class="main-header-left">
                <div class="logo-wrapper" style="margin: auto">
                    <a href="<?= BASEURL ?>">
                        <img height="50px" src="<?= BASEURL ?>assets/img/login.png">
                    </a>
                </div>
                <div class="toggle-sidebar"><i class="status_toggle middle" data-feather="align-center"
                                               id="sidebar-toggle"></i></div>
            </div>
            <div class="left-menu-header col">
                <ul>
                    <li>
                        <span class="text-primary"><?= $user->getName() ?></span>
                    </li>
                </ul>
            </div>
            <div class="nav-right col pull-right right-menu p-0">
                <ul class="nav-menus">
                    <li class="add-to-bookmark">
                        <a href="<?= BASEURL ?>logout"><i class="bookmark-icon" data-feather="log-out"></i>Sair</a>
                    </li>
                </ul>
            </div>
            <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="more-horizontal"></i></div>
        </div>
    </div>
    <!-- Page Header Ends                              -->
    <!-- Page Body Start-->
    <div class="page-body-wrapper sidebar-icon">
        <!-- Page Sidebar Start-->
        <header class="main-nav">
            <nav>
                <div class="main-navbar mt-3">
                    <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                    <div id="mainnav">
                        <ul class="nav-menu custom-scrollbar">

                            <li>
                                <a class="nav-link link-nav <?= $section == 'home' ? 'active-dash' : '' ?>"
                                   href="<?= BASEURL ?>">
                                    <i class="fa fa-home p-2"></i><span> Home</span>
                                </a>
                            </li>

                            <?php if ($user->liberarMobiliza()): ?>
                                <li>
                                    <a class="nav-link link-nav <?= $section == 'mobilize' ? 'active-dash' : '' ?>"
                                       href="<?= BASEURL ?>novo-mobiliza">
                                        <i class="fa fa-line-chart p-2"></i><span> NOVO Mobiliza</span>
                                    </a>
                                </li>
                            <?php endif; ?>
                            <?php if (in_array($user->getPaymentPlan(), [3, 4])): ?>
                                <li>
                                    <a class="nav-link link-nav"
                                       href="<?= BASEURL ?>moodle/academia-do-amanha" target="_blank">
                                        <i class="fa fa-building-o p-2"></i><span> Academia do Amanhã</span>
                                    </a>
                                </li>
                            <?php endif; ?>

                            <?php if (($user->isAffiliated() || \App\Helpers\Session::get('militar')) && ENV == 'prod'): ?>
                                <li>
                                    <a href="<?= BASEURL ?>moodle" target="_blank">
                                        <i class="fa fa-video-camera p-2"></i><span> Cursos Instituto Libertas</span>
                                    </a>
                                </li>
                            <?php else: ?>

                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'libertasCourses' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-video-camera p-2"></i><span> Cursos Instituto Libertas</span>
                                    </a>
                                    <ul class="nav-submenu menu-content"
                                        style="display: <?= $subMenu == 'libertasCourses' ? 'block' : 'none' ?>;">
                                        <li>
                                            <a href="<?= BASEURL ?>cursos-libertas/"
                                               class="<?= $section == 'courses' ? 'active active-dash' : '' ?>">
                                                Cursos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?= BASEURL ?>cursos-libertas/minhas-compras"
                                               class="<?= $section == 'buys' ? 'active active-dash' : '' ?>">
                                                Minhas Compras
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?= BASEURL ?>moodle" target="_blank">
                                                Acesso a Plataforma
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                            <?php endif; ?>

                            <?php if ($user->isAffiliated()): ?>
                                <!--
                                <li>
                                    <a class="nav-link link-nav <?= $section == 'recommendation' ? 'active-dash' : '' ?>"
                                       href="<?= BASEURL ?>usuario/indicacao">
                                        <i class="fa fa-link p-2"></i><span> Campanha de Filiação</span>
                                    </a>
                                </li>
                            -->
                            <?php endif; ?>

                            <?php if (in_array($user->getFiliado(), [0, 5, 9])): ?>

                                <li>
                                    <a class="nav-link link-nav <?= $section == 'filie' ? 'active-dash' : '' ?>"
                                       href="<?= BASEURL ?>usuario/filiacao">
                                        <i class="fa fa-link p-2"></i>
                                        <span>

											<?php if (in_array($user->getFiliado(), [0, 5])) { ?>
                                                Filie-se Agora
                                            <?php } else { ?>
                                                Refilie-se Agora
                                            <?php } ?>

										</span>
                                    </a>
                                </li>

                            <?php endif; ?>

                            <li>
                                <a class="nav-link link-nav <?= $section == 'myAccount' ? 'active-dash' : '' ?>"
                                   href="<?= BASEURL ?>usuario">
                                    <i class="fa fa-user p-2"></i><span> Minha conta</span>
                                </a>
                            </li>

                            <?php if ($user->isAffiliated()): ?>
                                <li>
                                    <a class="nav-link link-nav <?= $section == 'ombudsman' ? 'active-dash' : '' ?>"
                                       href="<?= BASEURL ?>ouvidoria">
                                        <i class="fa fa-comment p-2"></i><span> Ouvidoria</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link link-nav <?= $section == 'transparencyPortal' ? 'active-dash' : '' ?>"
                                       href="<?= BASEURL ?>portal-da-transparencia">
                                        <i class="fa fa-search"></i><span> Portal da Transparência</span>
                                    </a>
                                </li>
                            <?php endif; ?>

                            <li class="dropdown pointer">
                                <a class="nav-link menu-title <?= $subMenu == 'myFinancial' ? 'active active-dash' : '' ?>">
                                    <i class="fa fa-money p-2"></i><span> Financeiro</span>
                                </a>
                                <ul class="nav-submenu menu-content"
                                    style="display: <?= $subMenu == 'myFinancial' ? 'block' : 'none' ?>;">
                                    <?php if ($user->isAffiliated() && $user->getExemption() == 0): ?>
                                        <li>
                                            <a href="<?= BASEURL ?>financeiro/anticipation"
                                               class="<?= $section == 'anticipation' ? 'active active-dash' : '' ?>">
                                                Antecipar contribuições
                                            </a>
                                        </li>
                                    <?php endif; ?>
                                    <li>
                                        <a href="<?= BASEURL ?>financeiro/assinaturas"
                                           class="<?= $section == 'subscriptions' ? 'active active-dash' : '' ?>">
                                            Assinaturas
                                        </a>
                                    </li>
                                    <?php if ($user->isAffiliated() && $user->getExemption() == 0): ?>
                                        <li>
                                            <a href="<?= BASEURL ?>financeiro/contribuicoes-abertas"
                                               class="<?= $section == 'payoff' ? 'active active-dash' : '' ?>">
                                                Contribuições abertas
                                            </a>
                                        </li>
                                    <?php endif; ?>
                                    <li>
                                        <a href="<?= BASEURL ?>financeiro/doacao"
                                           class="<?= $section == 'donation' ? 'active active-dash' : '' ?>">
                                            Doação
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?= BASEURL ?>financeiro/extrato"
                                           class="<?= $section == 'extract' ? 'active active-dash' : '' ?>">
                                            Extrato
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?= BASEURL ?>financeiro/informe-rendimentos"
                                           class="<?= $section == 'reportIncome' ? 'active active-dash' : '' ?>">
                                            Informe de rendimentos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?= BASEURL ?>financeiro/meus-cartoes"
                                           class="<?= $section == 'cards' ? 'active active-dash' : '' ?>">
                                            Meus cartões
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <?php if ($user->isAffiliated()): ?>

                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'myRequests' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-hand-paper-o p-2"></i><span> Solicitações</span>
                                    </a>
                                    <ul class="nav-submenu menu-content"
                                        style="display: <?= $subMenu == 'myRequests' ? 'block' : 'none' ?>;">

                                        <?php if ($user->isAffiliated() && !$user->getSuspensao()): ?>

                                            <li>
                                                <a href="<?= BASEURL ?>solicitacoes/filiacao"
                                                   class="<?= $section == 'membershipRequests' ? 'active active-dash' : '' ?>">
                                                    Solicitações de filiações
                                                </a>
                                            </li>

                                        <?php endif; ?>

                                        <li>
                                            <a href="<?= BASEURL ?>usuario/desfiliacao"
                                               class="<?= $section == 'disaffection' ? 'active active-dash' : '' ?>">
                                                Solicitar desfiliação
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            <?php endif; ?>
                            <li class="dropdown pointer">
                                <a class="nav-link menu-title <?= $subMenu == 'myContent' ? 'active active-dash' : '' ?>">
                                    <i class="fa fa-files-o p-2"></i><span> Documentos</span>
                                </a>
                                <ul class="nav-submenu menu-content"
                                    style="display: <?= $subMenu == 'myContent' ? 'block' : 'none' ?>;">

                                    <?php if ($user->isAffiliated()): ?>

                                        <li>
                                            <a href="<?= BASEURL ?>comunicados/atas"
                                               class="<?= $section == 'record' ? 'active active-dash' : '' ?>">
                                                Atas
                                            </a>
                                        </li>

                                    <?php endif; ?>

                                    <li>
                                        <a href="<?= BASEURL ?>comunicados/conduta"
                                           class="<?= $section == 'conduct' ? 'active active-dash' : '' ?>">
                                            Código de Conduta
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?= BASEURL ?>comunicados"
                                           class="<?= $section == 'communicated' ? 'active active-dash' : '' ?>">
                                            Comunicados
                                        </a>
                                    </li>
                                    <?php if ($user->isAffiliated()): ?>
                                        <li>
                                            <a href="<?= BASEURL ?>comunicados/documentos-locais"
                                               class="<?= $section == 'localDocuments' ? 'active active-dash' : '' ?>">
                                                Documentos Locais
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?= BASEURL ?>comunicados/estatuto"
                                               class="<?= $section == 'guideline' ? 'active active-dash' : '' ?>">
                                                Estatuto
                                            </a>
                                        </li>
                                    <?php endif; ?>

                                    <?php if ($user->isAffiliated()): ?>

                                        <li>
                                            <a href="<?= BASEURL ?>comunicados/resolucoes"
                                               class="<?= $section == 'resolution' ? 'active active-dash' : '' ?>">
                                                Resoluções
                                            </a>
                                        </li>

                                        <?php if ($user->isAffiliated() && !$user->getSuspensao()): ?>

                                            <li>
                                                <a href="<?= BASEURL ?>comunicados/restrito"
                                                   class="<?= $section == 'restricted' ? 'active active-dash' : '' ?>">
                                                    Restrito a filiados
                                                </a>
                                            </li>

                                        <?php endif; ?>
                                    <?php endif; ?>
                                </ul>
                            </li>
                            <li class="dropdown pointer">
                                <a class="nav-link menu-title <?= $subMenu == 'myEvents' ? 'active active-dash' : '' ?>">
                                    <i class="fa fa-etsy p-2"></i><span> Eventos</span>
                                </a>
                                <ul class="nav-submenu menu-content"
                                    style="display: <?= $subMenu == 'myEvents' ? 'block' : 'none' ?>;">
                                    <li>
                                        <a href="https://novo.org.br/eventos/?codigo=<?= $user->getId() ?>"
                                           target="_blank"
                                           class="<?= $section == 'membershipRequests' ? 'active active-dash' : '' ?>">
                                            Agenda de Eventos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?= BASEURL ?>eventos/meus-eventos"
                                           class="<?= $section == 'myEvents' ? 'active active-dash' : '' ?>">
                                            Meus Eventos
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <?php if ($user->isAffiliated()): ?>

                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'myConventions' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-calendar-o p-2"></i><span> Convenções</span>
                                    </a>
                                    <ul class="nav-submenu menu-content"
                                        style="display: <?= $subMenu == 'myConventions' ? 'block' : 'none' ?>;">
                                        <li>
                                            <a href="https://novo.org.br/participe/convencoes_municipais/"
                                               target="_blank">
                                                Convenções Municipais
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://novo.org.br/participe/convencoes-estaduais/"
                                               target="_blank">
                                                Convenções Estaduais
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'myCep' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-users p-2"></i><span> Comissão de ética</span>
                                    </a>
                                    <ul class="nav-submenu menu-content"
                                        style="display: <?= $subMenu == 'myCep' ? 'block' : 'none' ?>;">
                                        <li>
                                            <a href="<?= BASEURL ?>comunicados/consultas-cep"
                                               class="<?= $section == 'consultationsCep' ? 'active active-dash' : '' ?>">
                                                Consultas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?= BASEURL ?>comunicados/decisoes-cep"
                                               class="<?= $section == 'decisionsCep' ? 'active active-dash' : '' ?>">
                                                Decisões
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?= BASEURL ?>cep/denuncias"
                                               class="<?= $section == 'complaints' ? 'active active-dash' : '' ?>">
                                                Denúncias
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?= BASEURL ?>comunicados/fluxograma"
                                               class="<?= $section == 'flowchart' ? 'active active-dash' : '' ?>">
                                                Fluxograma
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?= BASEURL ?>comunicados/membros-cep"
                                               class="<?= $section == 'membersCep' ? 'active active-dash' : '' ?>">
                                                Membros
                                            </a>
                                        </li>

                                        <li>
                                            <a href="<?= BASEURL ?>comunicados/perguntas-cep"
                                               class="<?= $section == 'questionsCep' ? 'active active-dash' : '' ?>">
                                                Perguntas e respostas
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            <?php endif; ?>

                            <?php if (in_array($user->getFiliado(), [2, 14])): ?>

                                <li>
                                    <a class="nav-link link-nav <?= $section == 'cancelSolicitation' ? 'active-dash' : '' ?>"
                                       href="<?= BASEURL ?>usuario/cancelar-solicitacao">
                                        Cancelar pedido de <?= $user->getFiliado() == 2 ? 'Filiação' : 'Refiliação' ?>
                                    </a>
                                </li>

                            <?php endif; ?>

                            <li class="dropdown pointer">
                                <a class="nav-link menu-title <?= $subMenu == 'accountability' ? 'active active-dash' : '' ?>">
                                    <i class="fa fa-users p-2"></i><span> Mandatos</span>
                                </a>
                                <ul class="nav-submenu menu-content"
                                    style="display: <?= $subMenu == 'accountability' ? 'block' : 'none' ?>;">
                                    <!--
                                    <li>
                                        <a href="<?= BASEURL ?>dam/gastos"
                                           class="<?= $section == 'taxmeter' ? 'active active-dash' : '' ?>">
                                            Gastos
                                        </a>
                                    </li>
                                    -->
                                    <li>
                                        <a href="<?= BASEURL ?>dam/presencas"
                                           class="<?= $section == 'presence' ? 'active active-dash' : '' ?>">
                                            Presenças
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?= BASEURL ?>dam/relatorios"
                                           class="<?= $section == 'library' ? 'active active-dash' : '' ?>">
                                            Relatórios
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?= BASEURL ?>dam/projetos"
                                           class="<?= $section == 'projects' ? 'active active-dash' : '' ?>">
                                            Projetos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?= BASEURL ?>dam/votacoes"
                                           class="<?= $section == 'polls' ? 'active active-dash' : '' ?>">
                                            Votações
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-body">
            <!-- Container-fluid starts-->
            <div class="container-fluid m-t-20">
                <div class="row">
                    <div class="col-xl-12">
                        <!-- Page Sidebar Ends-->
                        <!-- latest jquery-->
                        <script src="<?= BASEURL ?>assets/js/jquery-3.5.1.min.js?v=<?= time() ?>"></script>
                        <!-- feather icon js-->
                        <script
                                src="<?= BASEURL ?>assets/js/icons/feather-icon/feather.min.js?v=<?= time() ?>"></script>
                        <script
                                src="<?= BASEURL ?>assets/js/icons/feather-icon/feather-icon.js?v=<?= time() ?>"></script>
                        <!-- Sidebar jquery-->
                        <script src="<?= BASEURL ?>assets/js/sidebar-menu.js?v=<?= time() ?>"></script>
                        <!-- Theme js-->
                        <script src="<?= BASEURL ?>assets/js/script.js?v=<?= time() ?>"></script>
                        <script src="<?= BASEURL ?>assets/js/jquery.mask.js?v=<?= time() ?>"></script>
                        <!-- Plugins JS start-->
                        <script
                                src="<?= BASEURL ?>assets/js/scrollable/perfect-scrollbar.min.js?v=<?= time() ?>"></script>
                        <script src="<?= BASEURL ?>assets/js/scrollable/scrollable-custom.js?v=<?= time() ?>"></script>
                        <script>
                            var baseUrl = '<?= BASEURL ?>';
                            var baseUrlGestao = '<?= BASEURL_GESTAO ?>';
                            var token = '<?= $user->getToken2() ?>';
                        </script>
