<div class="row row-equal-height bottom">
    <!--
    <?php if ($user->isAffiliated()): ?>
        <div class="col-md-12">
            <a href="<?= BASEURL ?>usuario/indicacao">
                <img src="<?= BASEURL ?>assets/img/Banner-Campanha-NOVO-Multiplica-v3.svg" style="height: 100%" class="img-fluid" alt=""></a>
        </div>
    <?php endif; ?>
    -->

    <!-- Banner de atualização de filiação -->
    <?php if ($transactionPending['validTransactionPending']): ?>
        <!-- Banner de atualização de filiação por cartão de crédito -->
        <?php if ($contribution->getFormaPagamento() == 1): ?>
        <div class="col-md-12 col-equal-height padding">
            <div class="card card-equal-height">
                <?php 
                    $link = "https://espaco-novo.novo.org.br/financeiro/meus-cartoes";
                ?>
                <a href="<?= $link ?>">
                    <img src="<?= BASEURL ?>assets/img/banner-atualizacao-filiacao-novo.svg" class="img-fluid" alt="">
                </a> 
            </div>
        </div>
        <?php endif; ?>
        <!-- Banner de atualização de filiação por boleto -->
        <?php if ($contribution->getFormaPagamento() == 2): ?>
        <div class="col-md-12 col-equal-height padding">
            <div class="card card-equal-height">
                <?php 
                    $link = "https://espaco-novo.novo.org.br/financeiro/contribuicoes-abertas";
                ?>
                <a href="<?= $link ?>">
                    <img src="<?= BASEURL ?>assets/img/banner-atualizacao-boleto-novo.svg" class="img-fluid" alt="">
                </a> 
            </div>
        </div>
        <?php endif; ?>
    <?php endif; ?>


    <div class="col-md-12 col-equal-height padding">
        <div class="card card-equal-height">
            <?php 
                $link = "https://novo.org.br/academia-do-amanha";
                if(in_array($user->getPaymentPlan(), [3,4])) $link = "https://espaco-novo.novo.org.br/moodle/academia-do-amanha";
            ?>
            <a href="<?= $link ?>">
                <img src="<?= BASEURL ?>assets/img/academia-amanha.png" class="img-fluid" alt="">
            </a> 
        </div>
    </div>
</div>

<div class="row row-equal-height">
    <div class="col-md-6 col-equal-height padding">
        <div class="card orange-grid text-center text-white middle card-equal-height" style="padding: 50px;">
            <h2 class="title"><?= $user->getName() ?>
                <?php if ($user->isAffiliated()): ?>
                / Filiado # <?= $user->getFiliadoId() ?> </h2>
            <?php endif; ?>
            <h5 class="text-blue title mt-3">Domicílio Eleitoral:
                <span class="text-white">
                    <?= $user->getTituloEleitoralMunicipioId() ? $user->getTituloEleitoralMunicipioId()->getCidade() : $user->getTituloEleitoralMunicipio() ?>
                    /
                    <?= $user->getTituloEleitoralUfId() ? $user->getTituloEleitoralUfId()->getSigla() : $user->getTituloEleitoralUf() ?></span>
            </h5>
            <h4 class="text-blue title mt-3">STATUS:
                <span class="<?= $user->isAffiliated() ? 'bg-success' : 'bg-danger' ?> px-2 text-white"><?= $user->getFiliadoString() ?></span>
            </h4>
            <h3 class="title">Data Filiação: <?= $user->affiliatedDate() ?> </h3>
            <?php if ($user->getSuspensao() == 1): ?>
                <h4 class="title"><span class="bg-danger px-2">Atenção, seu cadastro está com status de
                        suspenso,<br>
                        entre em contato com nossa equipe de filiação
                        através do e-mail <a style="color:white"
                                             href="mailto:filiacao@novo.org.br"><u>filiacao@novo.org.br</u></a> para
                        regularizar!</span>
                </h4>
            <?php endif; ?>
            <div>
                <a href="<?= BASEURL ?>usuario" class="btn btn-warning btn-block m-b-10">EDITE SEUS DADOS AQUI</a>
                <a href="<?= BASEURL ?>financeiro/doacao" class="btn btn-success btn-block m-b-10">FAÇA UMA DOAÇÃO</a>
            </div>
        </div>
    </div>
    <?php if ($user->isAffiliated()): ?>
        <div class="col-md-6 col-equal-height padding">
            <div class="card card-equal-height bg-secondary">
                <a href="<?= BASEURL ?>moodle" target="_blank" class="my-auto">
                    <img src="<?= BASEURL ?>assets/img/banner-libertas3.svg" class="img-fluid" alt="">
                </a>
            </div>
        </div>
    <?php endif; ?>
</div>

<div class="row row-equal-height bottom">
    <?php if ($user->isAffiliated()): ?>
        <div class="col-md-6 col-equal-height padding">
            <div class="card p-3 yellow-grid text-center text-white" style="height: 100%">
                <?php if ($valid): ?>
                    <a href="<?= BASEURL ?>financeiro/meus-cartoes" class="btn btn-danger btn-block title"
                       style="font-size: 22px;"><?= $text ?></a>
                <?php endif; ?>
                <h2 class="title" style="margin-top: 25px;">CONTRIBUIÇÃO DE FILIAÇÃO</h2>
                <h1 class="title"><span class="text-yellow">R$</span>
                    <?= $contribution ? $contribution->getValue(false) : '00,00' ?> </h1>
                <h4 class="title" style="font-size:23px;">
                    <?= $contribution ? strtoupper($contribution->getFrequency()) : 'MENSAL' ?></h4>
                <h5 class="title mt-3">Quer aumentar sua contribuição para o NOVO?</h5>
                <div class="row mx-auto">
                    <a href="<?= BASEURL ?>financeiro/assinaturas/1" class="btn btn-success d-block">CLIQUE AQUI!</a>
                </div>
            </div>
        </div>
    <?php endif; ?>

    <!--
    <?php if ($user->isAffiliated() && $user->getTituloEleitoralUfId()): ?>
        <?php if ($user->getTituloEleitoralUfId()->getId() == 24): ?>
            <div class="col-md-6 col-equal-height">
                <div class="card p-3 blue-grid text-center text-white card-equal-height">
                    <div class="my-auto">
                        <h4 class="title">
                            DIRETÓRIO ESTADUAL DE SANTA CATARINA<br>
                            RESOLUÇÃO INTERNA Nº 1/2023
                        </h4>
                        <p>ESTABELECE AS REGRAS E PROCEDIMENTOS PARA A DETERMINAÇÃO DAS CIDADES CATARINENSES QUE PODERÃO
                            LANÇAR CANDIDATOS PELO PARTIDO NOVO NAS ELEIÇÕES MUNICIPAIS NO ANO DE 2024.</p>
                        <div class="row mx-auto">
                            <a href="https://novo.org.br/wp-content/uploads/2023/08/Resolucao-Interna-NOVO-SC-n-1-2023.pdf"
                               target="_blank" class="btn btn-primary d-block">CLIQUE AQUI</a>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif; ?>
    <?php endif; ?>
    -->

    <?php if ($reportIncome): ?>
        <div class="col-md-6 col-equal-height padding">
            <div class="card p-3 blue-grid text-center text-white card-equal-height">
                <div class="my-auto">
                    <h4 class="title">INFORME DE RENDIMENTOS 2023</h4>
                    <h5 class="title mt-3">Neste ano, em função do período para declaração do imposto de renda (IR), 
                        Disponibilizamos um resumo de suas contribuições pagas em 2023.</h5>
                    <div class="row mx-auto">
                        <a href="<?= BASEURL ?>financeiro/informe-rendimentos" class="btn btn-primary d-block">VISUALIZAR INFORME</a>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
</div>

<div class="row row-equal-height">
    <div class="col-md-6 col-equal-height padding">
        <div class="card">
            <a href="https://novo.org.br/economizometro/" class="my-auto">
                <img src="<?= BASEURL ?>assets/img/economizometro_banner.png"
                    class="img-fluid" alt=""></a>
        </div>
    </div>
    <?php if (in_array($user->getFiliado(), [0, 5, 9])): ?>
        <div class="col-md-6 col-equal-height padding">
            <div class="card card-equal-height bg-primary">
                <div class="my-auto">
                    <a href="<?= BASEURL ?>usuario/filiacao">
                        <img src="<?= BASEURL ?>assets/img/filiese.jpg" 
                            class="img-fluid" alt=""></a>
                </div>
            </div>
        </div>
    <?php elseif (in_array($user->getFiliado(), [1, 2, 3, 14])): ?>
        <div class="col-md-6 col-equal-height padding">
            <div class="card card-equal-height bg-primary">
                <div class="my-auto">
                    <img src="<?= BASEURL ?>assets/img/falta-pouco.jpg" 
                        class="img-fluid" alt="">
                </div>
            </div>
        </div>
    <?php endif; ?>

    <?php if ($user->isAffiliated()): ?>
        <div class="col-md-6 text-center col-equal-height padding">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
            <div class="default-according style-1" id="accordionoc">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseicon1" aria-expanded="false" aria-controls="collapse11"> Atas
                            </button>
                        </h5>
                    </div>
                    <div class="collapse" id="collapseicon1" aria-labelledby="collapseicon1"
                        data-bs-parent="#accordionoc">
                        <div class="card-body">
                            <div class="row table-responsive-xl">
                                <div class="col">
                                    <table class="table table-bordered table-striped" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Data</th>
                                                <th>Titulo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($record as $record): ?>
                                            <tr>
                                                <td><?= $record->getDate()->format('d/m/Y') ?></td>
                                                <td><?= $record->getTitle() ?></td>
                                                <td>
                                                    <div class="col-md-12">
                                                        <?php if ($record->getLink() == 1) : ?>
                                                            <a href="<?= $record->getLinkContent() ?>" target="_blank"> <i
                                                                        class="fa fa-eye"></i> </a>
                                                        <?php else: ?>
                                                            <a href="https://gestao.novo.org.br/uploads/comunicados/<?= $record->getArchive() ?>"
                                                            target="_blank"> <i class="fa fa-eye"></i> </a>
                                                        <?php endif; ?>
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    <a href="<?= BASEURL ?>comunicados/atas"
                                        class="float-right text-decoration-none"><strong>Ver mais</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-primary">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseicon2" aria-expanded="false" aria-controls="collapse11"> Restrito
                            </button>
                        </h5>
                    </div>
                    <div class="collapse" id="collapseicon2" aria-labelledby="collapseicon2"
                        data-bs-parent="#accordionoc">
                        <div class="card-body">
                            <div class="row table-responsive-xl">
                                <div class="col">
                                    <table class="table table-bordered table-striped" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Data</th>
                                                <th>Titulo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($restricted as $restricted): ?>
                                            <tr>
                                                <td><?= $restricted->getDate()->format('d/m/Y') ?></td>
                                                <td><?= $restricted->getTitle() ?></td>
                                                <td>
                                                    <div class="col-md-12">
                                                        <?php if ($restricted->getLink() == 1) : ?>
                                                            <a href="<?= $restricted->getLinkContent() ?>"
                                                                target="_blank"><i class="fa fa-eye"></i></a>
                                                        <?php else: ?>
                                                            <a href="https://gestao.novo.org.br/uploads/comunicados/<?= $restricted->getArchive() ?>"
                                                                target="_blank"><i class="fa fa-eye"></i></a>
                                                        <?php endif; ?>
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    <a href="<?= BASEURL ?>comunicados/restrito"
                                        class="float-right text-decoration-none"><strong>Ver mais</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-primary">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseicon3" aria-expanded="false" aria-controls="collapse11"> Resoluções
                            </button>
                        </h5>
                    </div>
                    <div class="collapse" id="collapseicon3" aria-labelledby="collapseicon3"
                        data-bs-parent="#accordionoc">
                        <div class="card-body">
                            <div class="row table-responsive-xl">
                                <div class="col">
                                    <table class="table table-bordered table-striped" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Data</th>
                                                <th>Titulo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($resolutions as $resolution): ?>
                                            <tr>
                                                <td><?= $resolution->getDate()->format('d/m/Y') ?></td>
                                                <td><?= $resolution->getTitle() ?></td>
                                                <td>
                                                    <div class="col-md-12">
                                                        <?php if ($resolution->getLink() == 1) : ?>
                                                            <a href="<?= $resolution->getLinkContent() ?>"
                                                                target="_blank"> <i class="fa fa-eye"></i></a>
                                                        <?php else: ?>
                                                            <a href="https://gestao.novo.org.br/uploads/comunicados/<?= $resolution->getArchive() ?>"
                                                                target="_blank"> <i class="fa fa-eye"></i> </a>
                                                        <?php endif; ?>
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    <a href="<?= BASEURL ?>comunicados/resolucoes"
                                        class="float-right text-decoration-none"><strong>Ver mais</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-primary">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseicon4"
                                    aria-expanded="false" aria-controls="collapse11"> Comunicados
                            </button>
                        </h5>
                    </div>
                    <div class="collapse" id="collapseicon4" aria-labelledby="collapseicon4"
                        data-bs-parent="#accordionoc">
                        <div class="card-body">
                            <div class="row table-responsive-xl">
                                <div class="col">
                                    <table class="table table-bordered table-striped" width="100%"
                                        cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Titulo</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($contents as $content): ?>
                                            <tr>
                                                <td><?= $content->getDate()->format('d/m/Y') ?></td>
                                                <td><?= $content->getTitle() ?></td>
                                                <td>
                                                    <div class="col-md-12">
                                                        <?php if ($content->getLink() == 1) : ?>
                                                            <a href="<?= $content->getLinkContent() ?>"
                                                            target="_blank"> <i
                                                                        class="fa fa-eye"></i>
                                                            </a>
                                                        <?php else: ?>
                                                            <a href="https://gestao.novo.org.br/uploads/comunicados/<?= $content->getArchive() ?>"
                                                            target="_blank"> <i class="fa fa-eye"></i> </a>
                                                        <?php endif; ?>
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    <a href="<?= BASEURL ?>comunicados/" class="float-right text-decoration-none"><strong>Ver mais</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
    
    <!--
    <div class="row m-t-15 m-b-50">
        <div class="col-md-6">
            <?php if (!$know && $user->isAffiliated()): ?>
            <div class="card p-3 yellow-grid text-center text-white">
                <form id="knowledgeForm">
                    <h2 class="title">Como nos conheceu?</h2>
                    <h5 class="title mt-3">
                        Para melhorarmos e sermos mais eficazes na comunicação e no engajamento de novos apoiadores
                        pedimos para você indicar como conheceu o NOVO.</br></br>
                    </h5>
                    <div class="row mx-auto" id="optionsDiv">
                        <div class="form-group">
                            <select class="form-control" onchange="optionFields(this.options[this.selectedIndex].value)"
                                    required name="type" id="type">
                                <option value="" selected disabled hidden>Selecione uma opção</option>
                                <option value="1">Fui indicado por um filiado/candidato/mandatário</option>
                                <option value="2">Conheci pelas midias sociais</option>
                                <option value="3">Participei de um evento do NOVO</option>
                                <option value="4">Conheci pelo site do novo.org.br</option>
                                <option value="5">Li matéria do NOVO em jornais e revistas</option>
                                <option value="7">Protagonistas</option>
                                <option value="6">Outros</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mx-auto" style="display:none" id="affiliatedDiv">
                        <form method="POST" id="form-pesquisa" action="/index.php">
                            <div class="form-group">
                                <p>Buscar pelo nome do Filiado:</p>
                                <div class="form-group autocomplete">
                                    <input type="text" name="name_affiliated" id="name_affiliated" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row mx-auto" id="mediaDiv" style="display:none">
                        <div class="form-group">
                            <select class="form-control" name="media" id="media">
                                <option value="" selected disabled hidden>Selecione uma opção</option>
                                <option value="Facebook">Facebook</option>
                                <option value="Instagram">Instagram</option>
                                <option value="Youtube">Youtube</option>
                                <option value="Twitter">Twitter</option>
                                <option value="outros">outros</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mx-auto" id="eventDiv" style="display:none">
                        <div class="form-group">
                            <p>Em qual estado e cidade foi o evento?</p>
                            <div class="form-group">
                                <select id="ufId" name="ufId" class="form-control"
                                        onchange="getCities(this.value, 'cityId')">
                                    <option value="">Selecione</option>
                                    <?php foreach ($states as $item): ?>
                                        <option value="<?= $item->getSigla() ?>"><?= $item->getSigla() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="cityId" name="cityId" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <p>Qual evento?</p>
                                <textarea class="form-control" id="event" name="event"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-auto" id="newsDiv" style="display:none">
                        <div class="form-group">
                            <p>Li matéria do NOVO em jornais e revistas</p>
                            <div class="form-group">
                                <p>Qual matéria ou artigo?</p>
                                <textarea class="form-control" id="news" name="news"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-auto" id="othersDiv" style="display:none">
                        <div class="form-group">
                            <p>Descreva o local onde ouviu falar do NOVO.</p>
                            <div class="form-group">
                                <textarea class="form-control" id="others" name="others"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-auto" style="display:none" id="buttonsDiv">
                        <button type="submit" id="save" class="btn btn-success btn-block">Salvar
                            pesquisa
                        </button>
                    </div>
                    <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                </form>
            </div>
        </div>
    </div>
</div>
-->

<script>
    const formAdd = document.getElementById('knowledgeForm');
    const divMessageForm = document.getElementById('messageForm');

    formAdd.addEventListener('submit', e => {
        $('#save').addClass('disabled');
        e.preventDefault();
        showLoading();
        let formData = formDataToJson('knowledgeForm');
        fetch("<?= BASEURL ?>api/usuario/knowledge", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessageForm.classList.add("alert-danger");
            divMessageForm.classList.remove("alert-success");
            $('#save').removeClass('disabled');
            response.json().then(json => {
                divMessageForm.innerHTML = json.message;
                divMessageForm.style.display = 'block';
                if (response.status === 201) {
                    divMessageForm.classList.add("alert-success");
                    divMessageForm.classList.remove("alert-danger");
                    formAdd.reset();
                }
            });
        });
    });

    function optionFields(selectObject) {
        if (selectObject == 1) {
            $('#affiliatedDiv').show();
            $('#buttonsDiv').show();
            $('#mediaDiv').hide();
            $('#eventDiv').hide();
            $('#newsDiv').hide();
            $('#othersDiv').hide();
        } else if (selectObject == 2) {
            $('#mediaDiv').show();
            $('#buttonsDiv').show();
            $('#affiliatedDiv').hide();
            $('#eventDiv').hide();
            $('#newsDiv').hide();
            $('#othersDiv').hide();
        } else if (selectObject == 3) {
            $('#eventDiv').show();
            $('#buttonsDiv').show();
            $('#affiliatedDiv').hide();
            $('#mediaDiv').hide();
            $('#newsDiv').hide();
            $('#othersDiv').hide();
        } else if (selectObject == 4) {
            $('#eventDiv').hide();
            $('#buttonsDiv').show();
            $('#affiliatedDiv').hide();
            $('#mediaDiv').hide();
            $('#newsDiv').hide();
            $('#othersDiv').hide();
        } else if (selectObject == 5) {
            $('#newsDiv').show();
            $('#buttonsDiv').show();
            $('#affiliatedDiv').hide();
            $('#mediaDiv').hide();
            $('#eventDiv').hide();
            $('#othersDiv').hide();
        } else if (selectObject == 6) {
            $('#othersDiv').show();
            $('#buttonsDiv').show();
            $('#affiliatedDiv').hide();
            $('#mediaDiv').hide();
            $('#eventDiv').hide();
            $('#newsDiv').hide();
        } else {
            $('#affiliatedDiv').hide();
            $('#buttonsDiv').show();
            $('#mediaDiv').hide();
            $('#eventDiv').hide();
            $('#newsDiv').hide();
            $('#othersDiv').hide();
        }
    }

    function autocomplete(inp, arr) {
        var currentFocus;
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function (e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) { //up
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    var names = <?php echo json_encode($affiliated) ?>;
    autocomplete(document.getElementById("name_affiliated"), names);
    autocomplete(document.getElementById("id_affiliated"), names);
</script>
<?php endif; ?>

<!-- Modal -->
<div class="modal fade position-absolute" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AVISO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body custom-scrollbar">
                Caro <?= $user->getName() ?>,<br>
                <?= $text ?>
            </div>
            <div class="modal-footer">
                <a type="button" 
                    href="<?= BASEURL ?>financeiro/meus-cartoes"
                    class="btn btn-success"> 
                   <i class="fa fa-credit-card"></i> 
                   Atualizar Cartão
                </a>
                <button type="button" 
                    class="btn btn-danger" 
                    data-bs-dismiss="modal">
                    <i class="fa fa-times"></i> 
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade position-absolute" id="refreshModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atualização Cadastral</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body custom-scrollbar">
                Caro <?= $user->getName() ?>,<br>
                Seus dados cadastrais precisam de atualização,<br>
                <a href="<?= BASEURL ?>/usuario"><b>Clique aqui</b></a> para realizar o
                procedimento!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cartão -->
<div class="modal fade position-absolute" 
     id="cardModal" 
     tabindex="-1" 
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title" id="exampleModalLabel">AÇÃO NECESSÁRIA:<br>RECADASTRE SEU CARTÃO</h5>
            </div>
            <div class="modal-body custom-scrollbar">
                <h5>Olá <?= $user->getFirstName() ?>,</h5>
                <p>Nosso sistema identificou que seu cartão de crédito precisa ser recadastrado.<br>
                Clique agora no botão para manter em dia sua contribuição de filiação:</p>
                <p>Caso precise de ajuda,<br>entre em contato com o NOVO: <a href="https://wa.me/5511994619987">(11) 99461-9987</a></p>
                <a type="button" href="<?= BASEURL ?>financeiro/meus-cartoes" class="btn btn-primary" target="_blank">
                    <i class="fa fa-credit-card"></i>
                    ATUALIZE AQUI SEUS DADOS
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Boleto -->
<div class="modal fade position-absolute" 
     id="billetModal" 
     tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title" id="exampleModalLabel">ATENÇÃO: SEU BOLETO DO NOVO VENCEU</h5>
            </div>
            <div class="modal-body custom-scrollbar">
                <h5>Olá <?= $user->getFirstName() ?>,</h5>
                <p>Nosso sistema identificou que seu boleto de filiação venceu.<br>
                Clique no botão para gerar uma nova via e regularizar sua contribuição agora mesmo:</p>
                <p>Caso precise de ajuda,<br>entre em contato com o NOVO: <a href="https://wa.me/5511994619987">(11) 99461-9987</a></p>
                <a type="button" href="<?= BASEURL ?>financeiro/contribuicoes-abertas" class="btn btn-primary" target="_blank">
                    <i class="fa fa-barcode"></i>
                    ACESSAR MEU BOLETO
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Atualização Cartão IUGU -->
<div class="modal fade position-absolute" id="refreshCardIugu" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">URGENTE!<br>Precisamos da atualização
                    dos seus
                    dados
                    cadastrais</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body custom-scrollbar">
                Informamos que, devido a uma importante mudança em nosso sistema, será necessário
                realizar o
                recadastramento do método de pagamento de todos os nossos filiados.<br><br>
                Essa ação contribuirá muito para crescermos ainda mais e contamos com sua
                colaboração! Portanto,
                solicitamos que acesse o link abaixo e atualize seus dados.<br><br>
                <a type="button" href="<?= BASEURL ?>financeiro/meus-cartoes"
                   class="btn btn-secondary text-white">CLIQUE
                    AQUI PARA RECADASTRAR</a>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------- Modal update FILIADOS --------------------------------------------->
<div class="modal fade bd-example-modal-lg position-absolute" id="updateModal" tabindex="-1" role="dialog"
     data-backdrop="static"
     aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card-header">
                <h5 class="modal-title">Atualização Cadastral</h5>
            </div>
            <div class="modal-body custom-scrollbar">
                <p>Olá, <?= $user->getFirstName() ?>!<br>
                    O Partido NOVO está dando início a um trabalho de atualização de sua base de
                    dados, visando
                    sempre
                    oferecer uma comunicação cada vez mais precisa e ágil. Por isso, precisamos
                    assegurar que
                    todos os
                    dados cadastrais dos nossos filiados estejam completos e corretamente
                    atualizados no nosso
                    sistema.<br>
                    Esta atualização é muito importante e possui um tempo médio de preenchimento de
                    <b>2
                        minutos</b>.
                </p>
                <hr>
                <div id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="personal" style="width: 50%;"><strong>Dados
                                Pessoais</strong>
                        </li>
                        <li id="terms" style="width: 50%;"><strong>Contribuição</strong></li>
                    </ul>
                    <!-- fieldsets -->
                    <!-- STEP 1 -->
                    <fieldset id="step-1">
                        <form id="formPersonal">
                            <input type="hidden" name="user" value="<?= $user->getId() ?>">
                            <div class="form-card">
                                <div class="mt-2 d-none alert alert-danger text-left"
                                     id="divMessage">Erro
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name">Nome Completo</label>
                                            <input id="name" name="name"
                                                   value="<?= $user->getName() ?>"
                                                   type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="email">E-mail</label>
                                            <input id="email" name="email" type="string"
                                                   value="<?= $user->getEmail() ?>"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="cellPhone">Telefone Celular</label>
                                            <input type="hidden" name="cellPhoneDialCode"
                                                   id="cellPhoneDialCode">
                                            <input type="hidden" name="cellPhoneIso2"
                                                   id="cellPhoneIso2">
                                            <input id="cellPhone" name="cellPhone" type="tel"
                                                   value=""
                                                   onblur="setCellPhoneValues()"
                                                   class="form-control"
                                                   onkeyup="maskCellPhone()">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="uf">Estado</label>
                                            <select id="uf" name="uf" class="form-control"
                                                    onchange="getCities(this.value, 'city')">
                                                <option value="">Selecione</option>
                                                <?php foreach ($states as $item): ?>
                                                    <option value="<?= $item->getId() ?>"
                                                        <?= $address && $item->getId() == $address->getStateId() ? 'selected' : '' ?>>
                                                        <?= $item->getSigla() ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="city">Cidade</label>
                                            <select id="city" name="city" class="form-control">
                                                <option value="">Selecione</option>
                                                <?php foreach ($addressCities as $item): ?>
                                                    <option value="<?= $item->getId() ?>"
                                                        <?= $address && $item->getId() == $address->getTbCidadeId() ? 'selected' : '' ?>>
                                                        <?= $item->getCidade() ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" onclick="changeStep(1, 'next')"
                                    style="width: 140px;"
                                    class="next action-button btn btn-success">Avançar <i
                                        class="fa fa-arrow-right"
                                        aria-hidden="true"></i>
                            </button>
                        </form>
                    </fieldset>
                    <!-- STEP 1 -->
                    <!-- STEP 2 -->
                    <fieldset id="step-2">
                        <form id="formPayment">
                            <input type="hidden" name="userId" value="<?= $user->getId() ?>">
                            <input type="hidden" name="flag" id="flag">
                            <div class="form-card">
                                <div class="mt-2 d-none alert alert-danger text-left"
                                     id="divMessagePayment">
                                    Erro
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="cardNumber">Número do cartão</label>
                                            <input id="cardNumber" name="cardNumber" type="text"
                                                   class="form-control"
                                                   value="<?= $active && $contribution && $contribution->getFormaPagamento() == 1 && $card ? $card->getLegend() : "" ?>"
                                                <?= $active && $contribution && $contribution->getFormaPagamento() == 1 ? 'disabled' : '' ?>>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="cvv">CVV</label>
                                            <input id="cvv" name="cvv" type="number"
                                                   data-mask="0000"
                                                   class="form-control"
                                                <?= $active && $contribution && $contribution->getFormaPagamento() == 1 && $card ? 'disabled' : '' ?>>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="expiringDate">Validade do cartão</label>
                                            <input id="expiringDate" name="expiringDate"
                                                   placeholder="MM/AA"
                                                   data-mask="00/00" type="text"
                                                   class="form-control"
                                                   value="<?= $active && $contribution && $contribution->getFormaPagamento() == 1 && $card ? $card->getExpiration() : "" ?>"
                                                <?= $active && $contribution && $contribution->getFormaPagamento() == 1 ? 'disabled' : '' ?>>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="cardName">Nome como está no cartão</label>
                                            <input id="cardName" name="cardName"
                                                   onblur="validaNome(this.value)"
                                                   type="text" class="form-control"
                                                   value="<?= $active && $contribution && $contribution->getFormaPagamento() == 1 && $card ? $card->getName() : "" ?>"
                                                <?= $active && $contribution && $contribution->getFormaPagamento() == 1 ? 'disabled' : '' ?>>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="international">Cartão emitido no
                                                Brasil?</label>
                                            <select id="international" name="international"
                                                    class="form-control"
                                                <?= $active && $contribution && $contribution->getFormaPagamento() == 1 ? 'disabled' : '' ?>>
                                                <option value="" disabled selected>Selecione
                                                </option>
                                                <option value="1"
                                                    <?= $active && $contribution && $contribution->getFormaPagamento() == 1 && $card && $card->getInternational() == 1 ? 'selected' : "" ?>>
                                                    Sim
                                                </option>
                                                <option value="0"
                                                    <?= $active && $contribution && $contribution->getFormaPagamento() == 1 && $card && $card->getInternational() == 0 ? 'selected' : "" ?>>
                                                    Não
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <?php if ($active && $contribution && $contribution->getFormaPagamento() == 1): ?>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <button type="button" id="buttonAddCard"
                                                        onclick="addCard()"
                                                        class="btn btn-info"><i class="fa fa-card"
                                                                                aria-hidden="true"></i>
                                                    Substituir cartão <i class="fa fa-credit-card"
                                                                         aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <div class="col-md-12">
                                <button type="button" onclick="changeStep(2, 'back')"
                                        style="width: 100px;"
                                        class="next action-button btn btn-success"><i
                                            class="fa fa-arrow-left"
                                            aria-hidden="true"></i>
                                    Voltar
                                </button>
                                <button type="button" id="save1" style="width: 140px;"
                                        onclick="savePaymentData()"
                                        class="next action-button btn btn-success d-none">
                                    <b>Finalizar</b>
                                    <i class="fa fa-save" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-12">
                                <a href="#" id="save2" style="width: 300px; float: right;"
                                   onclick="finish()"
                                   class="next action-button d-none">
                                    <b>Pular essa etapa e Finalizar </b><i class="fa fa-save"
                                                                           aria-hidden="true"></i>
                                </a>
                            </div>
                        </form>
                    </fieldset>
                    <!-- STEP 2 -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Pesquisa -->
<div class="modal fade position-absolute" id="researchModal" tabindex="-1" role="dialog" aria-labelledby="researchModal"
     aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AVISO</h5>
                <button type="button" class="btn-close" aria-label="Fechar" onclick="closeModal('researchModal')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Olá <?= $user->getFirstName() ?>,<br>
                Nós queremos conhecer você um pouco melhor.<br><br>
                Queremos tornar ainda melhor a sua experiência no Partido NOVO, e ouvir a sua opinião é uma parte
                fundamental nesse processo.<br><br>
                Então, se você puder responder esta breve pesquisa, ficaremos muito gratos!
            </div>
            <div class="modal-footer">
                <div class="col-md-12 text-center">
                    <a type="button" class="btn btn-primary"
                       href="https://novo.org.br/pesquisa/<?= $user->getTokenAd() ?>" target="_blank">RESPONDER
                        PESQUISA</a>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="<?= BASEURL ?>assets/css/intlTelInput.min.css">
<script src="<?= BASEURL ?>assets/js/intlTelInput.min.js"></script>
<script src="<?= BASEURL ?>assets/js/clipboard.min.js"></script>

<script>
    function validaNome(name) {
        var name1 = name.toLowerCase();
        var name2 = name1.split(' ');
        var name3 = removeAcento(name2[0]);
        var nameRegister = "<?= strtolower($user->getFirstName()) ?>";
        var firstName = removeAcento(nameRegister);
        if (name3.length == 1 && name3.substr(0, 1) != firstName.substr(0, 1)) {
            alert(
                "Permitido apenas cartões em nome do titular do cadastro!\nNome do cadastro: <?php print $user->GetName(); ?>\nEm caso de dúvidas, entre em contato com filiacao@novo.org.br."
            );
            $('#cardName').val('');
            return false;
        } else if (name3.length > 1 && name3 != firstName) {
            alert(
                "Permitido apenas cartões em nome do titular do cadastro!\nNome do cadastro: <?php print $user->GetName(); ?>\nEm caso de dúvidas, entre em contato com filiacao@novo.org.br."
            );
            $('#cardName').val('');
            return false;
        }
    }

    function removeAcento(text) {
        text = text.toLowerCase();
        text = text.replace(new RegExp('[ÁÀÂÃ]', 'gi'), 'a');
        text = text.replace(new RegExp('[ÉÈÊ]', 'gi'), 'e');
        text = text.replace(new RegExp('[ÍÌÎ]', 'gi'), 'i');
        text = text.replace(new RegExp('[ÓÒÔÕ]', 'gi'), 'o');
        text = text.replace(new RegExp('[ÚÙÛ]', 'gi'), 'u');
        text = text.replace(new RegExp('[Ç]', 'gi'), 'c');
        text = text.replace(new RegExp('[Ñ]', 'gi'), 'n');
        return text;
    }

    var cellPhone = window.intlTelInput(document.querySelector('#cellPhone'), {
        "initialCountry": 'br'
    });

    var diaCode = -1;

    function maskCellPhone() {
        if (diaCode == cellPhone.getSelectedCountryData().dialCode) {
            return;
        }
        diaCode = cellPhone.getSelectedCountryData().dialCode;
        $('#cellPhone').unmask();
        $('#cellPhone').mask('999999999999');
        if (diaCode == 55) {
            $('#cellPhone').mask('(99)99999-99999');
        }
    }

    function validateForm() {
        let errors = '';
        const formData = formDataToJson('formPersonal');
        const divMessageForm = document.getElementById('divMessage');
        if (formData.name.trim() == '') errors += '<b>Nome Completo</b> é obrigatório<br>';
        if (formData.email.trim() == '') errors += '<b>E-mail</b> é obrigatório<br>';
        if (formData.cellPhone.replace(/\D+/g, '').length < 8) errors += '<b>Telefone Celular</b> inválido<br>';
        if (formData.uf.trim() == '') errors += '<b>Estado</b> é obrigatório<br>';
        if (formData.city.trim() == '') errors += '<b>Cidade</b> é obrigatório<br>';
        if (errors != '') {
            divMessageForm.innerHTML = errors;
            divMessageForm.classList.add("alert-danger");
            divMessageForm.classList.remove("alert-success");
            divMessageForm.classList.remove("d-none");
            return false;
        } else {
            divMessageForm.classList.add("d-none");
        }
        return true;
    }

    function changeStep(current, option) {
        if (option == 'next') {
            if (!validateForm(current)) {
                return;
            }
        }
        document.getElementById(`step-${current}`).style.display = 'none';
        const progressbar = document.querySelectorAll('#progressbar li');
        if (option == 'next') {
            if (!validateForm(current)) {
                return;
            }
            document.getElementById(`step-${current + 1}`).style.display = 'block';
            progressbar[current].classList.add('active');
            saveData();
            <?php if($active && $contribution && $contribution->getFormaPagamento() == 1): ?>
            $('#save1').addClass('d-none');
            $('#save2').removeClass('d-none');
            $('#buttonAddCard').removeClass('d-none');
            <?php elseif($contribution && $contribution->getFormaPagamento() == 2): ?>
            $('#save1').removeClass('d-none');
            $('#save2').removeClass('d-none');
            $('#buttonAddCard').addClass('d-none');
            <?php else: ?>
            $('#save1').removeClass('d-none');
            $('#save2').removeClass('d-none');
            $('#buttonAddCard').addClass('d-none');
            <?php endif; ?>
        } else {
            document.getElementById(`step-${current - 1}`).style.display = 'block';
            progressbar[current - 1].classList.remove('active')
        }
    }

    function setCellPhoneValues() {
        document.getElementById('cellPhoneDialCode').value = cellPhone.getSelectedCountryData().dialCode;
        document.getElementById('cellPhoneIso2').value = cellPhone.getSelectedCountryData().iso2;
    }

    function saveData() {
        let formData = formDataToJson('formPersonal');
        fetch("<?= BASEURL ?>usuario/atualiza-dados", {
            method: "PUT",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            response.json().then(json => {
            });
        });
    }

    const divMessagePayment = document.getElementById('divMessagePayment');

    function savePaymentData() {
        showLoading();
        let formPayment = formDataToJson('formPayment');
        fetch("<?= BASEURL ?>financeiro/atualiza-cartao", {
            method: "POST",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formPayment)
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                divMessagePayment.textContent = json.message;
                divMessagePayment.classList.add("alert-danger");
                divMessagePayment.classList.remove("alert-success");
                divMessagePayment.classList.remove("d-none");
                if (response.status === 201) {
                    $('#save1').addClass('disabled');
                    $('#save2').addClass('disabled');
                    divMessagePayment.classList.add("alert-success");
                    divMessagePayment.classList.remove("alert-danger");
                    setTimeout(function () {
                        window.location.href = "<?= BASEURL ?>";
                    }, 2500);
                }
            });
        });
    }

    function finish() {
        showLoading();
        fetch("<?= BASEURL ?>usuario/finaliza-atualizacao", {
            method: "POST",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                divMessagePayment.textContent = json.message;
                divMessagePayment.classList.add("alert-danger");
                divMessagePayment.classList.remove("alert-success");
                divMessagePayment.classList.remove("d-none");
                if (response.status === 201) {
                    divMessagePayment.classList.add("alert-success");
                    divMessagePayment.classList.remove("alert-danger");
                    setTimeout(function () {
                        $('#updateModal').modal('hide');
                        //window.location.href = "<?= BASEURL ?>";
                    }, 3000);
                }
                ;
            });
        });
    }

    function addCard() {
        $('#cardNumber').attr('disabled', false);
        $('#cardNumber').val("");
        $('#cvv').attr('disabled', false);
        $('#expiringDate').attr('disabled', false);
        $('#expiringDate').val("");
        $('#cardName').attr('disabled', false);
        $('#cardName').val("");
        $('#international').attr('disabled', false);
        $('#international').val("");
        $('#save1').removeClass('d-none');
        $('#save2').removeClass('d-none');
        $('#buttonAddCard').addClass('d-none');
    }
</script>
<!--------------------------------------------- Modal update FILIADOS ---------------------------------------------->
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/js/clipboard.min.js"></script>
<script src="<?= BASEURL ?>assets/js/moment.min.js"></script>
<link rel="stylesheet" href="<?= BASEURL ?>assets/css/register.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="<?= BASEURL ?>assets/js/jquery.creditCardValidator.js"></script>

<!-- JS Como conheceu -->
<script>
    function getCityOptionId(city) {
        return `<option value="${city.id}">${city.name}</option>`;
    }

    function getCityOptionName(city) {
        return `<option value="${city.name}">${city.name}</option>`;
    }

    function getCities(state, divCities) {
        fetch(`<?= BASEURL ?>api/sistema/cidades/${state}`, {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                let cities = json.message;
                let options;
                if (divCities == 'cityId') { //address em string
                    options = '<option value="">Selecione a cidade</option>' + cities.map(
                        getCityOptionName);
                } else { //voter title int id
                    options = '<option value="">Selecione a cidade</option>' + cities.map(
                        getCityOptionId);
                }
                document.getElementById(divCities).innerHTML = options;
                loadAddress();
            });
        });
    }

    function validCardNumber() {
        $('#cardNumber').validateCreditCard(function (result) {
            if (result.valid == false) {
                $("#cardNumberError").show();
                return false;
            }
            $("#cardNumberError").hide();
            $('#flag').val(result.card_type.name);
        });
    }

    function closeModal(modal) {
        $("#" + modal).modal('hide');
    }

    $(window).on('load', function () {
        maskCellPhone();
        let paymentMethod = '<?= $contribution->getFormaPagamento() ?>';
        let validTransactionPending = '<?= $transactionPending['validTransactionPending'] ?>';
        if(validTransactionPending) {
            if(paymentMethod == 1) {
                $("#cardModal").modal('show');
            } else if(paymentMethod == 2) {
                $("#billetModal").modal('show');
            }
        }
    });
</script>

<style>
    .bottom {
        margin-bottom: 1px;
    }
    .padding {
        padding: 5px;
    }
    .modal {
        position: absolute;
    }
    .modal-content {
        padding: 20px;
    }
</style>