<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>NOVO | Complete sua Filiação</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
    <script src="<?= BASEURL ?>assets/js/core/jquery.min.js"></script>
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/style.css">
</head>

<body class="container"
    style="background: url('https://novo.org.br/wp-content/uploads/2023/05/Fundo-Landing-Page-Blue.png') no-repeat center center fixed; background-size: cover;">
    <div class="card w-75 mx-auto" id="register" style="margin-top: 10%; border: outset;">
        <div class="card-header text-center" style="background-color: #f17021; color: white;">
            <h2 class="title">FORMULÁRIO DE FILIAÇÃO</h2>
        </div>
        <div class="row">
            <div class="col-md-12 mx-0">
                <form id="msform">
                    <input type="hidden" name="cpf" value="<?= $user->getCpf() ?>">
                    <fieldset id="step-6">
                        <div class="form-card">
                            <h4 class="text-center">Acesso ao Espaço NOVO</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Seu e-mail:</label>
                                        <input class="form-control" id="email" name="email" type="email" placeholder="Seu e-mail" value="<?= $user->getEmail() ?>"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Digite sua senha:</label>
                                        <input class="form-control" id="password" type="password" name="password" placeholder="Digite sua senha"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password2">Confirme sua senha:</label>
                                        <input class="form-control" id="password2" name="password2" type="password" placeholder="Confirme sua senha"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                    </fieldset>
                </form>
                <div class="col">
                    <div class="mt-2 d-none alert alert-danger" id="divMessageFormRegister">Erro</div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN PAGAMENTO -->
    <div class="card w-75 mx-auto d-none" id="payment" style="margin-top: 10%; border: outset;">
        <div class="card-header text-center" style="background-color: #f17021; color: white;">
            <h2 class="title">PAGAMENTO DE FILIAÇÃO</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="mt-2 d-none text-center" id="divMessageFormPayment">Erro</div>
                </div>
                <form id="formPayment" class="mx-auto">
                    <input type="hidden" name="cpf" value="<?= $user->getCpf() ?>">
                    <input type="hidden" name="directory" value="1">
                    <div>
                        <h4 class="text-center">Forma de Pagamento</h4>
                        <div class="text-center">
                            <div class="btn-group">
                                <button type="button" onclick="setPaymentMethod('paymentMethod1')"
                                    class="px-3 btn btn-success" id="paymentMethod1Button">
                                    <input type="radio" name="paymentMethod" id="paymentMethod1" value="1">
                                    Cartão de crédito
                                </button>
                                <button type="button" onclick="setPaymentMethod('paymentMethod2')"
                                    class="px-4 btn btn-danger">
                                    <input type="radio" name="paymentMethod" id="paymentMethod2" value="2">
                                    Boleto
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="planDiv" style="display: none">
                        <h4 class="text-center">Plano de Pagamento</h4>
                        <div class="text-center">
                            <div class="btn-group">
                                <button type="button" onclick="setPlan('plan1')" class="px-3 btn btn-success"
                                    id="plan1Div">
                                    <input type="radio" name="plan" id="plan1" value="1"> Mensal
                                </button>
                                </button>
                                <button type="button" onclick="setPlan('plan2')" class="px-4 btn btn-danger">
                                    <input type="radio" name="plan" id="plan2" value="12"> Anual
                                </button>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div id="valueDiv" style="display: none">
                        <h4 class="text-center">Valor da Contribuição</h4>
                        <div class="text-center">
                            <div class="btn-group">
                                <div id="contributionMonthly">
                                    <button type="button" onclick="setValue('value1')" class="px-3 btn btn-info">
                                        <input type="radio" name="value" id="value1" value="<?= MINMONTHLY ?>">
                                        R$ <?= number_format(MINMONTHLY, 2, ',', '.') ?>
                                    </button>
                                    <button type="button" onclick="setValue('value2')" class="px-3 btn btn-success">
                                        <input type="radio" name="value" id="value2" value="50" checked>
                                        R$ 50,00
                                    </button>
                                    <button type="button" onclick="setValue('value3')" class="px-3 btn btn-warning">
                                        <input type="radio" name="value" id="value3" value="100">
                                        R$ 100,00
                                    </button>
                                    <button type="button" onclick="setValue('value10')" class="px-3 btn btn-danger">
                                        <input type="radio" name="value" value="0">
                                        Outros Valores
                                    </button>
                                </div>
                                <div id="contributionYearly">
                                    <button type="button" onclick="setValue('value5')" class="px-3 btn btn-info">
                                        <input type="radio" name="value" id="value5" value="<?= MINYEARLY ?>">
                                        R$ <?= number_format(MINYEARLY, 2, ',', '.') ?>
                                    </button>
                                    <button type="button" onclick="setValue('value6')" class="px-3 btn btn-success">
                                        <input type="radio" name="value" id="value6" value="450">
                                        R$ 450,00
                                    </button>
                                    <button type="button" onclick="setValue('value7')" class="px-3 btn btn-warning">
                                        <input type="radio" name="value" id="value7" value="500">
                                        R$ 500,00
                                    </button>
                                    <button type="button" onclick="setValue('value10')" class="px-3 btn btn-danger">
                                        <input type="radio" name="value" id="value10" value="0">
                                        Outros Valores
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="w-25 mx-auto mt-2" id="divValue" style="display: none">
                            <div class="row">
                                <label for="otherValue"><b>Digite o valor:</b></label>
                                <input type="text" class="form-control" name="value2" id="otherValue"
                                    placeholder="Valor">
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div id="paymentMethodDiv">
                        <div id="creditCard" class="w-100 mx-auto mt-2" style="display: none">
                            <div class="card">
                                <div class="card-body">
                                    <input type="hidden" name="flag" id="flag">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="cardNumber">Número do cartão</label>
                                                <input id="cardNumber" onkeyup="validCardNumber()"
                                                    placeholder="Número do cartão" name="cardNumber" type="text"
                                                    class="form-control">
                                                <small class="text-danger" id="cardNumberError" style="display: none">
                                                    Número do cartão inválido
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="cvv">CVV</label>
                                                <input id="cvv" name="cvv" placeholder="CVV" type="number"
                                                    data-mask="0000" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="expiringDate">Validade do cartão</label>
                                                <input id="expiringDate" name="expiringDate" placeholder="MM/AA"
                                                    data-mask="00/00" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="cardName">Nome como está no cartão</label>
                                                <input id="cardName" name="cardName"
                                                    placeholder="Nome como está no cartão"
                                                    onblur="validaNome(this.value)" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="international">Cartão emitido no Brasil?</label>
                                                <select id="international" name="international" class="form-control">
                                                    <option value="" disabled selected>Selecione</option>
                                                    <option value="1">Sim</option>
                                                    <option value="0">Não</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top">
                        <div class="g-recaptcha" data-sitekey="6LeaZa4ZAAAAANFEcXpNEmkKs6se_6r3RguI4F7A"></div>
                    </div>
                    <hr>
                    <input type="hidden" name="site" value="espaconovo">
                    <div class="col text-center">
                        <button type="submit" id="savePayment" class="btn btn-success">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END PAGAMENTO -->

    <!-- Modal Isenção -->
    <div class="modal fade" id="exemptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body custom-scrollbar">
                    <div class="row">
                        <div class="col">
                            <h4>
                                <div class="mt-2 d-none alert alert-danger" id="divMessageExemption">Erro</div>
                                <h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-success" href="<?= BASEURL ?>">FECHAR</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="<?= BASEURL ?>assets/js/jquery.mask.min.js"></script>
    <script src="<?= BASEURL ?>assets/js/core/bootstrap.min.js"></script>
    <script src="<?= BASEURL ?>assets/js/functions.js"></script>
    <script src="<?= BASEURL ?>assets/js/moment.min.js"></script>
    <script src="<?= BASEURL ?>assets/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/intlTelInput.min.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/register.css">
    <script src="<?= BASEURL ?>assets/functions/acceptAffiliation/index.js"></script>

    <script>
    var MAXVALUE = <?= MAXVALUE ?>;
    var MINMONTHLY = <?= MINMONTHLY ?>;
    var MINYEARLY = <?= MINYEARLY ?>;
    var baseurl = '<?= BASEURL ?>';
    var irpf = '<?= $user->getExemption() ?>';
    </script>

    <style>
    h4 {
        color: #f17021;
    }
    </style>

</body>

</html>