body{
    background-color: #187247 !important;
}
html {
    position: relative;
    min-height: 100%
}

.card-login {
    max-width: 30rem;
}

.logo{
    width: 100px !important;
}

#header{
    line-height:0.9;
    background-color: white;
}

#header1{
    color: #1C1C1C;
    font-size: 30px;
}


.btn-primary{
    background-color: #187247;
    font-weight: bold;
}

.btn-secondary{
    background-color: #00B3BD;
    border-color: #00B3BD;
    font-weight: bold;
}

fieldset {
    display: block;
    border: 2px solid #187247 ;
    border-radius: 10px;
}


legend {
    color: #187247 ;
    font-size: 20px;
    text-align: center;
}

input, input:focus{
    border: 0 !important;
    outline: none !important;
}
