body {
    overflow-y: hidden!important;
}

hr {
    background-color: #717171;
}

label {
    margin-top: 20px;
}

.loaderTop {
    display: none;
}

@media (max-width: 800px) and  (min-width: 500px) {
    .card-login {
        width: 60%;
    !important;
    }
}

@media (min-width: 800px) {
    .card-login {
        width: 40%;
    !important;
    }
}

.form-group input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    z-index: 9999;
!important;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    z-index: 9999;
!important;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

.loaderTop {
    position: absolute;
    z-index: 8888;
    margin-left: calc(50% - 3.75rem);
    margin-top: 3rem;
}

.badge {
    cursor: pointer;
!important;
}

.loaderTable {
    margin-top: 10px;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .nav-link {
    margin: 5px 0;
}

@media screen and (min-width: 975px) {
    footer {
        margin-left: 150px;
    }
}

@media screen and (max-width: 974px) {
    footer {
        margin-left: 0;
    }
}

nav {
    margin-top: 20px;
!important;
}

@media screen and (max-width: 1470px) {
    .page-main-header .main-header-right .left-menu-header {
        flex: 0 0 20%;
    }
}

.w-150 {
    width: 150px;
}

.pointer {
    cursor: pointer;
}

.btn-blue {
    background-color: #020283;
!important;
    color: white;
}

.btn-blue:hover {
    color: white;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .nav-submenu li a.active-dash {
    color: #DD6D25;
    background: white;
    font-weight: bold;
}

.page-wrapper.compact-wrapper .page-body-wrapper .active-dash .according-menu i {
    color: white;
!important;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu {
    height: calc(100vh - 120px);
!important;
    overflow-y: auto;
}

@media only screen and (max-width: 991px) {
    .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu {
        height: calc(100vh - 80px);
    !important;
    }
}

i {
    cursor: pointer;
}

.default {
    cursor: default;
!important;
}

.introjs-tooltipbuttons {
    text-align: left
}

.introjs-skipbutton {
    margin-left: 5px;
    float: left
}

.introjs-tooltip-title {
    float: right
}

.introjs-tooltip {
    direction: rtl
}

.introjs-prevbutton {
    border: 1px solid #d4d4d4;
    float: right
}

.introjs-nextbutton {
    border: 1px solid #d4d4d4;
    float: left
}

.introjs-bullets ul li {
    float: right
}

i.active {
    background: rgb(245, 247, 251);
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

table {
    font-size: 90%;
}

.tui-full-calendar-popup-detail .tui-full-calendar-content {
    font-weight: 500;
}

.iconCheck {
    color: #FFC107;
}

.iconCheck:hover {
    color: #198754;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu:hover.custom-scrollbar {
    color: rgba(87%, 43%, 15%, .2)
}

.bg-warning {
    background: #E2C636;
}

.kanban-board-header.bg-danger ~ .kanban-drag {
    background-color: rgba(82, 18, 24, .3);
}

.kanban-box, .kanban-item {
    cursor: pointer;!important;
}

.full-height {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}
.board-full-height {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}
.drag-full-height {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.kanban-drag {
    max-height: 700px;
}

.text-justify {
    text-align: justify;
}

.blb {
    border-left: 1px solid black
}

.tox.tox-tinymce.is-invalid {
    border-color: #dc3545;
    border-width: 1px;
}

.tox.tox-tinymce.is-valid {
    border-color: #198754;
    border-width: 1px;
}

#searchList {
    margin-top:-70px;
    width: 400px;
    max-height: 400px;
    overflow-y: auto
}

@media (max-width: 760px) and (min-width: 621px) {
    #searchList {
        max-width: 300px;
    }
}

@media (max-width: 620px) {
    #searchList {
       max-width: 150px;
        margin-left: -20px;
    }
}

@media (max-width: 575px) {
    #searchList {
        margin-top:-20px;
    }
}

#searchUl .add-to-bookmark:hover {
    background-color: rgba(22, 142, 234, 0.1);
}

#searchUl .add-to-bookmark.not:hover {
    background-color: white;
}

.add-to-bookmark {
    padding: 10px;
    border-radius: 5px;
}

.not-allowed {
    cursor: not-allowed;
}

.spinner-card {
    position: fixed;
    display: none;
    z-index: 9999;
    right: calc(50% - 5rem);
    top: calc(50% - 5rem);
}

.fc-title{
    font-weight: 700;
}

.boll {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

select[data-ssid] {
    pointer-events: none;
    opacity: 0;
    display: flex !important;
    position: absolute;
}

.w-200 {
    width: 200px;
}

.btn.btn-link {
    box-shadow: none; !important;
}

.spinner-card {
    position: fixed;
    display: none;
    z-index: 9999;
    right: calc(50% - 5rem);
    top: calc(50% - 5rem);
}

.orange-grid {
    background: #F17021;
    background-image: linear-gradient(#EF5A23 1px, transparent 1px), linear-gradient(90deg, #EF5A23 1px, transparent 1px);
    background-size: 2em 2em;
    border-radius: 0;!important;
}

.blue-grid {
    background: #1A2948;
    background-image: linear-gradient(#27526E 1px, transparent 1px), linear-gradient(90deg, #27526E 1px, transparent 1px);
    background-size: 2em 2em;
    border-radius: 0;!important;
}

.yellow-grid {
    background: #f5921f;
    background-image: linear-gradient(#f0a24a 1px, transparent 1px), linear-gradient(90deg, #f0a24a 1px, transparent 1px);
    background-size: 2em 2em;
}

.green-grid {
    background: #0a5d74;
    background-image: linear-gradient(#626b7e 1px, transparent 1px), linear-gradient(90deg, #626b7e 1px, transparent 1px);
    background-size: 2em 2em;
}

.small-line {
    line-height: 0.1;
}

.text-blue {
    color: #1A2948;
    font-weight: bold;
}

.opacity-06 {
    opacity: .6;
}

.vh-50 {
    min-height: 50vh;
}

.space {
    white-space: break-spaces;
}

.text-secondary {
    color: #0B2347!important;
}

.badge + .badge {
    margin-left: 0!important;
}

.row-equal-height {
    display: flex;
    flex-wrap: wrap;
}

.col-equal-height {
    display: flex;
    flex-direction: column;
}

.card-equal-height {
    display: flex;
    flex-direction: column;
    flex: 1; /* Ensure the card takes the full height of the column */
}

.card-body {
    flex: 1;
}

.card-address {
    border: solid 1px #dde0e3;
    padding: 10px;
    border-radius: 5px;
}

.card-address i.fa-check-circle {
    visibility: hidden;
    opacity: 0;
}

.card-address.active {
    border-color: #0B2347;
}

.card-address.active i.fa-check-circle {
    visibility: visible;
    opacity: 1;
}

.project-status {
    position: absolute;
    bottom: 25px;
    right: 30px;
    left: 30px;
    z-index: 1;
}

#youtube-iframe {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease, visibility 1.5s ease;
    z-index: 1;
    width: 100%;
    height: 200px;
}

@media (min-width: 768px) {

    #youtube-iframe {
        height: 400px;
    }
}
