h2 {
    color: #333;
    line-height: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #aed6e2 65%);
    display: inline;
    line-height: 32px;
    position: relative;
    bottom: 15px;
    font-weight: 700;
    font-size: 40px;
}

.counter-inside {
    margin: 0 1px;
    padding: 0% .7%;
    display: inline-block;
    background: #004777;
    border-radius: 4px;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.counter-label {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
    top: 50px;
}

.counter-group {
    margin: 0 .3%;
    display: inline;
    position: relative;
}

.box-section {
    text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
}

.tab button {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #6c757d;
    width: 50%;
}

.tab button:hover {
    background-color: #fff;
}

.tab button.active {
    background-color: #1a2948;
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 5px 7px;
    border: 1px solid #ccc;
    border-top: none;
}

.format {
    display: inline;
    height: 20px;
    max-height: 400px;
    min-height: 400px;
}