<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="title">Consultas realizadas a CEP</h5>
			</div>
			<div class="card-body">
				<div class="row table-responsive-xl">
					<div class="col">
						<table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
							<thead>
							<tr>
								<th class="text-center">Consultas</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<?php foreach ($consultations as $consultation): ?>
								<tr>
									<td><?= $consultation->getTitle() ?></td>
									<td class="text-center"><a
											href="<?= BASEURL ?>comunicados/visualizar/<?= $consultation->getId() ?>/"
											target="_blank"> <i class="fa fa-eye"></i> </a></td>
								</tr>
							<?php endforeach ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



