<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?php echo $title ?></h5>
            </div>
            <div class="card-body">
                <img src="https://novo.org.br/wp-content/uploads/2020/09/fluxograma_cep.jpeg" width="100%" height="100%">
            </div>
        </div>
    </div> 
</div>