<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="title">Composição dos membros titulares</h5>
			</div>
			<div class="card-body">
				<div class="row table-responsive-xl">
					<div class="col">
						<table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
							<thead>
							<tr class="text-center">
								<th>Membro</th>
								<th>Eleito em</th>
								<th>Termo de Nomeação e Posse</th>
							</tr>
							</thead>
							<tbody>
							<?php foreach ($members as $m): ?>
								<tr>
									<td><?= $m->getName() ?></td>
									<td class="text-center"><?= $m->getDateElected()->format('d/m/Y') ?></td>
									<td class="text-center"><a type="button" class="btn btn-success"
									                           href="https://gestao.novo.org.br/uploads/cep/<?= $m->getFile() ?>"
									                           target="_blank"><i class="fa fa-download"
									                                              aria-hidden="true"></i> Visualizar</a>
									</td>
								</tr>
							<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>