<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header text-center">

				<h5 class="title">Perguntas e Respostas para a CEP - Denúncias e Processo Administrativo
					Disciplinar</h5>
			</div>
			<div class="card-body">
				<div class="default-according style-1" id="accordionoc">
					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon1"
								        aria-expanded="false" aria-controls="collapse11"> O que significa e o que é a
									CEP?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon1" aria-labelledby="collapseicon1"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>CEP significa Comissão de Ética Partidária, que é o órgão nacional e permanente de
									apoio à gestão do NOVO e que tem como principal função zelar pela ética e decoro,
									bem
									como pela aplicação do Estatuto e normas internas do NOVO.
								</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon2"
								        aria-expanded="false" aria-controls="collapse11"> Quais as competências da CEP?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon2" aria-labelledby="collapseicon2"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>De acordo com o art. 72 do Estatuto Partidário, compete à CEP:</p>
								<p>a) Responder, fundamentadamente, a consultas preventivas de filiados e
									mandatários sobre as regras, interpretações e precedentes éticos do NOVO;</p>
								<p>b) Organizar banco de dados com os precedentes de consultas e julgamentos éticos
									da Comissão;</p>
								<p>c) Instaurar, por iniciativa própria ou a requerimento de filiado, processo
									investigatório sempre que houver fundada suspeita de violação dos princípios e
									regras éticas do NOVO por filiados e mandatários;</p>
								<p>d) Defender a reputação dos filiados e mandatários inocentes contra suspeitas
									infundadas de violação ética, e;</p>
								<p>e) Julgar os filiados e mandatários acusados de violações éticas e aplicar-lhes as
									penas previstas no estatuto ou nas normas complementares.</p>
								<p>
									Em complemento ao contido no art. 72 do Estatuto Partidário, nos termos do art. 6º.
									da
									Resolução Interna Nr. 31/2019 do NOVO, está definido que a CEP responderá a
									consultas
									preventivas, exclusivamente em casos abstratos e não específicos de determinadas
									pessoas, apresentadas por filiados, mandatários ou Diretórios sobre as regras,
									interpretações e precedentes éticos do NOVO ou de quebra de decoro.
								</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon3"
								        aria-expanded="false" aria-controls="collapse11"> Como é composta a CEP?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon3" aria-labelledby="collapseicon3"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>A CEP deve ser composta por no mínimo 3 (três) e no máximo 11 (onze) membros
									nomeados pelo Presidente Nacional do NOVO para mandatos de 4 (quatro) anos,
									prorrogáveis por igual período, escolhidos dentre os filiados de reputação ilibada.
									Dentre seus membros, o Presidente Nacional escolherá um para ser o Coordenador, que
									cuidará de organizar os demais cargos e as atividades da CEP.
								</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon4"
								        aria-expanded="false" aria-controls="collapse11"> Quais as normas partidárias
									regem
									a
									CEP?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon4" aria-labelledby="collapseicon4"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>
									A CEP está prevista nos art. 69 a 72 do Estatuto Partidário e regulamentado pela
									Resolução Interna nº 31, disponíveis no Espaço NOVO.
								</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon5"
								        aria-expanded="false" aria-controls="collapse11"> O que configura indisciplina
									partidária?
									CEP?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon5" aria-labelledby="collapseicon5"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>
									Configura Indisciplina partidária a violação ao Estatuto Partidário, aos programas
									partidários, ao Termo de Compromisso de Gestão, ao Compromisso de Atuação.</p>
								Legislativa, ao Código de Conduta, e a quaisquer normas, resoluções e decisões emitidas
								pelos Diretórios, nos limites de suas competências estatutárias.
								Também configura indisciplina partidária nos termos do art. 18 do Estatuto Partidário:
								<p>a) A violação continuada ou repetida aos deveres de filiado;</p>
								<p>b) A improbidade, violação ética ou quebra de decoro no exercício do mandato ou
									função pública, bem como no exercício de cargo ou função de administração
									partidária;</p>
								<p>c) A obstrução ao funcionamento de qualquer órgão de administração partidária;</p>
								<p>d) A omissão no cumprimento de obrigações inerentes ao cargo ou função em
									órgão de administração partidária;</p>
								<p>e) A formulação de denúncias sabidamente infundadas contra outros filiados do
									NOVO ou contra o NOVO;</p>
								<p>f) O não pagamento ou atraso por 4 (quatro) meses consecutivos da contribuição
									financeira ao NOVO;</p>
								<p>g) Renunciar mandato eletivo durante o seu curso para concorrer ao cargo diverso
									ou para assumir ministério, secretaria ou cargo de confiança no Poder Executivo,
									sem aprovação prévia e escrita do Diretório de seu domicílio eleitoral ou do
									Diretório Nacional;</p>
								<p>h) Praticar conduta personalista que privilegie os próprios interesses ou carreira
									política em detrimento dos objetivos e da coesão do NOVO;</p>
								<p>i) Deixar de cumprir, na condição de mandatário no exercício do cargo eletivo o
									Termo de Compromisso Partidário, o Compromisso de Gestão ou Compromisso
									de Atuação Legislativa, e;</p>
								<p>j) Praticar atos públicos que visem difamar a imagem ou reputação do NOVO, seus
									mandatários, candidatos ou dirigentes.</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon6"
								        aria-expanded="false" aria-controls="collapse11"> O que configura infidelidade
									partidária?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon6" aria-labelledby="collapseicon6"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>
								<p>Configura infidelidade partidária:</p>
								<p>a) Votar em sessão parlamentar, o mandatário do NOVO, em desacordo com a
									orientação partidária de voto, que é considerada obrigatória e vinculativa;</p>
								<p>b) Os membros dos diretórios e os candidatos do NOVO fazer, por ação ou omissão,
									campanhas eleitorais em favor de candidatos de outros partidos ou em conjunto
									com candidatos de outros partidos com os quais o NOVO não tenha definido e
									formalizado, nos termos da lei e do Estatuto, coligação ou aliança.</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon7"
								        aria-expanded="false" aria-controls="collapse11"> Quem pode apresentar denúncia?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon7" aria-labelledby="collapseicon7"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>
									A Regra geral é de que somente sendo filiado apto do NOVO, com mensalidades em dia
									ou em
									atraso
									não
									superior a 45 dias, pode apresentar denúncia contra algum outro filiado do partido.
									Além
									de
									filiados
									nessa condição podem apresentar denúncia qualquer Diretório Partidário ou mesmo a
									própria
									CEP.
								</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon8"
								        aria-expanded="false" aria-controls="collapse11"> Quem pode ser responsabilizado
									pela denúncia?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon8" aria-labelledby="collapseicon8"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>
									Qualquer filiado que tenha infringido alguma norma do NOVO.
								</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon9"
								        aria-expanded="false" aria-controls="collapse11"> Como faço para apresentar uma
									denúncia na CEP? E se a denúncia
									envolver uma questão que não seja de competência para atuação e
									julgamento pela CEP ?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon9" aria-labelledby="collapseicon9"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>Todas as denúncias devem sempre serem apresentadas exclusivamente para a CEP,
									independentemente da mesma vir a ser analisada e julgada a posteriori por qualquer
									outro órgão partidário (algum Diretório). Assim, todo filiado que tiver conhecimento
									da
									ocorrência de qualquer infração por parte de outro filiado pode apresentar denúncia
									fundamentada na CEP, enviando por escrito a descrição dos fatos e provas para o
									e-mail
									etica@novo.org.br. Importante ressaltar que os órgãos partidários do NOVO não são
									órgãos investigativos, mas sim julgadores. Portanto, todas as denúncias já devem ser
									apresentadas com todas as provas que embasam a narrativa sob pena de arquivamento
									liminar.</p>
								<p>
									Mediante uma análise prévia e célere no âmbito da CEP será decidido qual órgão
									partidário do NOVO será competente para analisar e julgar a denúncia recebida,
									estando
									descrito nos artigos 5º. e 6º. da Resolução Interna Nr. 31/2019 a quem caberá julgar
									o
									respectivo caso, que será sempre um dentre os seguintes órgãos partidários:</p>

								<p>Diretório Municipal.</p>
								<p>- Diretório Distrital.</p>
								<p>- Diretório Estadual.</p>
								<p>- Diretório Nacional.</p>
								<p>- a CEP.</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon10"
								        aria-expanded="false" aria-controls="collapse11"> Quais requisitos devo observar
									para apresentar uma denúncia ?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon10" aria-labelledby="collapseicon10"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>Os requisitos para que uma denúncia seja recebida e aceita para análise e julgamento
									estão previstos no art. 7º da Resolução interna nº 31. São eles:</p>
								<p>I - conter o nome do denunciante, que obrigatoriamente deverá ser filiado ao
									NOVO e estar no pleno exercício dos seus direitos, e o seu CPF, e-mail e
									telefone/celular de contato;</p>
								<p>II - conter o nome do denunciado, que obrigatoriamente deverá ser filiado ao
									NOVO;</p>
								<p>III - conter a narrativa dos fatos;</p>
								<p>IV - indicar as normas partidárias que entende violadas;</p>
								<p>V - conter as provas que amparam a pretensão, e,</p>
								<p>VI - indicar as penalidades que compreende sejam cabíveis.</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon11"
								        aria-expanded="false" aria-controls="collapse11"> As denúncias são sigilosas?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon11" aria-labelledby="collapseicon11"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>Não. A Regra geral é de que as denúncias não serão sigilosas, sendo noticiados o nome
									do(s) Denunciante(s) e também do(s) Denunciado(s).</p>
								<p>Somente em caso excepcional, objetivamente justificado, a supressão da identificação
									do(s) Denunciante(s) poderá ser realizada, quando a identificação ao(s)
									Denunciado(s)
									acarretar forte risco à sua integridade, devendo ser expressamente requerida e
									fundamentada na denúncia pelo(s) Denunciante(s), sendo decidido pelo Coordenador
									da CEP ou pelo relator do procedimento, caso já sorteado. De todo modo, observe-se,
									a
									supressão da identificação do(s) Denunciante(s) poderá deixar de ser aplicada sempre
									que os fatos tratados na denúncia inviabilizarem a preservação da(s) identidade(s)
									ou
									quando o sigilo prejudique o interesse público à informação.</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon12"
								        aria-expanded="false" aria-controls="collapse11"> O que acontece depois que a
									denúncia é apresentada?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon12" aria-labelledby="collapseicon12"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>Recebida a denúncia, o Coordenador da CEP realiza sua análise preliminar
									exclusivamente sobre:</p>
								<p>I - a legitimidade do denunciante e do denunciado;</p>
								<p>II - a competência para apuração da denúncia;</p>
								<p>III - Se o fato narrado na denúncia corresponde a alguma infração prevista nas normas
									partidárias;</p>
								<p>IV - Se o filiado denunciante está em pleno exercício dos seus direitos de filiado,
									e;</p>
								<p>V - Se há provas mínimas do fato narrado na denúncia capazes de revelar a infração
									que
									configura falta disciplinar, ética ou quebra de decoro.
									Ausentes quaisquer dos requisitos acima, o Coordenador da CEP poderá arquivar
									liminarmente a denúncia.
									Se a denúncia não for arquivada liminarmente pelo Coordenador da CEP e ela for de
									competência de atuação da CEP ela será submetida à “Análise Prévia” pelo colegiado
									da
									CEP e apenas será convertida em um efetivo Processo Administrativo Disciplinar (PDA)
									se tiver o voto favorável de pelo menos 2 (dois) dos seus membros.
									Se a denúncia, por outro lado, não for de competência da CEP, ela será encaminhada
									para o respectivo Diretório partidário competente pela sua análise e julgamento,
									conforme disposto no art. 5º. da Res. 31/2019, transformando-se diretamente em um
									PAD.</p>
								<p>Sendo convertida a denúncia em um Processo Administrativo Disciplinar (PDA), na CEP
									ou em qualquer Diretório do NOVO, o Denunciado será notificado pelo último e-mail
									cadastrado no Espaço Novo sobre o teor do processo disciplinar, a partir de onde
									iniciará
									o prazo de 10 (dez) dias para apresentação de sua defesa, que deverá conter sua
									versão
									dos fatos, as provas que a embasam e outras provas que pretende produzir, como a
									oitiva de testemunhas, por exemplo.</p>
								<p>Recebida a defesa, o Coordenador da CEP ou o presidente do órgão julgador distribuirá
									o processo a um dos seus membros, que passará a funcionar como Relator.
									A primeira providência do Relator é avaliar a pertinência ou não da produção das
									provas
									requeridas pelo Denunciante e Denunciado. Sobre essa decisão, caberá recurso para o
									colegiado da CEP ou do órgão julgador no prazo de 03 (três) dias corridos a contar
									da
									sua intimação. Já da decisão do colegiado, não caberá novos recursos.
									Encerrada a produção das provas, o Relator deverá declarar o fim da instrução do
									processo e, no menor prazo possível, proferir sua decisão contendo um relatório
									descritivo, fundamentação e seu dispositivo, contendo o resultado da decisão, se
									improcedente ou procedente. Caso seja procedente, deverá sopesar e aplicar as penas
									previstas no Estatuto Partidário.</p>
								<p>Após, o Relator enviará para os demais membros votantes a cópia digital de sua
									decisão,
									bem como todos os demais documentos produzidos ao longo da instrução. Os membros
									da CEP ou do órgão julgador deverão proferir voto no menor prazo possível.
									Colhidos todos os votos, o Coordenador da CEP ou do órgão julgador, conforme for
									quem estiver julgando o processo, deverá proclamar o resultado do julgamento que
									deverá ser obtido pelo primeiro número inteiro acima da metade de votos dos
									integrantes votantes do órgão sancionador, excluídos os membros que se derem por
									impedidos ou suspeitos.</p>
								<p>Caso a CEP ou o órgão julgador não possuam, no momento do julgamento, o mínimo de
									3 (três) membros constituídos, caberá ao Diretório Nacional, por meio do seu
									Presidente
									ou do seu Secretário Nacional de Assuntos Institucionais e Legais, ser comunicado e
									nomear, a seu critério, um membro substituto, filiado, para proferir o seu voto.</p>
								<p>Do julgamento que condenar o Denunciado, caberá recurso no prazo de 10 (dez) dias
									para o Diretório imediatamente superior e, para as decisões da CEP, para o Diretório
									Nacional.</p>
								<p>Recebido o recurso, o Coordenador da CEP ou Presidente do órgão julgador
									competente, conforme o caso, deverá indicar Relator, entre seus membros. Caberá ao
									Relator decidir sobre a atribuição de efeito suspensivo ao recurso, caso requerido
									pelo
									recorrente,</p>
								<p>Enfim, a CEP ou o órgão julgador competente deverá analisar o recurso em caráter
									final
									e irrecorrível.</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon13"
								        aria-expanded="false" aria-controls="collapse11"> Qual é o quórum para
									condenação ?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon13" aria-labelledby="collapseicon13"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>
									Ressalvados os casos específicos previstos no Estatuto e/ou nas resoluções
									partidárias,
									a regra é que para ser condenado em um Processo Administrativo Disciplinar junto a
									CEP ou algum órgão competente é necessário atingir o primeiro número inteiro acima
									da metade de votos dos integrantes votantes do órgão sancionador, excluídos os
									membros que se derem por impedidos ou suspeitos.
								</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon14"
								        aria-expanded="false" aria-controls="collapse11"> Cabe recurso contra as
									decisões da CEP ou de qualquer outro Órgão (Diretórios)?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon14" aria-labelledby="collapseicon14"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>
									Contra os acórdãos proferidos pela CEP ou Diretórios (decisões terminativas dos
									processos julgados) cujo dispositivo seja pela condenação do respectivo filiado
									acusado,
									caberá recurso para o Diretório imediatamente superior ao que estiver proferindo a
									decisão e ao Diretório Nacional em caso de condenação pela CEP e vice-versa, no
									prazo
									de 10 (dez) dias. Nos casos em que a decisão terminativa do processo for pela
									absolvição
									do denunciado, as normas partidárias não estabelecem a possibilidade de recurso.
								</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon15"
								        aria-expanded="false" aria-controls="collapse11"> Como são feitas as
									comunicações oficiais entre as partes envolvidas
									no Processo Administrativo Disciplinar (PDA)?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon15" aria-labelledby="collapseicon15"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>
									De acordo com o art. 8º da Resolução Interna nº 31, todas as comunicações,
									intimações
									e notificações realizadas pela CEP serão remetidas ao último endereço eletrônico do
									respectivo filiado cadastrado no NOVO.
								</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon16"
								        aria-expanded="false" aria-controls="collapse11"> Qual o prazo para julgamento?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon16" aria-labelledby="collapseicon16"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>
									Cada caso é um caso. Por isso, é impossível prever o tempo de julgamento de um
									Processo Administrativo Disciplinar.
								</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon17"
								        aria-expanded="false" aria-controls="collapse11"> Preciso de advogado para
									apresentar uma denúncia ou para me defender?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon17" aria-labelledby="collapseicon17"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>
									Não é necessário estar representado por advogado para apresentar denúncia nem se
									defender.
								</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon18"
								        aria-expanded="false" aria-controls="collapse11"> A quais penas o filiado está
									sujeito?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon18" aria-labelledby="collapseicon18"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>Nos termos do art.21 do Estatuto Partidário em conjunto com o art. 21 da Resolução
									Interna 31/2019 do NOVO), são as seguintes sanções disciplinares a que estão
									sujeitos
									os filiados, em caso de condenação em algum Processo Administrativo Disciplinar,
									oriundo de uma denúncia:</p>
								<p>a) Advertência reservada ou pública, nos casos da primeira infração aos deveres de
									ética, fidelidade e disciplina partidárias;</p>
								<p>b) Multa, a depender do caso;</p>
								<p>c) Suspensão dos direitos de filiado por tempo determinado, limitado a 03(três)
									anos, inclusive nos casos de reincidência ou, por prazo maior, na hipótese de
									tratar-se de filiado que seja mandatário do NOVO, ou esteja ocupando cargos de
									primeiro escalão ou de relevância política e/ou pública nos poderes Executivo e
									Legislativo, Federal, Estaduais ou Municipais sem a indicação do NOVO, cujo
									prazo de suspensão dos direitos de filiado deverá ser durante todo o período que
									estiver exercendo o mandato do NOVO ou ocupando quaisquer dos referidos
									cargos acima.</p>
								<p>d) Destituição de função em órgão de administração partidária, inclusive de
									integrante de processo seletivo de candidatos do NOVO;</p>
								<p>e) Suspensão do direito de se candidatar a cargos ou funções em órgão de
									administração partidária, inclusive para participar de processos seletivos de
									candidatos do NOVO, por até 08 (oito) anos, a ser fixada pelo órgão julgador com
									dosimetria definida pela gravidade do fato que levou à condenação;</p>
								<p>f) Inabilitação para candidatar-se a cargo eletivo pelo NOVO, no caso de infrações
									definidas como infidelidade partidária pelo Estatuto e na hipótese de
									descumprimento do Termo de Compromisso Partidário, do Compromisso de
									Gestão ou do Compromisso de Atuação Legislativa;</p>
								<p>g) Perda de liderança de bancada, nos casos de infidelidade partidária;</p>
								<p>h) Expulsão com cancelamento da filiação partidária, e;</p>
								<p>i) Dever de indenizar nos casos de culpa ou dolo em atos ou omissões que causem
									dano material ou moral ao NOVO ou seus filiados.</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon19"
								        aria-expanded="false" aria-controls="collapse11"> A CEP e/ou Diretórios podem
									expulsar algum filiado?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon19" aria-labelledby="collapseicon19"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>Sim. O filiado poderá ser expulso, conforme previsto no Artigo 21, VII do Estatuto do
									NOVO, nos seguintes casos:</p>
								<p>a) Violação voluntária e grave da Constituição Federal, da lei, do Estatuto, dos
									programas partidários, da probidade administrativa no exercício do mandato
									parlamentar, executivo, ou em órgão de administração partidária;</p>
								<p>b) Perda superveniente dos requisitos de aceitação como filiado;</p>
								<p>c) Perda punitiva do mandato parlamentar ou executivo;</p>
								<p>d) Renúncia ao mandato parlamentar ou executivo, depois de instaurado o
									processo disciplinar que objetiva a cassação;</p>
								<p>e) A prática de atos que tenham causado ou possam causar dano material ou moral
									grave ao NOVO.</p>
							</div>
						</div>
					</div>

					<div class="card m-t-0">
						<div class="card-header bg-primary">
							<h5 class="mb-0">
								<button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
								        data-bs-target="#collapseicon20"
								        aria-expanded="false" aria-controls="collapse11"> O Partido NOVO possui
									Subcomissões de Ética Partidária?
								</button>
							</h5>
						</div>
						<div class="collapse" id="collapseicon20" aria-labelledby="collapseicon20"
						     data-bs-parent="#accordionoc">
							<div class="card-body">
								<p>
									Apesar de previsto na Resolução Interna nº 31, ainda não houve necessidade de serem
									instauradas as Subcomissões de Ética Partidária.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



