<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Espaço NOVO - Extrato</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
</head>
<!--dados pessoais-->
<div class="card p-5">
    <body>
    <!--
    <div class="col-md-12" style="margin-bottom: 15px">
        <div class="float-right">
            <a href="javascript:window.print();" class="btn btn-success btn-block"> <i class="fa fa-print"></i>
                Imprimir</a>
        </div>
    </div>
    -->
    <div class="col-md-12" style="margin-bottom: 15px; text-align: center;">
        <img src="https://novo.org.br/wp-content/uploads/2020/09/cropped-logo-NOVO30-1.png" width="290">
    </div>
    <table>
        <tr>
            <td class="center" style="background: #10385a;
                    color: white;"><b>Resumo de Contribuições pagas em 2024<b></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><b>Doação efetuada por:</b> <?=$user->getName()?><br></td>
                <td><b>CPF/CNPJ:</b> <?=$user->getCpf()?></td>
            </tr>
        </table><br>
        <?php foreach($group as $group): ?>
        <table>
            <thead>
                <tr class="text-center" style="background: #f17021; color: white;">
                    <th>Data:</th>
                    <th>Origem:</th>
                    <th>Recibo:</th>
                    <th>Valor:</th>
                </tr>
            </thead>
            <?php foreach($group[0] as $key => $value): ?>

            <body>
                <tr class="text-center">
                    <td><?= $value['data_pago'] ?></td>
                    <td><?= $value['origem_transacao'] ?></td>
                    <td><?= $value['numero_recibo'] ?></td>
                    <td>R$ <?= $value['valor'] ?></td>
                </tr>
            </body>
            <?php endforeach ?>
            <table>
                <tr>
                    <td><b>Diretório:</b> <?= $group[1][0]['directory'] ?></td>
                    <td><b>CNPJ:</b> <?= $group[1][0]['cnpj'] ?></td>
                    <td><b>Total:</b> R$ <?= $group[1][0]['total'] ?></td>
                </tr>
            </table>
        </table></br>
        <?php endforeach ?>
    </body>
</div>
</html>
<script src="<?= BASEURL ?>assets/js/core/jquery.min.js"></script>

<script>
$(document).ready(function () {
    window.print();
});
</script>

<style>
table {
    width: 100%
}

td {
    border: 1px solid grey
}

th,
td {
    padding: 0;
    padding: 5px
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
}

.center {
    text-align: center;
}
</style>