<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Espaço NOVO - Extrato</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
</head>
<!--dados pessoais-->
    <div class="card p-5"> 
        <body>
            <div class="col-md-12" style="margin-bottom: 15px">
                <div class="float-right">
                    <a href="javascript:window.print();" class="btn btn-success btn-block"> <i class="fa fa-print"></i> Imprimir</a>
                </div>
                <div class="float-left">
                   <a href="javascript:history.back();" class="btn btn-info btn-block"> <i class="fa fa-print"></i> Voltar</a>
                </div>
            </div>            
            <table>
                <tr>
                    <td colspan="5" class="center"><b>RECIBO DE CONTRIBUIÇÂO DE FILIAÇÃO<b></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid white"><?=$directory->getName()?></td>
                    <td style="border-top: 1px solid white">Numeração: <?=$transaction->getReceipt()?></td>
                </tr>
                <tr>
                    <td>30 - NOVO - PARTIDO NOVO</td>
                    <td>CNPJ: <?=$directory->getCnpj()?></td>
                </tr>
                </tr>
                <tr>
                    <td>Doação efetuada por:<br><?=$user->getName()?>
                    </td>
                    <td>CPF/CNPJ<br><?=$user->getCpf()?>
                    </td>
                </tr>
                <tr>
                    <td>Valor em R$<BR> <?=$transaction->getValue()?>
                    </td>
                    <td colspan="4">Valor por extenso<BR><?=$transaction->getValueDescription()?>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">Data da emissão do recibo<BR><?=$transaction->getDataPaid()?>
                    </td>
                </tr>
            </table>
        </body>
    </div>
</html>
<style>
    table { width: 100% }
    td{ border:1px solid grey }
    th, td { padding: 0 ; padding: 5px}
    table { border: 1px solid grey; border-collapse: collapse; }
    .center { text-align: center; }
</style>
