<?php if (1 == 1): ?>
    <div class="row">
        <div class="col">
            <div class="alert alert-info"><b>Pesquisa Encerrada</b></div>
        </div>
    </div>
<?php elseif ($quiz): ?>
    <div class="row">
        <div class="col">
            <div class="alert alert-success"><b>Você já respondeu a pesquisa, obrigado!</b></div>
        </div>
    </div>

<?php else: ?>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Pesquisa</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-justify title">Chegou o momento de fortalecermos nosso partido. O Novo conta com a
                                ajuda de
                                todos os seus filiados para continuarmos evoluindo. Responda o questionário e participe
                                da
                                pesquisa.</h6>
                        </div>
                    </div>
                    <hr>
                    <form id="form">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question1">1 - De modo geral, a população entende melhor os discursos
                                        com
                                        conteúdo mais emocional do que racional.</label>
                                    <select id="question1" name="question1" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question2">2 - As atividades relacionadas ao trabalho dos dirigentes do
                                        Novo
                                        (em nível municipal, estadual e nacional) são plenamente compreendidas pelos
                                        filiados do partido.</label>
                                    <select id="question2" name="question2" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question3">3 - O modelo de gestão do Novo, em que os cargos de direção
                                        são
                                        exercidos por voluntários, tem funcionado bem ao longo do tempo.</label>
                                    <select id="question3" name="question3" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <label>4 - A estrutura organizacional do Novo, com seus diversos órgãos como Diretórios,
                                    CEP, DAM e DAC tem atendido as necessidades do partido de forma satisfatória.
                                    Responda
                                    com sua percepção sobre cada órgão:</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="question4a">Diretório Nacional</label>
                                    <select id="question4a" name="question4a" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Muito satisfeito </option>
                                        <option value="4">Pouco satisfeito </option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Pouco insatisfeito</option>
                                        <option value="1">Muito insatisfeito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="question4b">Diretório Estadual</label>
                                    <select id="question4b" name="question4b" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Muito satisfeito </option>
                                        <option value="4">Pouco satisfeito </option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Pouco insatisfeito</option>
                                        <option value="1">Muito insatisfeito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="question4c">Diretório Municipal (se houver)</label>
                                    <select id="question4c" name="question4c" class="form-control">
                                        <option value="">Selecione</option>
                                        <option value="5">Muito satisfeito </option>
                                        <option value="4">Pouco satisfeito </option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Pouco insatisfeito</option>
                                        <option value="1">Muito insatisfeito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="question4d">CEP - Comissão de Ética Partidária</label>
                                    <select id="question4d" name="question4d" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Muito satisfeito </option>
                                        <option value="4">Pouco satisfeito </option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Pouco insatisfeito</option>
                                        <option value="1">Muito insatisfeito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="question4e">DAM - Departamento de Apoio ao Mandatário</label>
                                    <select id="question4e" name="question4e" class="form-control">
                                        <option value="">Selecione</option>
                                        <option value="5">Muito satisfeito </option>
                                        <option value="4">Pouco satisfeito </option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Pouco insatisfeito</option>
                                        <option value="1">Muito insatisfeito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="question4f">DAC - Departamento de Apoio ao Candidato</label>
                                    <select id="question4f" name="question4f" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Muito satisfeito </option>
                                        <option value="4">Pouco satisfeito </option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Pouco insatisfeito</option>
                                        <option value="1">Muito insatisfeito</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question5">5 - As divergências e debates entre filiados, dirigentes e
                                        mandatários do Novo ocorrem de forma produtiva e respeitosa. </label>
                                    <select id="question5" name="question5" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question6">6 - Pode-se dizer que os filiados do Novo têm acesso pleno às
                                        informações relevantes do partido através dos meios de comunicação existentes, a
                                        saber, e-mails, redes sociais e o conteúdo disponível no Espaço Novo.</label>
                                    <select id="question6" name="question6" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question7">7 - O propósito do Novo, sua razão de existir, pode ser
                                        sintetizada como a de melhorar a vida dos brasileiros de forma sustentável por
                                        meio
                                        de uma transformação política baseada nos princípios da liberdade.</label>
                                    <select id="question7" name="question7" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question8">8 - O Novo pode fazer alianças ou coligações com outros
                                        partidos,
                                        sem, necessariamente, abrir mão de seus valores e seus princípios.</label>
                                    <select id="question8" name="question8" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question9">9 - O Novo só poderá crescer se contar com uma estrutura
                                        profissional condizente com suas aspirações como, por exemplo, dirigentes
                                        partidários remunerados.</label>
                                    <select id="question9" name="question9" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question10">10 - Pode-se afirmar que o Novo tem como objetivo no longo
                                        prazo
                                        ser reconhecido como um partido político capaz de realizar mudanças profundas na
                                        política por meio de lideranças inspiradoras, capazes de promover a liberdade e
                                        o
                                        protagonismo do cidadão.</label>
                                    <select id="question10" name="question10" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question11">11 - A utilização do fundo partidário para manutenção do
                                        partido
                                        deve permanecer vetada, não devendo ser pauta de discussão em nenhuma
                                        hipótese.</label>
                                    <select id="question11" name="question11" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question12">12 - De modo geral, os filiados do Novo têm a oportunidade
                                        de
                                        serem ouvidos por seus respectivos Diretórios Municipais e Estaduais pelos meios
                                        disponíveis, como e-mail, grupos de WhatsApp, telefone e reuniões presenciais ou
                                        remotas.</label>
                                    <select id="question12" name="question12" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question13">13 - A seleção e a formação de candidatos têm se mostrado
                                        adequada e necessária para que o Novo garanta a qualidade de seus candidatos e
                                        futuros mandatários.</label>
                                    <select id="question13" name="question13" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <label>14 - Aos mandatários do Novo, deve ser permitida a candidatura a
                                    outros cargos, mesmo que isso signifique a interrupção do mandato vigente, desde que
                                    seja uma decisão conjunta dos diretórios partidários envolvidos.</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="question14a">Executivo</label>
                                    <select id="question14a" name="question14a" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="question14b">Legislativo</label>
                                    <select id="question14b" name="question14b" class="form-control" required>
                                        <option value="">Selecione</option>
                                        <option value="5">Concordo plenamente</option>
                                        <option value="4">Concordo parcialmente</option>
                                        <option value="3">Não tenho opinião formada</option>
                                        <option value="2">Discordo parcialmente</option>
                                        <option value="1">Discordo totalmente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="question15">15 - Gostaria de deixar alguma crítica ou sugestão
                                        ? </label>
                                    <input id="question15" name="question15" class="form-control">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col text-end">
                                <button type="submit" class="btn btn-success">Cadastrar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div style="display: none" class="alert" id="divMessageForm"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script>

        const form = document.getElementById('form');
        const divMessageForm = document.getElementById('divMessageForm');
        form.addEventListener('submit', e => {
            showLoading();
            e.preventDefault();
            fetch("<?= BASEURL ?>consulta", {
                method: "POST",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json'
                },
                body: new FormData(form)
            }).then(response => {
                closeLoading();
                response.json().then(json => {
                    divMessageForm.textContent = json.message;
                    divMessageForm.style.display = 'block';
                    divMessageForm.classList.add("alert-danger");
                    divMessageForm.classList.remove("alert-success");
                    if (response.status === 201) {
                        divMessageForm.classList.add("alert-success");
                        divMessageForm.classList.remove("alert-danger");
                        window.location.reload();
                    }
                });
            });
        });

    </script>
<?php endif; ?>