<style>
    .card label {
        font-size: 1em !important;
    }
</style>
<?php if (date('Y-m-d') > '2022-03-15'): ?>


    <div class="row">
        <div class="col">
            <div class="alert alert-info">Prazo encerrado!</div>
        </div>
    </div>

<?php elseif ($selectiveProcess2022Module1 && $selectiveProcess2022Module1->getStatus() != 2): ?>

    <div class="row">
        <div class="col">
            <div class="alert alert-info">Você já respondeu o questionário</div>
        </div>
    </div>

<?php else: ?>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Inscrição Processo Seletivo 2022</h5>
                </div>
                <div class="card-body">
                    <form id="form">
                        <div class="row">
                            <div class="col text-center">
                                <h5 class="title">Cadastro</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><b>Tenho interesse em ser candidato a:</b>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input required type="radio" id="Deputado Federal" value="Deputado Federal"
                                           name="desiredPost"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="Deputado Federal"> Deputado Federal</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input required type="radio" id="Deputado Estadual" value="Deputado Estadual/Distrital"
                                           name="desiredPost"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="Deputado Estadual"> Deputado Estadual/Distrital</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input required type="radio" id="Qualquer um dos cargos" value="Qualquer um dos cargos"
                                           name="desiredPost"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="Qualquer um dos cargos"> Qualquer um dos cargos</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-12">
                                <label for="academicEducation"><b>Formação Acadêmica</b></label> <small>Limite <span
                                            id="academicEducationCount">600</span> caracteres</small>
                                <textarea class="form-control" rows="5" required
                                          onkeyup="textCounter('academicEducation', 600)"
                                          name="academicEducation" type="text" id="academicEducation"
                                          placeholder="Conte-nos um pouco sobre sua formação, quais cursos você fez, qual faculdade cursou, em qual universidade, seus principais interesses, etc."></textarea>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-12">
                                <label for="professionalHistory"><b>Histórico Profissional</b></label> <small>Limite <span
                                            id="professionalHistoryCount">600</span> caracteres</small>
                                <textarea class="form-control" rows="5" required
                                          onkeyup="textCounter('professionalHistory', 600)"
                                          name="professionalHistory" type="text" id="professionalHistory"
                                          placeholder="Conte-nos um pouco sobre a sua atividade profissional, em quais empresas já trabalhou, se é um empreendedor, em quais áreas já atuou, etc."></textarea>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-3">
                                <label for="facebook">Link Facebook</label>
                                <input class="form-control" name="facebook" type="text" id="facebook"
                                       placeholder="https://facebook.com">
                            </div>
                            <div class="col-md-3">
                                <label for="instagram">Link Instagram</label>
                                <input class="form-control" name="instagram" type="text" id="instagram"
                                       placeholder="https://instagram.com">
                            </div>
                            <div class="col-md-3">
                                <label for="twitter">Link Twitter</label>
                                <input class="form-control" name="twitter" type="text" id="twitter"
                                       placeholder="https://twitter.com">
                            </div>
                            <div class="col-md-3">
                                <label for="youtube">Link Youtube</label>
                                <input class="form-control" name="youtube" type="text" id="youtube"
                                       placeholder="https://youtube.com">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col text-center">
                                <h5 class="title">Dossiê da Última Campanha</h5>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-3">
                                <label for="year">Ano</label>
                                <input class="form-control" required name="year" type="number" id="year" placeholder="Ano"
                                       min="2016" max="2020">
                            </div>
                            <div class="col-md-3">
                                <label for="post">Cargo</label>
                                <select required name="post" id="post" class="form-control">
                                    <?php foreach ($posts as $post): ?>
                                        <option value="<?= $post->getId() ?>"><?= $post->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="votes">Votos</label>
                                <input class="form-control" required name="votes" type="number" id="votes"
                                       placeholder="Votos">
                            </div>
                            <div class="col-md-3">
                                <label for="collection">Arrecadação</label>
                                <input class="form-control" required name="collection" type="number" id="collection"
                                       placeholder="Arrecadação">
                            </div>
                            <div class="col-md-3">
                                <label for="targetAudience">Público-alvo</label>
                                <input class="form-control" required name="targetAudience" type="text" id="targetAudience"
                                       placeholder="Público-alvo">
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                        <span class="fileselector"><label class="btn btn-sm btn-danger text-white"
                                                                          for="visualIdentity">
                                                <input class="upload-file-selector" id="visualIdentity" type="file"
                                                       name="visualIdentity"><i
                                                        class="fa fa-paperclip margin-correction">
                                                </i> <span id="visualIdentityLabel"
                                                           default="Anexar Imagem com Identidade Visual">Anexar Imagem com Identidade Visual</span></label></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-12">
                                <label for="flags"><b>Bandeiras da campanha</b></label>
                                <textarea class="form-control" rows="5" required
                                          onkeyup="textCounter('flags', 600)"
                                          name="flags" type="text" id="flags"
                                          placeholder="Bandeiras da campanha"></textarea>
                            </div>
                        </div>

                        <div class="form-row pt-3">
                            <div class="col-md-12">
                                <label for="team"><b>Equipe de campanha</b></label> <small>Limite <span
                                            id="teamCount">600</span> caracteres</small>
                                <textarea class="form-control" rows="5" required
                                          onkeyup="textCounter('team', 600)"
                                          name="team" type="text" id="team"
                                          placeholder="cite cargos/ funções, carga horária e quantidades"></textarea>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-12">
                                <label for="lessons"><b>Lições aprendidas de campanha</b></label> <small>Limite <span
                                            id="lessonsCount">600</span> caracteres</small>
                                <textarea class="form-control" rows="5" required
                                          onkeyup="textCounter('lessons', 600)"
                                          name="lessons" type="text" id="lessons"
                                          placeholder="Lições aprendidas de campanha"></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col text-center">
                                <h5 class="title">2022</h5>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-12">
                                <label for="motivations"><b>Motivações para 2022</b></label> <small>Limite <span
                                            id="motivationsCount">600</span> caracteres</small>
                                <textarea class="form-control" rows="5" required
                                          onkeyup="textCounter('motivations', 600)"
                                          name="motivations" type="text" id="motivations"
                                          placeholder="Motivações para 2022"></textarea>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-12">
                                <label for="region"><b>Região/Locais de atuação 2022</b></label> <small>Limite <span
                                            id="regionCount">600</span> caracteres</small>
                                <textarea class="form-control" rows="5" required
                                          onkeyup="textCounter('region', 600)"
                                          name="region" type="text" id="region"
                                          placeholder="Região/Locais de atuação 2022"></textarea>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-12">
                                <label for="evaluationInstitution"><b>Avaliação da Instituição NOVO</b></label> <small>Limite <span
                                            id="evaluationInstitutionCount">600</span> caracteres</small>
                                <textarea class="form-control" rows="5" required
                                          onkeyup="textCounter('evaluationInstitution', 600)"
                                          name="evaluationInstitution" type="text" id="evaluationInstitution"
                                          placeholder="Avaliação da Instituição NOVO: (Diretórios, Estratégias e Posicionamentos)"></textarea>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-12">
                                <label for="evaluationInstitutionAgents"><b>Avaliação da atuação dos mandatários do
                                    Novo</b></label> <small>Limite <span
                                            id="evaluationInstitutionAgentsCount">600</span> caracteres</small>
                                <textarea class="form-control" rows="5" required
                                          onkeyup="textCounter('evaluationInstitutionAgents', 600)"
                                          name="evaluationInstitutionAgents" type="text" id="evaluationInstitutionAgents"
                                          placeholder="Avaliação da atuação dos mandatários do Novo ( atuações, votações, posicionamentos)"></textarea>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-12">
                                <label for="evaluationGovernmentFederal"><b>Avaliação do Governo Federal atual</b></label> <small>Limite
                                    <span
                                            id="evaluationGovernmentFederalCount">600</span> caracteres</small>
                                <textarea class="form-control" rows="5" required
                                          onkeyup="textCounter('evaluationGovernmentFederal', 600)"
                                          name="evaluationGovernmentFederal" type="text" id="evaluationGovernmentFederal"
                                          placeholder="Avaliação do Governo Federal atual"></textarea>
                            </div>
                        </div>
                        <div class="form-row pt-3">
                            <div class="col-md-12">
                                <label for="evaluationGovernmentState"><b>Avaliação do Governo Estadual atual</b></label> <small>Limite
                                    <span
                                            id="evaluationGovernmentStateCount">600</span> caracteres</small>
                                <textarea class="form-control" rows="5" required
                                          onkeyup="textCounter('evaluationGovernmentStateCount', 600)"
                                          name="evaluationGovernmentState" type="text" id="evaluationGovernmentState"
                                          placeholder="Avaliação do Governo Estadual atual"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <button type="submit" class="btn btn-success">ENVIAR</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div style="display: none" class="alert" id="divMessageForm"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="title w-100">AVISO</h5>
                </div>
                <div class="modal-body custom-scrollbar text-justify">
                    <p>Não é possível editar ou preencher novamente</p>
                </div>
                <div class="modal-footer">
	                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="sendForm()">Prosseguir</button>
                </div>
            </div>
        </div>
    </div>

    <script>


        const form = document.getElementById('form');
        const divMessageForm = document.getElementById('divMessageForm');
        form.addEventListener('submit', e => {
            $("#modal").modal({
                backdrop: "static", //remove abilidfsaty to close modal with click
                keyboard: false, //remove option to close with keyboard
                show: true //Display loader!
            });
            e.preventDefault();
        });

        function sendForm() {
            $("#modal").modal("hide");
            showLoading();
            fetch("<?= BASEURL ?>processo-seletivo/2022/<?= $user->getId() ?>", {
                method: "POST",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json'
                },
                body: new FormData(form)
            }).then(response => {
                closeLoading();
                response.json().then(json => {
                    divMessageForm.textContent = json.message;
                    divMessageForm.style.display = 'block';
                    divMessageForm.classList.add("alert-danger");
                    divMessageForm.classList.remove("alert-success");
                    if (response.status === 201) {
                        divMessageForm.classList.add("alert-success");
                        divMessageForm.classList.remove("alert-danger");
                        form.reset();
                        setTimeout(function () {
                            window.open("https://novo.org.br/participe/parabens-por-se-inscrever-no-psf-2022/");
                            window.location.reload();
                        }, 3000);
                    }
                });
            });
        }


        $(document).ready(function () {
            $('input:file').change(function (e) {
                let input = e.target;
                if (input.files.length > 0) {
                    input.parentElement.classList.remove('btn-success');
                    input.parentElement.classList.remove('btn-danger');
                    input.parentElement.classList.add('btn-success');
                    input.text = input.value;
                    let labelId = input.getAttribute('id') + 'Label';
                    document.getElementById(labelId).textContent = input.value;
                } else {
                    input.parentElement.classList.remove('btn-success');
                    input.parentElement.classList.add('btn-danger');
                    let labelId = input.getAttribute('id') + 'Label';
                    document.getElementById(labelId).textContent = document.getElementById(labelId).getAttribute('default');
                }
            });
        });


        function textCounter(id, maxlimit) {
            let field = document.getElementById(id);
            if (field.value.length > maxlimit)
                field.value = field.value.substring(0, maxlimit);
            else
                document.getElementById(`${id}Count`).textContent = maxlimit - field.value.length;
        }
    </script>

<?php endif; ?>