<style>
    .card label {
        font-size: 1em !important;
    }
</style>
<div class="content-wrapper">

    <div class="container-fluid">

        <?php if (date('Y-m-d') > '2022-03-15' && !$selectiveProcess2022Module1): ?>


            <div class="row">
                <div class="col">
                    <div class="alert alert-info">Prazo encerrado!</div>
                </div>
            </div>


        <?php elseif (!$selectiveProcess2022Module1): ?>

            <div class="row mt-5">
                <div class="col"></div>
                <div class="col text-center">
                    <div class="alert alert-info" role="alert">
                        <b>Você precisa realizar a etapa "Cadastro" primeiro.</b>
                    </div>
                </div>
                <div class="col"></div>
            </div>

        <?php elseif (!$questions): ?>


            <div class="row mt-5">
                <div class="col"></div>
                <div class="col text-center">
                    <div class="alert alert-success" role="alert">
                        <b>Parabéns, você finalizou este módulo</b>
                    </div>
                </div>
                <div class="col"></div>
            </div>

        <?php else: ?>
            <div class="card">

                <div class="card-header">
                    <span style="font-size: 30px"><b><?= $questions[0]->getTypeString() ?></b></span> <br>
                    <span class="text-white">Responda de acordo com suas convicções.</span>
                </div>
                <div class="card-body">
                    <form id="form">
                        <?php foreach ($questions as $question): ?>
                            <div class="row">
                                <div class="col">
                                    <p><?= strip_tags($question->getText()) ?></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-radio">
                                        <input required type="radio" id="a-<?= $question->getId() ?>" value="a"
                                               name="answer-<?= $question->getId() ?>"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="a-<?= $question->getId() ?>">Concordo
                                            plenamente</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="b-<?= $question->getId() ?>" value="b"
                                               name="answer-<?= $question->getId() ?>" class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="b-<?= $question->getId() ?>">Concordo parcialmente</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="c-<?= $question->getId() ?>" value="c"
                                               name="answer-<?= $question->getId() ?>" class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="c-<?= $question->getId() ?>">Não tenho opinião formada</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="d-<?= $question->getId() ?>" value="d"
                                               name="answer-<?= $question->getId() ?>" class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="d-<?= $question->getId() ?>">Discordo parcialmente</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="e-<?= $question->getId() ?>" value="e"
                                               name="answer-<?= $question->getId() ?>" class="custom-control-input">
                                        <label class="custom-control-label" for="e-<?= $question->getId() ?>">Discordo
                                            totalmente</label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        <?php endforeach; ?>

                        <div class="row">
                            <div class="col">
                                <div style="display: none" id="message" class="alert" role="alert"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success"><i class="fa fa-floppy-o"></i> Enviar Respostas</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        <?php endif; ?>


    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="spinnerModal">
        <div class="modal-dialog modal-dialog-centered text-center" role="document">
            <span class="fa fa-spinner fa-spin fa-3x w-100"></span>
        </div>
    </div>

</div>

<script>

    const form = document.getElementById('form');
    const divMessage = document.getElementById('message');

    form.addEventListener('submit', e => {
        showLoading();
        e.preventDefault();
        let formData = formDataToJson('form')

        fetch("<?= BASEURL ?>processo-seletivo/2022/teste-de-alinhamento/<?= $user->getId() ?>", {
            method: "POST",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            response.json().then(json => {
                divMessage.textContent = json.message;
                divMessage.style.display = 'block';
                if (response.status === 201) {
                    location.reload();
                } else {
                    divMessage.classList.add("alert-danger");
                    divMessage.classList.remove("alert-success");
                    closeLoading();
                }
            });
        });
    });
</script>