<?php if (date('Y-m-d') > '2022-03-15' && !$start): ?>


    <div class="row">
        <div class="col">
            <div class="alert alert-info">Prazo encerrado!</div>
        </div>
    </div>


<?php elseif ($selectiveProcess2022Module1): ?>

    <div class="row">
        <div class="col">
            <div class="alert alert-info">Você já enviou o vídeo de apresentação</div>
        </div>
    </div>

<?php else: ?>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Vídeo de Apresentação Processo Seletivo 2022</h5>
                </div>
                <div class="card-body">
                    <p class="text-justify">Neste ponto da Etapa I, o candidato deverá incluir um link do Youtube com
                        seu vídeo contendo no
                        máximo 2 minutos e responder as seguintes perguntas: <br>
                        • Por que você quer se lançar candidato nessas eleições ? <br>
                        • Em suas palavras, qual seria o diferencial de ser candidato pelo NOVO? <br>
                        • Quais, ao menos 2 (duas), matérias que você vê como prioritárias no caso de você ser
                        eleito? Por quê? <br>
                        O vídeo é a oportunidade de você se apresentar através da exposição da sua imagem,
                        retórica e eloquência. Recomendamos que planeje seu vídeo, o formato, o local e como irá se
                        apresentar. <br> <br>
                        <b>INFORMAÇÕES IMPORTANTES:</b> <br>
                        • O vídeo pode ser inserido como não listado ou público e recomendamos que após o período da 1ª
                        Etapa seja excluído. <br>
                        • Não leia roteiros, use apresentações em powerpoint ou vídeos de terceiros. <br>
                        • Não envie vídeos com mais de 2 (dois) minutos. Realize a síntese das suas respostas e
                        apresentação dentro deste período de tempo; <br>
                        • Vídeos com mais de 2’15” (dois minutos e quinze segundos) serão automaticamente
                        desclassificados; <br>
                        • Vídeos que não contenham as respostas para as 3 (três) perguntas acima também serão
                        eliminados; <br>
                        • A avaliação do candidato inclui, além da prova, a avaliação conjunta do currículo e
                        vídeo, logo, evite informações redundantes para que você possa otimizar e melhor utilizar o
                        tempo previsto; <br>
                        • Verifique e preste atenção para que seu vídeo esteja dentro do tempo e com áudio e vídeo da
                        maneira desejada. <br>
                        • Não há necessidade de edição, ou gravação em estúdio, concentre-se no conteúdo e na mensagem
                        que gostaria de transmitir. <br></p>
                    <hr>
                    <form id="form">
                        <div class="row">
                            <div class="col">
                                <label for="link">Link do Vídeo</label>
                                <input class="form-control" name="link" type="text" id="link"
                                       placeholder="Link">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <button type="submit" class="btn btn-success">ENVIAR</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div style="display: none" class="alert" id="divMessageForm"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="title w-100">AVISO</h5>
                </div>
                <div class="modal-body custom-scrollbar text-justify">
                    <p>Não é possível editar ou preencher novamente</p>
                </div>
                <div class="modal-footer">
	                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="sendForm()">Prosseguir</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const form = document.getElementById('form');
        const divMessageForm = document.getElementById('divMessageForm');
        form.addEventListener('submit', e => {
            $("#modal").modal({
                backdrop: "static", //remove abilidfsaty to close modal with click
                keyboard: false, //remove option to close with keyboard
                show: true //Display loader!
            });
            e.preventDefault();
        });

        function sendForm() {
            $("#modal").modal("hide");
            showLoading();
            fetch("<?= BASEURL ?>processo-seletivo/2022/apresentacao", {
                method: "POST",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json'
                },
                body: new FormData(form)
            }).then(response => {
                closeLoading();
                response.json().then(json => {
                    divMessageForm.textContent = json.message;
                    divMessageForm.style.display = 'block';
                    divMessageForm.classList.add("alert-danger");
                    divMessageForm.classList.remove("alert-success");
                    if (response.status === 201) {
                        divMessageForm.classList.add("alert-success");
                        divMessageForm.classList.remove("alert-danger");
                        form.reset();
                        window.location.href = '<?= BASEURL ?>';
                    }
                });
            });
        }
    </script>
<?php endif; ?>