<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-4">
						<h5 class="title"><?= $title ?></h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row table-responsive-xl">
					<div class="col">
						<table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
							<thead>
							<tr class="text-center">
								<th>Evento</th>
								<th>Nome</th>
								<th>Ingresso</th>
								<th>Código</th>
								<th>Valor</th>
								<th>Inscrição</th>
								<th>Status</th>
								<th>Ingresso</th>
							</tr>
							</thead>
							<tbody>
							<?php foreach ($tickets as $ticket): ?>
								<tr>
									<td><?= $ticket['nome_evento'] ?></td>
									<td><?= $ticket['nome'] ?></td>
									<td class="text-center"><?= $ticket['description'] ?></td>
									<td><?= $ticket['code'] ?></td>
									<td class="text-center">R$ <?= $ticket['value'] ?></td>
									<td class="text-center"><?= $ticket['date'] ?></td>
									<td class="text-center"><?= $ticket['status'] ?></td>
									<td class="text-center">
										<?php if ($ticket['status_evento'] == 'ativo'): ?>
											<button type="button" class="btn btn-info" type="button"
											        onclick="openModal('<?= $ticket['code'] ?>','<?= $ticket['eventId'] ?>')">
												<i
													class="fa fa-pencil"></i>
												Editar
											</button>
											<?php if ($ticket['status'] == 'confirmado'): ?>
												<a href="<?= BASEURL ?>eventos/ingresso/<?= $ticket['id'] ?>"
												   class="btn btn-success"
												   type="button" target="blank"><i class="fa fa-download"></i> Download</a>
											<?php elseif ($ticket['value'] > 0.00): ?>
												<a href="<?= BASEURL ?>financeiro/extrato" class="btn btn-success"
												   type="button"
												   target="blank"><i class="fa fa-money"></i> Pagar</a>
											<?php endif; ?>
										<?php else: ?>
											<i class="fa fa-ban" title="Evento Finalizado" aria-hidden="true"></i>
										<?php endif; ?>
									</td>
								</tr>
							<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form id="editForm">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Editar Ingresso - <span id="ticket"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						
					</button>
				</div>
				<div class="modal-body custom-scrollbar">
					<input type="hidden" id="code" name="code" value="">
					<input type="hidden" id="eventId" name="eventId" value="">
					<div class="row">
						<div class="col-md-12">
							<label for="title">Insira os novos dados do ingresso:</label>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input class="form-control" id="name" name="name" placeholder="Nome" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" id="cpf" name="cpf" placeholder="Cpf" type="text">
							</div>
						</div>
						<div class="col-md-12">
							<div id="messageForm" class="alert d-none" role="alert"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-success" id="save">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	const editForm = document.getElementById('editForm');
	const divMessageForm = document.getElementById('messageForm');
	editForm.addEventListener('submit', e => {
		document.getElementById("save").disabled = true;
		e.preventDefault();
		showLoading();
		let formData = formDataToJson('editForm');
		fetch('<?= BASEURL ?>eventos/edita-ingresso', {
			method: 'POST',
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			divMessageForm.classList.add("alert-danger");
			divMessageForm.classList.remove("alert-success");
			response.json().then(json => {
				divMessageForm.innerHTML = json.message;
				divMessageForm.classList.remove("d-none");
				if (response.status === 201) {
					divMessageForm.classList.add("alert-success");
					divMessageForm.classList.remove("alert-danger");
					setTimeout(function () {
						location.reload()
					}, 3000);
				}
			});
		});
	});

	function openModal(code, eventId) {
		$('#ticket').text(code);
		document.getElementById("code").value = code;
		document.getElementById("eventId").value = eventId;
		$('#editModal').modal('show');
	}

	$(document).ready(function () {
		$("#cpf").mask("999.999.999-99");
	});
</script>