<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Espaço NOVO - Extrato</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
</head>
<!--dados pessoais-->
    <div class="card p-5"> 
        <body>
            <div class="col-md-12">
                <div class="float-right">
                   <a href="javascript:window.print();" class="btn btn-success btn-block"> <i class="fa fa-print"></i> Imprimir</a>
                </div>
            </div>
            <table >
                <tr><td class="center"><b>RECIBO DE DOAÇAO - VIA DOADOR - EVENTOS<b></td></tr>
                <tr><td style="font-size: 10px">
                <p>
                    INSTRUÇÕES <br>
                    As doações para campanha eleitoral são limitadas a dez por cento dos rendimentos brutos auferidos pela pessoa física no ano anterior à eleição,
                    excetuando-se doações estimáveis em dinheiro relativas à utilização de bens móveis ou imóveis de propriedade do doador, desde que o valor da doação
                    não ultrapasse R$ 80.000,00 (oitenta mil reais). (Lei n° 9.504/97, art. 23, § 1°, | e § 7°). A doação acima dos limites fixados em lei sujeita o infrator
                    ao pagamento de multa no valor de 5 a 10 vezes a quantia em excesso. (Lei n° 9.504/97, art. 23, § 3°, e art. 81, § 2°).	
                </p>
                <p>
                    No campo CPF/CNPJ informe o número do CPF para as doações de pessoa física ou o número do CNPJ no caso de doações de partidos políticos ou doações recebidas
                    pelo partido de candidatos.
                </p>
                </td></tr>
            </table>

            <table >
                <tr >
                    <td style="border-top:1px solid white"><?=$directory->getName()?></td>
                    <td style="border-top:1px solid white">Numeração: <?=$transaction->getReceipt()?></td>
                </tr>
                    <tr>
                    <td>30 - NOVO - PARTIDO NOVO</td>
                    <td>CNPJ: <?=$directory->getCnpj()?></td>
                </tr>
                <tr>
                    <td colspan="2" class='center'>( ) Doação para Campanha ( x ) Outros recursos ( ) Fundo Partidário ( ) Fundo Especial de Financiamento de Campanha</td>
                </tr>
                </tr>
                    <tr>
                    <td>Doação efetuada por: <?=$user->getName()?><br></td>
                    <td>CPF/CNPJ: <?=$user->getCpf()?></td>
                </tr>

                <tr>
                    <td colspan="2" style="border-bottom :1px solid white">Dados bancários do Doador</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Nº Banco<BR>-</td>
                    <td>Nº Agência<BR>-</td>
                    <td>Nº Conta Corrente<BR>-</td>
                    <td>Nº Cheque<BR>-</td>
                    <td>Nº DOC/TED/Operação<BR>-</td>
                </tr>
                <tr>
                    <td colspan="5">Estimável em dinheiro - descrição resumida dos bens/serviços recebidos em doação<BR>-</td>
                </tr>
                <tr>
                    <td colspan="5">Outra forma de arrecadação - descrição do tipo - nº do documento<BR>-</td>
                </tr>
                <tr>
                    <td>Valor em R$  <BR><?= $transaction->getValue()?></td>
                    <td colspan="4">Valor por extenso<BR><?=$transaction->getValueDescription()?></td>
                </tr>
                <tr>
                    <td colspan="4">Nome do doador originário<BR>-</td>
                    <td >CPF/CNPJ do doador originário<BR>-</td>
                </tr>
                <tr>
                    <td colspan="4">Nome do responsável pela emissão do recibo<BR>-</td>
                    <td >CPF do responsavél pela emissão do recibo<BR>-</td>
                </tr>
                <tr>
                    <td colspan="4">Assinatura do responsável pela emissão do recibo<BR>-</td>
                    <td valign="top" >Data da emissão do recibo:<BR><?= $transaction->getDataPaid()->format('d/m/Y') ?></td>
                </tr>
            </table>
        </body>
    </div>
</html>
<style>
    table { width: 100% }
    td{ border:1px solid grey }
    th, td { padding: 0 ; padding: 5px}
    table { border: 1px solid grey; border-collapse: collapse; }
    .center { text-align: center; }
</style>



