<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>NOVO | Faça sua Filiação</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
    <script src="<?= BASEURL ?>assets/js/core/jquery.min.js"></script>
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/style.css">
</head>
<body class="container">

    <div class="card p-3 mx-auto w-50">
        <h3 class="text-center title text-primary">
            Filie-se
        </h3>
        <form id="form">
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" name="cpf" required id="cpf" class="form-control" data-mask="999.999.999-99"
                       placeholder="CPF">
            </div>
            <button type="submit" class="btn btn-secondary btn-block">AVANÇAR</button>
        </form>
        <div class="mt-3 alert alert-danger d-none" id="divMessageForm">Erro</div>
    </div>



<!-- Loading Modal -->
<div class="modal fade" id="showLoading" style="margin-top: 10%" tabindex="-1" role="dialog"
     aria-labelledby="showLoading">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body custom-scrollbar text-center">
                <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/jquery.mask.min.js"></script>
<script src="<?= BASEURL ?>assets/js/core/bootstrap.min.js"></script>
<script src="<?= BASEURL ?>assets/js/functions.js"></script>

<script>
    const form = document.getElementById('form')
    const divMessageForm = document.getElementById('divMessageForm');
    form.addEventListener('submit', e => {
        e.preventDefault();
        showLoading();
        let formData = formDataToJson('form');
        fetch("<?= BASEURL ?>api/filiacao/" + formData.cpf.replace(/\D/gim, ''), {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                divMessageForm.textContent = json.message;
                divMessageForm.classList.add("alert-danger");
                divMessageForm.classList.remove("alert-success");
                divMessageForm.classList.remove("d-none");
                if (response.status === 200) {
                    divMessageForm.classList.add("d-none");
                    window.location.href = "<?= BASEURL ?>filiacao/"+formData.cpf.replace(/\D/gim, '');
                }else if (response.status === 302) {
                    setTimeout(function() {
                        window.location.href = "<?= BASEURL ?>login";
                    }, 1500);
                }
            });
        });
    })
</script>
</body>
</html>