<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>NOVO | Faça sua Filiação</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon.png">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
    <script src="<?= BASEURL ?>assets/js/core/jquery.min.js"></script>
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/style.css">
</head>
<body class="bg-dark container">

<div class="card px-5 py-3 my-5">

    <h3 class="title text-center text-primary">PAGAMENTO DE FILIAÇÃO</h3>
    <b class="text-center">Após a confimação do pagamento, a sua solicitação ficará em análise por até 5 dias
        corridos.</b>
    <div class="alert alert-info text-center"><i class="fa fa-exclamation-circle"></i> Sua contribuição será recorrente
        e renovada automaticamente de acordo com o plano escolhido.
    </div>

    <div class="card">
        <form id="form" class="card-body">
            <input type="hidden" name="cpf" value="<?= $cpf ?>">
            <div>
                <h5 class="text-center text-primary">Plano de Pagamento</h5>
                <div class="text-center">
                    <div class="btn-group">
                        <button type="button" onclick="setPlan('plan1')" class="px-3 btn btn-success">
                            <input type="radio" name="plan" id="plan1" value="1">
                            Mensal
                        </button>
                        <button type="button" onclick="setPlan('plan2')" class="px-4 btn btn-secondary">
                            <input type="radio" name="plan" id="plan2" value="12">
                            Anual
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div id="valueDiv" style="display: none">
                <h5 class="text-center text-primary">Valor da Contribuição</h5>
                <div class="text-center">
                    <div class="btn-group">
                        <div id="contributionMonthly">
                            <button type="button" onclick="setValue('value1')" class="px-3 btn btn-info">
                                <input type="radio" name="value" id="value1" value="32.84">
                                R$ 32,84
                            </button>
                            <button type="button" onclick="setValue('value2')" class="px-3 btn btn-success">
                                <input type="radio" name="value" id="value2" value="50">
                                R$ 50,00
                            </button>
                            <button type="button" onclick="setValue('value3')" class="px-3 btn btn-secondary">
                                <input type="radio" name="value" id="value3" value="100">
                                R$ 100,00
                            </button>
                            <button type="button" onclick="setValue('value4')" class="px-3 btn btn-dark">
                                <input type="radio" name="value" id="value4" value="200">
                                R$ 200,00
                            </button>
                        </div>
                        <button type="button" onclick="setValue('value5')" class="px-3 btn btn-warning">
                            <input type="radio" name="value" id="value5" value="394.04">
                            R$ 394,04
                        </button>
                        <div id="contributionYearly">
                            <button type="button" onclick="setValue('value6')" class="px-3 btn btn-info">
                                <input type="radio" name="value" id="value6" value="400">
                                R$ 400,00
                            </button>
                            <button type="button" onclick="setValue('value7')" class="px-3 btn btn-success">
                                <input type="radio" name="value" id="value8" value="500">
                                R$ 500,00
                            </button>
                            <button type="button" onclick="setValue('value8')" class="px-3 btn btn-secondary">
                                <input type="radio" name="value" id="value8" value="700">
                                R$ 700,00
                            </button>
                            <button type="button" onclick="setValue('value9')" class="px-3 btn btn-dark">
                                <input type="radio" name="value" id="value9" value="1064">
                                R$ 1064,00
                            </button>
                        </div>
                        <button type="button" onclick="setValue('value10')" class="px-3 btn btn-danger">
                            <input type="radio" name="value" id="value10" value="0">
                            Outros Valores
                        </button>
                    </div>
                </div>
                <div class="col-md-3 mx-auto mt-2" id="divValue" style="display: none">
                    <label for="otherValue"><b>Valor</b></label>
                    <input type="text" class="form-control" name="value2" id="otherValue"
                           placeholder="Valor">
                </div>
                <hr>
            </div>
            <div id="paymentMethodDiv" style="display: none">
                <h5 class="text-center text-primary">Forma de Pagamento</h5>
                <div class="text-center">
                    <div class="btn-group">
                        <button type="button" onclick="setPaymentMethod('paymentMethod1')" class="px-3 btn btn-success">
                            <input type="radio" name="paymentMethod" id="paymentMethod1" value="1" checked>
                            Cartão de crédito
                        </button>
                        <button type="button" onclick="setPaymentMethod('paymentMethod2')"
                                class="px-4 btn btn-secondary">
                            <input type="radio" name="paymentMethod" id="paymentMethod2" value="2">
                            Boleto
                        </button>
                    </div>
                </div>
                <div id="creditCard" class="col-md-6 mx-auto mt-2">
                    <div class="card">
                        <div class="card-body">
                            <input type="hidden" name="flag" id="flag">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="number">Número do cartão</label>
                                        <input id="number" onkeyup="validCardNumber()" placeholder="Número do cartão"
                                               name="number"
                                               type="text" class="form-control"
                                        >
                                        <small class="text-danger" id="cardNumberError" style="display: none">
                                            Número do cartão inválido
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cvv">Código de verificação</label>
                                        <input id="cvv" name="cvv" placeholder="CVV" type="number" data-mask="000"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="expiringDate">Validade do cartão</label>
                                        <input id="expiringDate" name="expiringDate" placeholder="MM/AA"
                                               data-mask="00/00"
                                               type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">Nome como está no cartão</label>
                                        <input id="name" name="name" placeholder="Nome como está no cartão"
                                               type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col text-center">
                <button type="submit" id="save" class="btn btn-success">Confirmar</button>
            </div>
        </form>
    </div>


    <div class="mt-3 col alert alert-danger" style="display: none" id="divMessageForm"></div>

</div>

<!-- Loading Modal -->
<div class="modal fade" id="showLoading" style="margin-top: 10%" tabindex="-1" role="dialog"
     aria-labelledby="showLoading">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body custom-scrollbar text-center">
                <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function validCardNumber() {
        $('#number').validateCreditCard(function (result) {
            if (result.valid == false) {
                $("#cardNumberError").show();
                return false;
            }
            $("#cardNumberError").hide();
            $('#flag').val(result.card_type.name);
        });
    }

    function setPaymentMethod(id) {
        $(`#${id}`).prop('checked', true);
        $('#creditCard').hide();
        if ($(`#${id}`).val() == 1) {
            $('#creditCard').show();
        }
    }

    function setPlan(id) {
        $(`#${id}`).prop('checked', true);
        $('#valueDiv').show();
        $('#contributionMonthly').show();
        $('#contributionYearly').show();
        let formData = formDataToJson('form');
        if (formData.plan == 12) {
            $('#contributionMonthly').hide();
        }else{
            $('#contributionYearly').hide();
        }
    }

    function setValue(id) {
        $('#paymentMethodDiv').show();
        $(`#${id}`).prop('checked', true);
        $('#divValue').hide();
        if ($(`#${id}`).val() == 0) {
            $('#divValue').show();
        }
    }

    function validateForm() {
        divMessageForm.style.display = 'none';
        let errors = '';
        const formData = formDataToJson('form');
        const maxValue = 1064;
        let minValue = 32.84;
        let value = formData.value;
        if (value == 0) {
            value = formData.value2;
            value = value.replace('.', '', value);
            value = value.replace(',', '.', value);
        }
        switch (formData.plan) {
            case '1':
                if (value < minValue) errors += `Valor minimo mensal é R$ ${minValue.toFixed(2)}<br>`;
                if (value > maxValue) errors += `Valor máximo mensal é R$ ${maxValue.toFixed(2)}<br>`;
                break;
            case '12':
                minValue = 394.04;
                if (value < minValue) errors += `Valor minimo anual é R$ ${minValue.toFixed(2)}<br>`;
                if (value > maxValue) errors += `Valor máximo anual é R$ ${maxValue.toFixed(2)}<br>`;
                break;
        }
        if (errors != '') {
            divMessageForm.innerHTML = errors;
            divMessageForm.classList.add("alert-danger");
            divMessageForm.classList.remove("alert-success");
            divMessageForm.style.display = 'block';
            return false;
        }
        return true;

    }

    const formAdd = document.getElementById('form');
    const divMessageForm = document.getElementById('divMessageForm');

    formAdd.addEventListener('submit', e => {
        e.preventDefault();
        if (!validateForm()) {
            return;
        }
        $('#save').addClass('disabled');
        showLoading();
        let formData = formDataToJson('form');
        fetch("<?= BASEURL ?>api/filiacao/pagamento", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessageForm.classList.add("alert-danger");
            divMessageForm.classList.remove("alert-success");
            $('#save').removeClass('disabled');
            response.json().then(json => {
                divMessageForm.innerHTML = json.message;
                divMessageForm.style.display = 'block';
                if (response.status === 201) {
                    formAdd.classList.add("d-none");
                    divMessageForm.classList.add("alert-success");
                    divMessageForm.classList.remove("alert-danger");
                    if (formData.paymentMethod == 1) {
                        setTimeout(function () {
                            window.location.href = "<?= BASEURL ?>login";
                        }, 1500);
                    }else{
                        setTimeout(function () {
                            window.location.href = "<?= BASEURL ?>login";
                        }, 5000);
                    }
                }
            });
        });
    });

    $(document).ready(function () {
        let clipboard = new ClipboardJS('.btn');
        clipboard.on('success', function (e) {
            alert('Copiado para área de transferência');
        });
        $("#otherValue").maskMoney({
            prefix: 'R$ ',
            allowNegative: true,
            thousands: '.',
            decimal: ',',
            affixesStay: false
        });
        $("input[name=paymentMethod]").change(function () {
            let paymentMethod = $("input[name=paymentMethod]:checked").val();
            if (paymentMethod == 1) {
                $("#creditCards").show();
            } else {
                $("#creditCards").hide();
            }
        });
        $("#value").change(function () {
            $("#divValue").hide();
            if ($("#value").val() == 0) {
                $("#divValue").show();
            }
        });
    });

</script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/js/clipboard.min.js"></script>
<script src="<?= BASEURL ?>assets/js/core/bootstrap.min.js"></script>
<script src="<?= BASEURL ?>assets/js/functions.js"></script>
<script src="<?= BASEURL ?>assets/js/jquery.creditCardValidator.js"></script>
<script src="<?= BASEURL ?>assets/js/jquery.mask.min.js"></script>
</body>
</html>