<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>NOVO | Faça sua Filiação</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
    <script src="<?= BASEURL ?>assets/js/core/jquery.min.js"></script>
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/style.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/register-form.css">
</head>
<body class="bg-dark container">


<div class="row justify-content-center mt-5">

    <div class="card">
        <div class="card-header text-center">
            <h2 class="title">FORMULÁRIO DE FILIAÇÃO</h2>
        </div>
        <div class="row">
            <div class="col-md-12 mx-0">
                <form id="msform">
                    <input type="hidden" name="cpf" value="<?= $cpf ?>">
                    <input type="hidden" name="cpfTmp" value="<?= $cpfTmp ?>">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="personal"><strong>Dados Pessoais</strong></li>
                        <li id="address"><strong>Endereço</strong></li>
                        <li id="voterTitle"><strong>Título de Eleitor</strong></li>
                        <li id="terms"><strong>Termos</strong></li>
                        <li id="account"><strong>Espaço NOVO</strong></li>
                    </ul> <!-- fieldsets -->
                    <fieldset id="step-1">
                        <div class="form-card">
                            <h4 class="title text-primary">Dados Pessoais</h4>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="9">Nome Completo</label>
                                        <input id="name" placeholder="Nome Completo" name="name"
                                               type="text" class="form-control"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="birth">Data de Nascimento</label>
                                        <input id="birth" placeholder="dd/mm/aaaa" name="birth"
                                               data-mask="99/99/9999"
                                               type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cellPhone">Telefone Celular</label>
                                        <input type="hidden" name="cellPhoneDialCode">
                                        <input type="hidden" name="cellPhoneIso2">
                                        <input id="cellPhone" placeholder="Telefone Celular" name="cellPhone" type="tel"
                                               class="form-control" onkeyup="maskCellPhone()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" onclick="changeStep(1, 'next')"
                                class="next action-button btn btn-success">Avançar
                        </button>
                    </fieldset>
                    <fieldset id="step-2">
                        <div class="form-card">
                            <h4 class="title text-primary">Endereço</h4>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label mr-2 mb-2" for="addressOutside"> Resido no
                                            exterior </label>
                                        <input class="form-check-input" name="addressOutside"
                                               onchange="addressFields(this.checked)" type="checkbox" value="1"
                                               id="addressOutside">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-none"
                                     id="addressCountryDiv">
                                    <div class="form-group">
                                        <label for="addressCountry">País</label>
                                        <select id="addressCountry" name="addressCountry" class="form-control">
                                            <?php foreach ($countries as $item): ?>
                                                <option value="<?= $item->getId() ?>"><?= $item->getNome() ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label for="zipCode">
                                            CEP
                                        </label>
                                        <input class="form-control"
                                               name="zipCode" data-mask="99999-999"
                                               type="text" id="zipCode" placeholder="Cep"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="addressInsideDiv">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ufId">
                                            Estado
                                        </label>
                                        <select id="ufId" name="ufId" class="form-control"
                                                onchange="getCities(this.value, 'cityId')">
                                            <option value="">Selecione o estado</option>
                                            <?php foreach ($states as $item): ?>
                                                <option value="<?= $item->getSigla() ?>"><?= $item->getEstado() ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cityId">
                                            Cidade
                                        </label>
                                        <select id="cityId" name="cityId" class="form-control">
                                            <option value="">Selecione a cidade</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row d-none"
                                 id="addressOutsideDiv">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="uf">
                                            Estado
                                        </label>
                                        <input class="form-control" name="uf" type="text" id="uf" placeholder="Estado"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="city">
                                            Cidade
                                        </label>
                                        <input class="form-control" name="city"
                                               type="text" id="city" placeholder="Cidade"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="street">
                                            Logradouro
                                        </label>
                                        <input class="form-control" name="street"
                                               type="text" id="street" placeholder="Logradouro "/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="number">
                                            Número
                                        </label>
                                        <input class="form-control" min="0"
                                               name="number" type="number" id="number" placeholder="Número"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="district">
                                            Bairro
                                        </label>
                                        <input class="form-control" name="district"
                                               type="text" id="district" placeholder="Bairro"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="complement">
                                            Complemento
                                        </label>
                                        <input class="form-control"
                                               name="complement" type="text" id="complement"
                                               placeholder="Complemento"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" onclick="changeStep(2, 'back')"
                                class="previous action-button btn btn-danger">Voltar
                        </button>
                        <button type="button" onclick="changeStep(2, 'next')"
                                class="next action-button btn btn-success">Avançar
                        </button>
                    </fieldset>
                    <fieldset id="step-3">
                        <div class="form-card">
                            <h4 class="title text-primary">Título de Eleitor</h4>
                            <p><a href="http://www.tse.jus.br/eleitor/titulo-de-eleitor" target="_blank">Clique aqui</a>
                                para
                                consultar seus dados no site do TSE</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="originVoterTitle">Origem título de eleitor</label>
                                        <select id="originVoterTitle" name="originVoterTitle" class="form-control"
                                                onchange="voterTitleFields(this.value)">
                                            <option selected value="2">Título do Brasil</option>
                                            <option value="1">Título do Exterior</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="mother">Nome da Mãe</label>
                                        <input id="mother" name="mother"
                                               type="text" class="form-control"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="voterTitle">Título de eleitor</label>
                                        <input id="voterTitle" placeholder="Título de eleitor" name="voterTitle"
                                               type="text" class="form-control" data-mask="999999999999"
                                        >
                                    </div>
                                </div>
                                <div class="col col-md-3">
                                    <div class="form-group">
                                        <label for="voterTitleZone">Zona</label>
                                        <input id="voterTitleZone" placeholder="Zona" name="voterTitleZone" data-mask="9999"
                                               type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col col-md-3">
                                    <div class="form-group">
                                        <label for="voterTitleSection">Seção</label>
                                        <input id="voterTitleSection" placeholder="Seção" name="voterTitleSection" data-mask="9999"
                                               type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                 id="titleNational">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="voterTitleUF">UF eleitoral</label>
                                        <select id="voterTitleUF" name="voterTitleUF" class="form-control"
                                                onchange="getCities(this.value, 'voterTitleCity')">
                                            <option value="">Selecione o estado</option>
                                            <?php foreach ($states as $item): ?>
                                                <option value="<?= $item->getId() ?>"><?= $item->getEstado() ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="voterTitleCity">Município Eleitoral</label>
                                        <select id="voterTitleCity" name="voterTitleCity" class="form-control">
                                            <option value="">Selecione a cidade</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="titleInternational" style="display: none">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="voterTitleCountry">País</label>
                                        <select id="voterTitleCountry" name="voterTitleCountry" class="form-control">
                                            <?php foreach ($countries as $item): ?>
                                                <option value="<?= $item->getId() ?>"><?= $item->getNome() ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="voterTitleCityString">Município Eleitoral</label>
                                        <input id="voterTitleCityString" placeholder="Município Eleitoral"
                                               name="voterTitleCityString"
                                               type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" onclick="changeStep(3, 'back')"
                                class="previous action-button btn btn-danger">Voltar
                        </button>
                        <button type="button" onclick="changeStep(3, 'next')"
                                class="next action-button btn btn-success">Avançar
                        </button>
                    </fieldset>
                    <fieldset id="step-4">
                        <div class="form-card">
                            <h4 class="title text-primary">Termos</h4>
                            <p><a href="https://novo.org.br/wp-content/uploads/2018/06/Ata-142239-Estatuto-do-Partido-NOVO-aprovado-em-26-04-18.pdf" target="_blank">Clique
                                    aqui </a>para acessar nosso estatuto</p>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <h5><input class="form-check-input" type="checkbox" id="term1"
                                                   name="term1" value="1"
                                            >
                                            <label class="form-check-label ml-3" for="term1"><strong>Declaro
                                                    que:</strong></label>
                                        </h5>
                                    </div>
                                </div>
                                <ul>
                                    <li class="ml-sm-5">Que não ocupo cargo eletivo nos poderes executivo e legislativo
                                        (vereador, deputado, senador), 
                                        bem como não me encontro na condição de suplente por outro partido.
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <h5><input class="form-check-input" type="checkbox" id="term2"
                                                   name="term2" value="1"
                                            >
                                            <label class="form-check-label ml-3" for="term2"><strong>Declaro
                                                    que:</strong></label>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li class="ml-sm-5">Estou no pleno gozo dos meus direitos políticos e de total
                                        acordo com as
                                        disposições do estatuto do partido NOVO.
                                        Declaro ainda que não me enquadro em nenhuma das hipóteses do artigo 1º, inciso
                                        I da lei
                                        complementar nº 64,
                                        de 18 de maio de 1990 (ficha limpa).
                                    </li>
                                    <li class="ml-sm-5">São verdadeiras as informações preenchidas neste formulário e
                                        que sou o
                                        titular do pedido de filiação, sob as penas da lei.
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <h5><input class="form-check-input" type="checkbox" id="term3"
                                                   name="term3" value="1"
                                            >
                                            <label class="form-check-label ml-3" for="term3"><strong>Me comprometo
                                                    a:</strong></label>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li class="ml-sm-5">A cumprir e defender os programas partidários, o estatuto, as
                                        resoluções
                                        internas dos
                                        diretórios, a difundir os ideais e princípios programáticos do novo.
                                    </li>
                                    <li class="ml-sm-5">Manter meus dados cadastrais atualizados e minhas contribuições
                                        de
                                        filiação
                                        sempre em dia,
                                        o que poderá ser feito através do espaço NOVO, sob risco de perder meus direitos
                                        de
                                        filiado
                                        de acordo com o previsto no estatuto.
                                    </li>
                                    <li class="ml-sm-5">Verificar regularmente os comunicados disponibilizados no espaço
                                        NOVO,
                                        sendo este o principal canal de comunicação entre o NOVO e seus filiados.
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <h5><input class="form-check-input" type="checkbox" id="term4"
                                                   name="term4" value="1"
                                            >
                                            <label class="form-check-label ml-3" for="term4"><strong>Entendo
                                                    que:</strong></label>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li class="ml-sm-5">O número do titulo de eleitor informado por mim está de acordo
                                        com o
                                        documento original para filiação junto ao TSE,
                                        não cabendo ao novo a correção dos dados incorretos nem a responsabilidade pelos
                                        mesmos.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button onclick="changeStep(4, 'back')" type="button"
                                class="previous action-button btn btn-danger">Voltar
                        </button>
                        <button onclick="changeStep(4, 'next')" type="button"
                                class="next action-button btn btn-success">Avançar
                        </button>
                    </fieldset>
                    <fieldset id="step-5">
                        <div class="form-card">
                            <h4 class="title text-primary">Acesso ao Espaço NOVO</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Digite seu e-mail</label>
                                        <input class="form-control" id="email" type="email" name="email"
                                               placeholder="Digite seu e-mail">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email2">Confirme seu e-mail</label>
                                        <input class="form-control" id="email2" name="email2" type="email"
                                               placeholder="Confirme seu e-mail">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Digite sua senha</label>
                                        <input class="form-control" id="password" type="password" name="password"
                                               placeholder="Digite sua senha">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password2">Confirme sua senha</label>
                                        <input class="form-control" id="password2" name="password2" type="password"
                                               placeholder="Confirme sua senha">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button onclick="changeStep(5, 'back')" type="button"
                                class="previous action-button btn btn-danger">Voltar
                        </button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </fieldset>
                </form>
                <div class="row mx-2">
                    <div class="mt-3 d-none w-100 alert alert-danger" id="divMessageForm">Erro</div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<!-- Loading Modal -->
<div class="modal fade" id="showLoading" style="margin-top: 10%" tabindex="-1" role="dialog"
     aria-labelledby="showLoading">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body custom-scrollbar text-center">
                <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="<?= BASEURL ?>assets/css/intlTelInput.min.css">
<script src="<?= BASEURL ?>assets/js/intlTelInput.min.js"></script>
<script src="<?= BASEURL ?>assets/js/jquery.mask.min.js"></script>
<script src="<?= BASEURL ?>assets/js/core/bootstrap.min.js"></script>
<script src="<?= BASEURL ?>assets/js/functions.js"></script>
<script src="<?= BASEURL ?>assets/js/moment.min.js"></script>


<script>

    var diaCode = -1;

    function maskCellPhone() {
        if (diaCode == cellPhone.getSelectedCountryData().dialCode) {
            return;
        }
        diaCode = cellPhone.getSelectedCountryData().dialCode;
        $('#cellPhone').unmask();
        $('#cellPhone').mask('999999999999');
        if (diaCode == 55) {
            $('#cellPhone').mask('(99)99999-99999');
        }
    }

    $(document).ready(function () {
        maskCellPhone();
    });


    function savePartial() {
        let formData = formDataToJson('msform');
        formData.cellPhoneDialCode = cellPhone.getSelectedCountryData().dialCode;
        formData.cellPhoneIso2 = cellPhone.getSelectedCountryData().iso2;
        fetch("<?= BASEURL ?>api/filiacao/parcial", {
            method: "POST",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
    }



    function validateForm(step) {
        let errors = '';
        const formData = formDataToJson('msform');
        switch (step) {
            case 1:
                const dateMax = moment(new Date()).subtract(16, 'years');
                const dateMin = moment(new Date()).subtract(120, 'years');
                if (formData.name.trim() == '') errors += '<b>Nome Completo</b> é obrigatório<br>';
                if (!moment(formData.birth, 'DD/MM/YYYY', true).isValid()) errors += '<b>Data de Nascimento</b> valor inválido<br>';
                if (formData.cellPhone.replace(/\D+/g, '').length < 11) errors += '<b>Telefone Celular</b> inválido<br>';
                if (moment(formData.birth, 'DD/MM/YYYY', true).isValid() &&
                    moment(formData.birth, 'DD/MM/YYYY').format('YYYY/MM/DD') > dateMax.format('YYYY/MM/DD')) {
                    errors += '<b>Minimo 16 anos</b><br>';
                }
                if (moment(formData.birth, 'DD/MM/YYYY', true).isValid() &&
                    moment(formData.birth, 'DD/MM/YYYY').format('YYYY/MM/DD') < dateMin.format('YYYY/MM/DD')) {
                    errors += '<b>Máximo 120 anos</b><br>';
                }
                break;
            case 2:
                if (formData.zipCode.trim() == '') errors += '<b>CEP</b> é obrigatório<br>';
                if (formData.street.trim() == '') errors += '<b>Logradouro</b> é obrigatório<br>';
                if (formData.number.trim() == '') errors += '<b>Número</b> é obrigatório<br>';
                if (formData.district.trim() == '') errors += '<b>Bairro</b> é obrigatório<br>';
                if (formData.addressOutside == 1) {
                    if (formData.addressCountry.trim() == '') errors += '<b>País</b> é obrigatório<br>';
                    if (formData.uf.trim() == '') errors += '<b>Estado</b> é obrigatório<br>';
                    if (formData.city.trim() == '') errors += '<b>Cidade</b> é obrigatório<br>';
                } else {
                    if (formData.ufId.trim() == '') errors += '<b>Estado</b> é obrigatório<br>';
                    if (formData.cityId.trim() == '') errors += '<b>Cidade</b> é obrigatório<br>';
                }
                break;
            case 3:
                if (formData.mother.trim() == '') errors += '<b>Nome da Mãe</b> é obrigatório<br>';
                if (formData.voterTitleZone.trim() == '') errors += '<b>Zona</b> é obrigatório<br>';
                if (formData.voterTitleSection.trim() == '') errors += '<b>Seção</b> é obrigatório<br>';
                if (formData.originVoterTitle == 2) { //brasil
                    if (formData.voterTitleUF.trim() == '') errors += '<b>UF eleitoral</b> é obrigatório<br>';
                    if (formData.voterTitleCity.trim() == '') errors += '<b>Município Eleitoral</b> é obrigatório<br>';
                } else {
                    if (formData.voterTitleCountry.trim() == '') errors += '<b>País eleitoral</b> é obrigatório<br>';
                    if (formData.voterTitleCityString.trim() == '') errors += '<b>Município Eleitoral</b> é obrigatório<br>';
                }
                if (!validateVoterTitle(formData.voterTitle)) errors += '<b>Título de eleitor</b> inválido<br>';
                break;
            case 4:
                if (formData.term1 != 1) errors += '<b>Termo 1</b> é obrigatório<br>';
                if (formData.term2 != 1) errors += '<b>Termo 2</b> é obrigatório<br>';
                if (formData.term3 != 1) errors += '<b>Termo 3</b> é obrigatório<br>';
                if (formData.term4 != 1) errors += '<b>Termo 4</b> é obrigatório<br>';
                break;
            case 5:
                if (formData.email != formData.email2) errors += 'Os emails informados são diferentes.<br>';
                if (formData.email.trim() == '') errors += '<b>E-mail</b> é obrigatório<br>';
                if (formData.password.trim() == '') errors += '<b>Senha</b> é obrigatório<br>';
                if (formData.password.length < 8) errors += 'A senha deve ter pelo menos 8 caracteres<br>';
                if (formData.password2 != formData.password) errors += 'As senhas digitadas são diferentes<br>';
                break;
        }
        if (errors != '') {
            divMessageForm.innerHTML = errors;
            divMessageForm.classList.add("alert-danger");
            divMessageForm.classList.remove("alert-success");
            divMessageForm.classList.remove("d-none");
            return false;
        }
        return true;

    }


    function changeStep(current, option) {
        if (option == 'next') {
            if (!validateForm(current)) {
                return;
            }
        }
        divMessageForm.classList.add("d-none");
        document.getElementById(`step-${current}`).style.display = 'none';
        const progressbar = document.querySelectorAll('#progressbar li');
        if (option == 'next') {
            if (!validateForm(current)) {
                return;
            }
            document.getElementById(`step-${current + 1}`).style.display = 'block';
            progressbar[current].classList.add('active');
            savePartial();
        } else {
            document.getElementById(`step-${current - 1}`).style.display = 'block';
            progressbar[current - 1].classList.remove('active')
        }
    }

    const form = document.getElementById('msform')
    const divMessageForm = document.getElementById('divMessageForm');
    form.addEventListener('submit', e => {
        form.cellPhoneDialCode.value = cellPhone.getSelectedCountryData().dialCode;
        form.cellPhoneIso2.value = cellPhone.getSelectedCountryData().iso2;
        e.preventDefault();
        if (!validateForm(5)) {
            return;
        }
        showLoading();
        let formData = formDataToJson('msform');
        fetch("<?= BASEURL ?>api/filiacao/", {
            method: "POST",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                divMessageForm.textContent = json.message;
                divMessageForm.classList.add("alert-danger");
                divMessageForm.classList.remove("alert-success");
                divMessageForm.classList.remove("d-none");
                if (response.status === 201) {
                    divMessageForm.classList.add("alert-success");
                    divMessageForm.classList.remove("alert-danger");
                    window.location.href = "<?= BASEURL ?>filiacao/pagamento/<?= $cpf ?>";
                }
            });
        });
    })
</script>
<script>
    $(document).ready(function () {
        $("#zipCode").keyup(function () {
            loadAddress();
        });
    });

    function politicalPartyDiv(value) {
        $('#politicalPartyDiv').hide();
        if (value == 1 || value == 2) {
            $('#politicalPartyDiv').show();
        }
    }

    function voterTitleFields(type) {
        $('#titleInternational').hide();
        $('#titleNational').show();
        if (type == 1) {
            $('#titleInternational').show();
            $('#titleNational').hide();
        }
    }

    function addressFields(type) {
        $('#addressInsideDiv').removeClass('d-none');
        $('#addressOutsideDiv').removeClass('d-none');
        $('#addressCountryDiv').removeClass('d-none');
        if (type == false) {
            $('#addressOutsideDiv').addClass('d-none');
            $('#addressCountryDiv').addClass('d-none');
        } else {
            $('#addressInsideDiv').addClass('d-none');
        }
    }

    function loadAddress() {
        var cep = $('#zipCode').val().replace(/\D/g, '');
        var validacep = /^[0-9]{8}$/;
        if (validacep.test(cep)) {
            $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {
                if (!("erro" in dados)) {
                    $("#street").val(dados.logradouro);
                    $("#district").val(dados.bairro);
                    $(`#cityId option[value='${dados.localidade}']`).attr('selected', 'selected');
                    $("#uf").val(dados.uf);
                    $("#city").val(dados.localidade);
                    $(`#addressCountry option[value='33']`).attr('selected', 'selected');
                    if (dados.uf != $('#ufId').val()) {
                        $(`#ufId option[value=${dados.uf}]`).attr('selected', 'selected');
                        $('#ufId').trigger('change');
                    }
                }
            });
        }
    }

    function getCityOptionName(city) {
        return `<option value="${city.name}">${city.name}</option>`;
    }

    function getCities(state, divCities) {
        fetch(`<?= BASEURL ?>api/sistema/cidades/${state}`, {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                let cities = json.message;
                let options;
                if (divCities == 'cityId') { //address em string
                    options = '<option value="">Selecione a cidade</option>' + cities.map(getCityOptionName);
                } else { //voter title int id
                    options = '<option value="">Selecione a cidade</option>' + cities.map(getCityOptionId);
                }
                document.getElementById(divCities).innerHTML = options;
                loadAddress();
            });
        });
    }

    function getCityOptionId(city) {
        return `<option value="${city.id}">${city.name}</option>`;
    }

    var cellPhone = window.intlTelInput(document.querySelector('#cellPhone'), {
        "initialCountry": 'br'
    });
</script>
</body>
</html>