<style>
    .card label {
        font-size: 1em !important;
    }
</style>

<div class="card">
    <div class="card-header text-center">
        <h5 class="title">Partido Novo - Planejamento Estratégico Municipal</h5>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row text-justify">
                <p>Esse formulário deve ser preenchido pelos voluntários que lideram os esforços do NOVO em suas cidades
                    e estão pleiteando a participação nas eleições em 2022-24.</p>
                <p>
                    O formulário contém uma série de perguntas que compõem um planejamento tático para abertura,
                    expansão e execução de atividades de divulgação do partido NOVO em seu município. Elas estão
                    separadas em função dos 4 pilares que compõem a estratégia do NOVO à nível nacional: Candidatos
                    (atração, seleção e eleição); Bases locais (expansão da marca em termos de filiados, voluntários,
                    cidades e marketing da instituição); Captação (formas e valores a serem arrecadados para financiar a
                    execução da estratégia); Governança (metas, processos e imagem reputacional do NOVO).</p>
                <p>
                    O formulário pode ser preenchido em conjunto, mas somente uma resposta pode ser submetida para cada
                    cidade através do e-mail válido de um dos voluntários. Suas respostas serão enviadas por email
                    automaticamente após a submissão. O planejamento, bem como sua execução, serão acompanhados pelos
                    dirigentes estaduais. </p>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-md-12">
                    <form id="form" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control" required>
                            </div>
                            <div class="col-md-4">
                                <label for="state">Estado</label>
                                <select name="state" id="state" class="form-control" required
                                        onchange="getCities(this.value)">
                                    <option value="">Selecione</option>
                                    <?php foreach ($states as $state): ?>
                                        <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="city">Cidade</label>
                                <select name="city" id="city" class="form-control" required>
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-3">
                            <div class="col">
                                <label>Sua cidade já participou de alguma campanha do NOVO? (i.e. teve candidato a
                                    prefeito / vereador nas eleições municipais ou a cargo eletivo nas eleições das
                                    câmaras legislativas estadual ou federal)</label>
                                <label for="cityParticipationYes">Sim</label>
                                <input id="cityParticipationYes" name="cityParticipation" type="radio"
                                       value="1"> <br>
                                <label for="cityParticipationNo">Não</label>
                                <input id="cityParticipationNo" name="cityParticipation" type="radio"
                                       value="0">
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-3">
                            <div class="col-md-8">
                                <label for="volunteer">Nome(s) completo(s) do(a) voluntário(a) responsável(eis),
                                    lembrando que essas pessoas não poderão se candidatar em 2022/24</label>
                                <input class="form-control" id="volunteer" name="volunteer" type="text"
                                       placeholder="Nome dos Voluntários">
                            </div>
                            <div class="col-md-4">
                                <label>Sua cidade já possui algum mandatário eleito?</label>
                                <label for="electedCandidateYes">Sim</label>
                                <input id="electedCandidateYes" name="electedCandidate" type="radio"
                                       value="1"> <br>
                                <label for="electedCandidateNo">Não</label>
                                <input id="electedCandidateNo" name="electedCandidate" type="radio"
                                       value="0">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <h6 class="title">Candidatos</h6>
                                <label for="strategy">Qual será a estratégia para atração de participantes ao
                                    processo eletivo de 2021-22 para deputado? Por quê a estratégia escolhida é
                                    a
                                    melhor
                                    opção para o contexto local? Como pretende executar a estratégia
                                    definida?</label> <small>Limite <span
                                            id="strategyCount">600</span> caracteres</small>
                                <textarea id="strategy" name="strategy" type="text" rows="7"
                                          onkeyup="textCounter('strategy', 600)"
                                          class="w-100"></textarea>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label for="votes">Quantos votos para deputado federal você espera
                                    ter
                                    na sua cidade para 2022? </label>
                                <input id="votes" name="votes" type="number" class="form-control">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <h6 class="title">Bases Locais</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="events">Quais eventos pretendem realizar para atrair voluntários e
                                    divulgar as ações do Novo em 2021-2022? Por quê acredita que os eventos que
                                    planeja
                                    cumprem os objetivos pretendidos? Como irá executar a organização dos
                                    eventos? <small>Limite <span
                                                id="eventsCount">600</span> caracteres</small>

                                </label>
                                <textarea id="events" name="events" type="text" rows="7"
                                          onkeyup="textCounter('events', 600)"
                                          class="w-100"></textarea>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-4">
                                <label for="disclosureEvents">Quantos eventos para divulgação do NOVO você planeja fazer
                                    em média por
                                    mês?</label>
                                <select name="disclosureEvents" id="disclosureEvents" class="form-control" required>
                                    <option>De 1 a 5 eventos</option>
                                    <option>De 5 a 10 eventos</option>
                                    <option>De 10 a 20 eventos</option>
                                    <option>Mais de 20 eventos</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="followersNow">Quantos seguidores vocês possuem atualmente no perfil
                                    do NOVO na cidade?</label>
                                <input type="number" name="followersNow" id="followersNow" class="form-control" min="0"
                                       required>
                            </div>
                            <div class="col-md-4">
                                <label for="followers2022">Quantos seguidores pretendem ter até a campanha em
                                    2022?</label>
                                <input type="number" name="followers2022" id="followers2022" class="form-control"
                                       min="0"
                                       required>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-3">
                            <div class="col">
                                <label>Quais redes sociais e/ou canais de mensagem pretende utilizar para
                                    divulgar
                                    as ações e eventos do Novo?</label>
                                <div class="row mt-1">
                                    <div class="col-md-3">
                                        <input id="socialMediaFacebook" name="socialMedia[]" type="checkbox"
                                               value="Facebook">
                                        <label for="socialMediaFacebook">Facebook</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input id="socialMediaTwitter" name="socialMedia[]" type="checkbox"
                                               value="Twitter">
                                        <label for="socialMediaTwitter">Twitter</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input id="socialMediaInstagram" name="socialMedia[]" type="checkbox"
                                               value="Instagram">
                                        <label for="socialMediaInstagram">Instagram</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input id="socialMediaWhats" name="socialMedia[]" type="checkbox"
                                               value="Whatsapp">
                                        <label for="socialMediaWhats">Whatsapp</label>
                                    </div>
                                    <div class="col-md-3 mt-2">
                                        <input id="socialMediaTelegram" name="socialMedia[]" type="checkbox"
                                               value="Telegram">
                                        <label for="socialMediaTelegram">Telegram</label>
                                    </div>
                                    <div class="col" id="socialMediaOtherDiv">
                                        <div class="row">
                                            <div class="col mt-2">
                                                <input name="socialMedia[]" type="text" placeholder="Outro"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <label for="socialMediaObjective">Quais os objetivos de alcance em cada
                                            rede? Por quê as redes que escolheu são as melhores para atingir o
                                            público na sua localidade? <small>Limite <span
                                                        id="socialMediaObjectiveCount">600</span> caracteres</small>
                                        </label>
                                        <textarea id="socialMediaObjective" name="socialMediaObjective"
                                                  type="text" onkeyup="textCounter('socialMediaObjective', 600)"
                                                  rows="7" class="w-100"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <label for="otherDisclosures"> Quais outros canais locais você utilizará
                                            para divulgar o NOVO na sua cidade? <small>Limite <span
                                                        id="otherDisclosuresCount">600</span> caracteres</small>
                                        </label>
                                        <textarea id="otherDisclosures" name="otherDisclosures" type="text"
                                                  onkeyup="textCounter('otherDisclosures', 600)"
                                                  rows="7" class="w-100"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <label>Quantos filiados você pretende ter na sua cidade até julho
                                            2022?</label>
                                        <div class="row mt-1">
                                            <div class="col-md-3">
                                                <input id="affiliates15" name="numberOfAffiliates" type="radio"
                                                       value="Até 15 filiados">
                                                <label for="affiliates15">Até 15 filiados</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="affiliates15-30" name="numberOfAffiliates"
                                                       type="radio"
                                                       value="De 15 a 30 filiados">
                                                <label for="affiliates15-30">De 15 a 30 filiados</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="affiliates30-50" name="numberOfAffiliates"
                                                       type="radio"
                                                       value="De 30 a 50 filiados">
                                                <label for="affiliates30-50">De 30 a 50 filiados</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="affiliates50-100" name="numberOfAffiliates"
                                                       type="radio"
                                                       value="De 50 a 100 filiados">
                                                <label for="affiliates50-100">De 50 a 100 filiados</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="affiliates100" name="numberOfAffiliates" type="radio"
                                                       value="Acima de 100 filiados">
                                                <label for="affiliates100">Acima de 100 filiados</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="title">Captação</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="fundraisingActions">Quais ações vai realizar para arrecadar
                                            fundos em 2021-22? Como irá executar essas ações? Por quê acredita
                                            que
                                            essas ações terão o resultado esperado? <small>Limite <span
                                                        id="fundraisingActionsCount">600</span>
                                                caracteres</small></label>
                                        <textarea id="fundraisingActions" name="fundraisingActions" type="text"
                                                  rows="7" class="w-100"
                                                  onkeyup="textCounter('fundraisingActions', 600)"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <label>Quantos reais o(a) voluntário(a) / grupo voluntário pretende
                                            arrecadar em 2021?</label>
                                        <div class="row mt-1">
                                            <div class="col-md-3">
                                                <input id="fundraising5" name="fundraisingValue" type="radio"
                                                       value="Até 5 mil reais">
                                                <label for="fundraising5">Até 5 mil reais</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="fundraising5-10" name="fundraisingValue" type="radio"
                                                       value="Entre 5 e 10 mil reais">
                                                <label for="fundraising5-10">Entre 5 e 10 mil reais</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="fundraising10-20" name="fundraisingValue"
                                                       type="radio"
                                                       value="De 10 a 20 mil reais">
                                                <label for="fundraising10-20">De 10 a 20 mil reais</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="fundraising20" name="fundraisingValue" type="radio"
                                                       value="Mais de 20 mil reais">
                                                <label for="fundraising20">Mais de 20 mil reais</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="title">Governança</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="theme">Quais temas alinhados à bandeira do NOVO
                                            você acredita que seriam mais relevantes/atrativos para a campanha
                                            na
                                            sua cidade em 2022/24? Como você pretende explorar essas mensagens
                                            nas
                                            campanhas/eventos do NOVO? <small>Limite <span id="themeCount">600</span>
                                                caracteres</small></label>
                                        <textarea id="theme" name="theme" type="text"
                                                  onkeyup="textCounter('theme', 600)"
                                                  rows="7" class="w-100"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <label for="danger">Quais os principais riscos que você enxerga
                                            para a campanha de 2022 na sua cidade? Como pretende mitigá-los?
                                            Qual
                                            apoio você necessita do DE ou DN? <small>Limite <span
                                                        id="dangerCount">600</span> caracteres</small></label>
                                        <textarea id="danger" name="danger" type="text"
                                                  onkeyup="textCounter('danger', 600)"
                                                  rows="7" class="w-100"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <label for="divisionOfTasks">Como será a divisão de tarefas e
                                            responsabilidades entre os voluntários(as). <small>Limite <span
                                                        id="divisionOfTasksCount">600</span> caracteres</small></label>
                                        <textarea id="divisionOfTasks" name="divisionOfTasks" type="text"
                                                  onkeyup="textCounter('divisionOfTasks', 600)"
                                                  rows="7" class="w-100"></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="title">Estratégias Complementares</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="references">Quais são as referências que você utiliza do
                                            NOVO para o desenvolvimento da sua estratégia local? Como você
                                            pretende
                                            alavancar esse conteúdo (Mandatários, dirigentes, membros do DN ou
                                            demais páginas do NOVO). <small>Limite <span id="referencesCount">600</span>
                                                caracteres</small></label>
                                        <textarea id="references" name="references" type="text"
                                                  onkeyup="textCounter('references', 600)"
                                                  rows="7" class="w-100"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <label for="newIdea">Caso tenha alguma ideia não explorada nas
                                            questões anteriores que julgue relevante expor. <small>Limite <span
                                                        id="newIdeaCount">600</span> caracteres</small></label>
                                        <textarea id="newIdea" name="newIdea" type="text"
                                                  onkeyup="textCounter('newIdea', 600)"
                                                  rows="7" class="w-100"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="messageForm" style="display: none" class="alert alert-danger" role="alert">teste</div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<script>
    const formAdd = document.getElementById('form');
    const divMessageForm = document.getElementById('messageForm');
    formAdd.addEventListener('submit', e => {
        $('#save').addClass('disabled');
        e.preventDefault();
        showLoading();
        let method = 'POST';
        let formData = formDataToJson('form');
        fetch("<?= BASEURL ?>planejamento-estrategico-municipal-2022/cadastro", {
            method: method,
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessageForm.classList.add("alert-danger");
            divMessageForm.classList.remove("alert-success");
            $('#save').removeClass('disabled');
            response.json().then(json => {
                divMessageForm.textContent = json.message;
                divMessageForm.style.display = 'block';
                if (response.status === 201) {
                    divMessageForm.classList.add("alert-success");
                    divMessageForm.classList.remove("alert-danger");
                    formAdd.reset();
                    setTimeout(function () {
                        window.location.href = "https://novo.org.br/";
                    }, 2000);
                }
            });
        });
    });

    function textCounter(id, maxlimit) {
        let field = document.getElementById(id);
        if (field.value.length > maxlimit)
            field.value = field.value.substring(0, maxlimit);
        else
            document.getElementById(`${id}Count`).textContent = maxlimit - field.value.length;
    }

    function getCityOption(city) {
        return `<option value="${city.id}">${city.name}</option>`;
    }

    function getCities(state, div) {
        let element = div ? div : 'city';
        fetch(`<?= BASEURL ?>api/sistema/cidades/${state}`, {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                let cities = json.message;
                let options;
                document.getElementById(element).innerHTML = '<option value="">Selecione a cidade</option>';
                options = '<option value="">Selecione a cidade</option>' + cities.map(getCityOption);
                document.getElementById(element).innerHTML = options;
                if (city > 0) {
                    document.getElementById(element).value = city;
                    city = 0;
                }
            });
        });
    }
</script>