<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="title">Solicitações de Filiação</h5>
			</div>
			<div class="card-body">
				<form id="filter">
					<div class="row">
						<div class="col-md-4">
							<label for="name">Nome</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Nome">
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="state">Estado</label>
								<select name="state" id="state" class="form-select" onchange="getCities(this.value)">
									<option value="0">Todos</option>
									<?php foreach ($states as $state): ?>
										<option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="city">Cidade</label>
								<select name="city" id="city" class="form-select">
									<option value="0">Todas</option>
									<option value="">Selecione um Estado</option>
								</select>
							</div>
						</div>
						<div class="col text-end">
							<button type="reset" onclick="resetTable()" class="btn btn-danger">
								<i class="fa fa-eraser" aria-hidden="true"></i> Limpar
							</button>
							<button type="submit" class="btn btn-success">
								<i class="fa fa-filter" aria-hidden="true"></i> Filtrar
							</button>
						</div>
					</div>
				</form>
				<div id="loader" class="loader"></div>
				Exibindo <span id="partial"></span> de <span id="total"></span>
				<div style="display: none" id="message" class="alert" role="alert"></div>
				<div class="row table-responsive-xl">
					<div class="col">
						<table id="table" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Nome</th>
									<th>UF</th>
									<th>Cidade</th>
									<th>Titulo de Eleitor</th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Solicitação de Impugnação</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar">
				</button>
			</div>
			<form id="impeachmentForm">
				<div class="modal-body custom-scrollbar">
					<input type="hidden" name="user" value="<?= $user->getId() ?>">
					<input type="hidden" name="target" id="target">
					<input type="hidden" name="accessLog"
					       value="<?= \App\Helpers\Session::get('accessLog')->getId() ?>">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label>Filiado</label>
								<input type="text" readonly disabled id="affiliated" class="form-control"
								       style="color: black;">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="msg">Motivo:</label>
								<textarea name="msg" id="msg" class="form-control" rows="10"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-success">Enviar Solicitação</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>

	function openModal(id, name) {
		document.getElementById('impeachmentForm').reset();
		document.getElementById('target').value = id;
		document.getElementById('affiliated').value = name;
		$('#cardModal').modal('show');
	}

	const formAdd = document.getElementById('impeachmentForm');
	const divMessageForm = document.getElementById('message');

	formAdd.addEventListener('submit', e => {
		e.preventDefault();
		showLoading();
		let formData = formDataToJson('impeachmentForm');
		fetch("<?= BASEURL ?>api/solicitacoes/impugnacao", {
			method: 'POST',
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			divMessageForm.classList.add("alert-danger");
			divMessageForm.classList.remove("alert-success");
			$('#save').removeClass('disabled');
			response.json().then(json => {
				divMessageForm.textContent = json.message;
				divMessageForm.style.display = 'block';
				divMessageForm.classList.add("alert-danger");
				divMessageForm.classList.remove("alert-success");
				if (response.status === 201) {
					divMessageForm.classList.add("alert-success");
					divMessageForm.classList.remove("alert-danger");
					$('#cardModal').modal('hide');
					resetTable()
					formAdd.reset();
				}
			});
		});
	});

	function generateMembershipList(member) {
		let name = '';
		let names = member.name.toLowerCase().split(' ');
		for (let i = 0; i < names.length; i++) {
			name += names[i].charAt(0).toUpperCase() + names[i].slice(1) + ' ';
		}
		return `<tr class="middle">
                    <td>${name}</td>
                    <td class="text-center">${member.voterTitleUF}</td>
                    <td class="text-center">${member.voterTitleCity}</td>
                    <td class="text-center">${member.voterTitleNumber}</td>
                    <td class="text-center"> 
						<button id="${member.id}" onclick="openModal(${member.id}, '${member.name.replace("'", " ")}')"
                            class="btn btn-success btn-block"><i
                            class="fa fa-hand-pointer-o"></i> Impugnar
                        </button>
                    </td>
                </tr>`;
	}

	function generateTable() {
		if (total > partial) {
			$('#loader').show();
			fetch(`<?= BASEURL ?>api/solicitacoes/filiacao/?index=${index}&city=${city}&uf=${uf}&name=${name}`, {
				method: "GET",
				credentials: 'same-origin',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				}
			}).then(response => {
				response.json().then(json => {
					$('#loader').hide();
					total = json.total;
					partial = json.partial;
					let membershipList = json.message;
					let options = membershipList.map(generateMembershipList);
					$("#table tbody").append(options);
					$('#total').text(total);
					$('#partial').text(partial);
				});
			});
		}
	}

	$(document).ready(function () {
		generateTable();
		$(window).scroll(function () {
			if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
				index++;
				generateTable();
			}
		});
	});

	var index = 0;
	var uf = 0;
	var city = 0;
	var partial = 0;
	var total = 1;
	var name = '';

	const form = document.getElementById('filter');

	form.addEventListener('submit', e => {
		e.preventDefault();
		let formData = formDataToJson('filter');
		index = 0;
		partial = 0;
		total = 1;
		uf = formData.state;
		city = formData.city;
		name = formData.name;
		$("#table tbody").empty();
		generateTable();
	})

	function resetTable() {
		index = 0;
		uf = 0;
		city = 0;
		partial = 0;
		total = 1;
		name = '';
		$("#table tbody").empty();
		generateTable();
	}

	function getCityOption(city) {
		return `<option value="${city.id}">${city.name}</option>`;
	}

	function getCities(state, divCities) {
		fetch(`<?= BASEURL ?>api/sistema/cidades/${state}`, {
			method: "GET",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				let cities = json.message;
				let options;
				options = '<option value="0">Selecione a cidade</option>' + cities.map(getCityOption);
				document.getElementById('city').innerHTML = options;
				loadAddress();
			});
		});
	}
</script>