<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="title"><?php echo $title ?></h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="tab">
							<button class="tablinks active" onclick="openCity(event, 'councilorsDeputies')">Vereadores e
								Deputados Estaduais/Distrital
							</button>
							<button class="tablinks" onclick="openCity(event, 'federalaBench')">Bancada Federal</button>
						</div>
					</div>
				</div>
				<div id="councilorsDeputies" class="tabcontent" style="display: block;">
					<div class="row">
						<div class="col-md-12" style='margin-top: 5%;'>
							<form id="filter">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<h2 for="agent">Mandatário</h2>
											<select class="form-select" id="agent" name="agent">
												<option value="">Todos</option>
												<?php foreach ($agents as $agent): ?>
													<option value="<?= $agent['id'] ?>"><?= $agent['name'] ?></option>
												<?php endforeach; ?>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<h2 for="vote">Voto</h2>
											<select class="form-select" id="vote" name="vote">
												<option value="">Todos</option>
												<option value="0">Contrário</option>
												<option value="1">Favorável</option>
												<option value="2">Abstenção</option>
											</select>
										</div>
									</div>
									<div class="col-md-4 m-t-30 text-end">
										<button class="btn btn-danger" type="reset"
										        onclick="resetGraphicsData()">Limpar
										</button>
										<button class="btn btn-success" type="submit">Filtrar</button>
									</div>
								</div>
							</form>
						</div>
						<!--
						<div class="col-md-12" style='margin-top: 5%;'>
							<canvas class="voteChart chartjs-render-monitor" id="voteChart" width="1522"
								height="460"></canvas>
						</div>
						-->
					</div>
					<div class="row table-responsive-xl">
						<div class="col">
							Exibindo <span id="partial"></span> de <span id="total"></span>
							<table id="table" class="table table-bordered table-striped">
								<thead>
								<tr class="text-center">
									<th>Data</th>
									<th>Gabinete</th>
									<th>Nome</th>
									<th>Ementa</th>
									<th>Justificativa</th>
									<th>Voto</th>
									<th>Link</th>
								</tr>
								</thead>
								<tbody></tbody>
							</table>
							<div id="loader" class="loader"></div>
						</div>
					</div>
				</div>
				<div id="federalaBench" class="tabcontent">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<iframe
										src="https://app.powerbi.com/view?r=eyJrIjoiODdlMmViMjMtOTQ4Yi00NDEwLWEyNGEtNTBjNjM2NzIzMmY0IiwidCI6ImI0MGE1MzJiLTg4YmUtNDhiZi1iODQxLWQ1YTVlZjIyNGJhZSJ9&pageName=ReportSection36b5153d9c7d8cdfe935"
										style="width:100%; height:980px"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var index = 0;
	var partial = 0;
	var total = 1;
	var agent = 0;
	var vote = '';

	const filter = document.getElementById('filter');
	filter.addEventListener('submit', e => {
		e.preventDefault();
		let formData = formDataToJson('filter');
		index = 0;
		partial = 0;
		total = 1;
		agent = formData.agent;
		vote = formData.vote;
		$("#table tbody").empty();
		generateTable();
	});

	function resetGraphicsData() {
		index = 0;
		partial = 0;
		total = 1;
		agent = 0;
		vote = '';
		$("#table tbody").empty();
		generateTable();
	}

	/*
	var voteChart = new Chart(document.getElementById("voteChart"), {
		type: 'pie',
		options: {responsive: true}
	});
	*/

	function generatePollsList(polls) {
		let actions = '<i class="fa fa-times" aria-hidden="true"></i>';
		if (polls.link != "") {
			actions = `<a type="button" href="${polls.link}" class="btn btn-success" type="submit" target="_blank">Visualizar</a>`;
		}

		return `<tr class="middle">
                <td class="text-center">${polls.date}</td>
                <td class="text-center">${polls.cabinet}</td>
                <td class="text-center">${polls.projeto}</td>
                <td class="text-center" style="width: 50%">${polls.ementa}</td>
                <td class="text-center" style="width: 50%">${polls.analise}</td>
                <td class="text-center">${polls.vote}</td>
                <td class="text-center">${actions}</td>
            </tr>`;
	}

	function generateTable() {
		$('#loader').show();
		fetch(`<?= BASEURL ?>api/dam/votacoes/?index=${index}&agent=${agent}&vote=${vote}`, {
			method: "GET",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				$('#loader').hide();
				total = json.total;
				partial = json.partial;
				let membershipList = json.message;
				let options = membershipList.map(generatePollsList);
				$("#table tbody").append(options);
				$('#total').text(total);
				$('#partial').text(partial);
				voteChart.data = {
					"labels": json.type,
					"datasets": [{
						"data": json.votes,
						"backgroundColor": json.rgb,
					}]
				};
				voteChart.update();
			});
		});
	}

	$(document).ready(function () {
		generateTable();
		$(window).scroll(function () {
			if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
				index++;
				generateTable();
			}
		});
	});

	function openCity(evt, cityName) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		document.getElementById(cityName).style.display = "block";
		evt.currentTarget.className += " active";
	}
</script>


<style>
	.box-section {
		text-align: center;
	}

	.tab {
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #fff;
		font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
	}

	.tab button {
		font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 17px;
		color: #6c757d;
		width: 50%;
	}

	.tab button:hover {
		background-color: #fff;
	}

	.tab button.active {
		background-color: #1a2948;
		color: #fff;
	}

	.tabcontent {
		display: none;
		padding: 5px 7px;
		border: 1px solid #ccc;
		border-top: none;
	}

	h2 {
		color: #333;
		line-height: 15px;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #aed6e2 65%);
		display: inline;
		line-height: 32px;
		position: relative;
		bottom: 15px;
		font-weight: 700;
		font-size: 30px;
	}
</style>