<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?php echo $title ?></h5>
            </div>
            <div class="card-body">
                <div class="col-md-12 top">
                    <form id="filter">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h2 for="agent">Mandatário</h2>
                                    <select class="form-select" id="agent" name="agent">
                                        <option value="" selected>Todos</option>
                                        <?php foreach($agents as $agent): ?>
                                        <option value="<?= $agent['id'] ?>"><?= $agent['name'] ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row alert alert-info">
                                    Se nenhum filtro for aplicado é o compilado o valor de todos os mandatários.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button class="btn btn-danger" type="reset"
                                    onclick="resetGraphicsData()">Limpar</button>
                                <button class="btn btn-success" type="submit">Filtrar</button>
                            </div>
                        </div>
                        <div class="row" id="linkPresenceDiv" style="display:none">
                            <div class="col-md-12">
                                <div class="row alert alert-info">
                                    Copie e cole o link a seguir para conferir as presenças deste mandatário: <b><span id="linkPresence"></span></b>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" id="graphicDiv">
                    <div class="col-md-12 top">
                        <canvas class="presenceChart format" id="presenceChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var agent = 0;

const filter = document.getElementById('filter');
filter.addEventListener('submit', e => {
    e.preventDefault();
    let formData = formDataToJson('filter');
    agent = formData.agent;
    graphicPresence();
});

function resetGraphicsData() {
    agent = 0;
    graphicPresence();
}

var presenceChart = new Chart(document.getElementById("presenceChart"), {
    type: 'bar', // or doughnut
    options: {
        responsive: true,
        maintainAspectRatio: false,
        barValueSpacing: 20,
        scales: {
            yAxes: [{
                ticks: {
                    "min": 0,
                }
            }]
        }
    }
});

function graphicPresence() {
    fetch(`<?= BASEURL ?>api/dam/presencas/?agent=${agent}`, {
        method: "GET",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }
    }).then(response => {
        response.json().then(json => {
            if(json.linkPresence != 0){
                $('#linkPresence').text(json.linkPresence);
                document.getElementById("linkPresenceDiv").style.display = 'block';
                document.getElementById("graphicDiv").style.display = 'none';
            } else {
                document.getElementById("linkPresenceDiv").style.display = 'none';
                document.getElementById("graphicDiv").style.display = 'block';
            }
            presenceChart.data = {
                "labels": json.type,
                "datasets": [{
                    "label": 'Presenças',
                    "data": json.presences,
                    "backgroundColor": '#f17021',
                },{
                    "label": 'Ausências',
                    "data": json.absences,
                    "backgroundColor": '#1a2948',
                }]
            };
            presenceChart.update();
        });
    });
}

$(document).ready(function() {
    graphicPresence();
});
</script>

<style>
.top {
    margin-top: 2%;
}

h2 {
    color: #333;
    line-height: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #aed6e2 65%);
    display: inline;
    line-height: 32px;
    position: relative;
    bottom: 15px;
    font-weight: 700;
    font-size: 30px;
}

.format {
    display: inline; 
    height: 20px; 
    max-height: 400px; 
    min-height: 400px;
}
</style>