<div class="col">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-md-4">
					<h5 class="title"><?= $title ?></h5>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="col">
				<form id="filter">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label for="coverage">Nome</label>
								<input class="form-control" type="text" id="name" name="name">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="ementa">Ementa</label>
								<input class="form-control" type="text" id="ementa" name="ementa">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="agent">Gabinete</label>
								<select class="form-select" id="agent" name="agent">
									<option value="" selected>Todos</option>
									<?php foreach ($agents as $agent): ?>
										<option value="<?= $agent['id'] ?>"><?= $agent['name'] ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="coverage">Abrangência</label>
								<select class="form-select" id="coverage" name="coverage">
									<option value="" selected>Todos</option>
									<option value="Federal">Federal</option>
									<option value="Municipal">Municipal</option>
									<option value="Estadual">Estadual</option>
									<option value="Distrital">Distrital</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="tag">Tag</label>
								<select class="form-select" id="tag" name="tag">
									<option value="" selected>Todos</option>
									<?php foreach ($tags as $tag): ?>
										<option value="<?= $tag['id'] ?>"><?= $tag['name'] ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="author">Autor</label>
								<input class="form-control" type="text" id="author" name="author">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="nickname">Apelido</label>
								<input class="form-control" type="text" id="nickname" name="nickname">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="date">Data</label>
								<input class="form-control" type="text" id="date" name="date" data-mask="99/99/9999"
								       placeholder="dd/mm/aaaa">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col text-end">
							<div class="form-group">
								<button class="btn btn-danger" type="reset" onclick="resetData()">Limpar</button>
								<button class="btn btn-success" type="submit">Filtrar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="row table-responsive-xl">
				<div class="col">
					Exibindo <span id="partial"></span> de <span id="total"></span>
					<table id="table" class="table table-bordered table-striped">
						<thead>
						<tr class="middle">
							<th>Nome</th>
							<th class="text-center">Gabinete</th>
							<th class="text-center">Abrangência</th>
							<th class="text-center">Apelido</th>
							<th class="text-center">Ementa</th>
							<th class="text-center">Data</th>
							<th class="text-center"></th>
						</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div id="loader" class="loader"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Modal Details-->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5>Detalhes</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar">

				</button>
			</div>
			<div class="modal-body custom-scrollbar">
				<div id="content" name="content" class="form-group"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

<script>
	let projects = [];
	let tags = [];
	let authors = [];
	let coauthors = [];
	let content = document.getElementById('content');

	var index = 0;
	var partial = 0;
	var total = 1;
	var name = '';
	var agent = 0;
	var coverage = 0;
	var nickname = '';
	var ementa = '';
	var date = '';
	var tag = '';
	var author = '';

	const filter = document.getElementById('filter');
	filter.addEventListener('submit', e => {
		e.preventDefault();
		let formData = formDataToJson('filter');
		index = 0;
		partial = 0;
		total = 1;
		name = formData.name;
		agent = formData.agent;
		coverage = formData.coverage;
		nickname = formData.nickname;
		ementa = formData.ementa;
		date = formData.date;
		tag = formData.tag;
		author = formData.author;
		$("#table tbody").empty();
		generateTable();
	});

	function resetData() {
		index = 0;
		partial = 0;
		total = 1;
		name = '';
		agent = 0;
		coverage = 0;
		nickname = '';
		ementa = '';
		date = '';
		tag = '';
		author = '';
		$("#table tbody").empty();
		generateTable();
	}

	function generateProjectsList(project) {
		return `<tr onclick="openPopUp(${project.id})" class="middle">
                <td class="text-center">${project.name}</td>
                <td class="text-center">${project.agent}</td>
                <td class="text-center">${project.coverage}</td>
                <td class="text-center">${project.nickname}</td>
                <td class="text-center">${project.ementa}</td>
                <td class="text-center">${project.date}</td>
                <td class="text-center"><button class="btn btn-success text-white"> Visualizar </button></td>
            </tr>`;
	}

	function generateTable() {
		$('#loader').show();
		fetch(`<?= BASEURL ?>api/dam/projetos/?index=${index}&name=${name}&agent=${agent}&coverage=${coverage}&nickname=${nickname}&ementa=${ementa}&date=${date}&tag=${tag}&author=${author}`, {
			method: "GET",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				$('#loader').hide();
				total = json.total;
				partial = json.partial;
				let membershipList = json.message;
				let options = membershipList.map(generateProjectsList);
				$("#table tbody").append(options);
				$('#total').text(total);
				$('#partial').text(partial);
			});
		});
	}

	function getProjects() {
		showLoading();
		fetch(`<?= BASEURL ?>dam/mostra-projetos`, {
			method: 'GET',
			credentials: "same-origin",
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
			}
		}).then(response => {
			response.json().then(json => {
				closeLoading();
				projects = json.message;
			});
		});
	}

	function getProjectTags() {
		showLoading();
		fetch(`<?= BASEURL ?>dam/mostra-tags`, {
			method: 'GET',
			credentials: "same-origin",
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
			}
		}).then(response => {
			response.json().then(json => {
				closeLoading();
				tags = json.message;
			});
		});
	}

	function getProjectAuthors() {
		showLoading();
		fetch(`<?= BASEURL ?>dam/mostra-autores`, {
			method: 'GET',
			credentials: "same-origin",
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
			}
		}).then(response => {
			response.json().then(json => {
				closeLoading();
				authors = json.message;
			});
		});
	}

	function openPopUp(id) {
		$("#detailModal").modal('show');
		let html = '';
		for (var i = 0; i < projects.length; i++) {
			if (id == projects[i].id) {
				html = '<b>Nome:</b> ' + projects[i].name + '<br><b>Apelido:</b> ' + projects[i].nickname +
					'<br><b>Ementa:</b> ' + projects[i].ementa +
					'<br><b>Link: </b> ' + `<a href="${projects[i].link}" target="_blank">${projects[i].link}</a>` +
					'<br><b>Abrangência:</b> ' + projects[i].coverage + '<br><b>Gabinete:</b> ' + projects[i].cabinet +
					'<br><b>Data:</b> ' + projects[i].date +
					'<br><br><b>Autores:</b> ';
			}
		}

		for (var m = 0; m < authors.length; m++) {

			if (id == authors[m].project) {
				html +=
					`<div class="btn btn-secondary" style="border: 0px black solid; border-radius: 5px">${authors[m].name}</div> `;
			}
		}

		html += '<br><b>Tags:</b> ';
		for (var j = 0; j < tags.length; j++) {
			if (id == tags[j].project) {
				html +=
					`<div class="btn btn-secondary" style="border: 0px black solid; border-radius: 5px">${tags[j].name}</div> `;
			}
		}
		content.innerHTML = html;
	}


	$(document).ready(function () {
		getProjects();
		getProjectAuthors();
		getProjectTags();
		generateTable();
		$(window).scroll(function () {
			if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
				index++;
				generateTable();
			}
		});
	});
</script>