<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?php echo $title ?></h5>
            </div>
            <div class="card-body">
                <div class="col-md-12 top">
                    <form id="filter">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h2 for="agent">Mandatário</h2>
                                    <select class="form-select" id="agent" name="agent">
                                        <option value="" selected>Todos</option>
                                        <?php foreach($agents as $agent): ?>
                                        <option value="<?= $agent['id'] ?>"><?= $agent['name'] ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-danger" type="reset" onclick="resetData()">Limpar</button>
                                <button class="btn btn-success" type="submit">Filtrar</button>
                            </div>
                        </div>
                    </form>
                </div>
	            <div class="row table-responsive-xl">
		            <div class="col">
                        Exibindo <span id="partial"></span> de <span id="total"></span>
                        <table id="table" class="table table-bordered table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>Gabinete</th>
                                    <th>Título</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div id="loader" class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
var index = 0;
var partial = 0;
var total = 1;
var agent = 0;

const filter = document.getElementById('filter');
filter.addEventListener('submit', e => {
    e.preventDefault();
    let formData = formDataToJson('filter');
    index = 0;
    partial = 0;
    total = 1;
    agent = formData.agent;
    $("#table tbody").empty();
    generateTable();
});

function resetData() {
    index = 0;
    partial = 0;
    total = 1;
    agent = 0;
    $("#table tbody").empty();
    generateTable();
}

function generateReportList(report) {
    return `<tr class="middle">
                <td class="text-center">${report.cabinet}</td>
                <td class="text-center">${report.title}</td>
                <td class="text-center"><a href="https://dam.novo.org.br/uploads/reports/${report.link}" target="_blank"><i class="fa fa-download"></i> </a></td>
            </tr>`;
}

function generateTable() {
    $('#loader').show();
    fetch(`<?= BASEURL ?>api/dam/relatorios/?index=${index}&agent=${agent}`, {
        method: "GET",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }
    }).then(response => {
        response.json().then(json => {
            $('#loader').hide();
            total = json.total;
            partial = json.partial;
            let membershipList = json.message;
            let options = membershipList.map(generateReportList);
            $("#table tbody").append(options);
            $('#total').text(total);
            $('#partial').text(partial);
        });
    });
}

$(document).ready(function() {
    generateTable();
    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
            index++;
            generateTable();
        }
    });
});
</script>

<style>
.top {
    margin-top: 2%;
}

h2 {
    color: #333;
    line-height: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #aed6e2 65%);
    display: inline;
    line-height: 32px;
    position: relative;
    bottom: 15px;
    font-weight: 700;
    font-size: 30px;
}
</style>