<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Economizômetro</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab">
                            <button class="tablinks active" onclick="openCity(event, 'candidates')">Vereadores e
                                Deputados Estaduais/Distrital</button>
                            <button class="tablinks" onclick="openCity(event, 'federalBench')">Bancada Federal</button>
                        </div>
                    </div>
                </div>
                <div id="candidates" class="tabcontent" style="display: block;">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="filter">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="state">Estado</label>
                                            <select class="form-select" id="state" name="state"
                                                onchange="getCitiesByState(this.value, 'city')">
                                                <option value="">Selecione</option>
                                                <?php foreach ($states as $state): ?>
                                                <option value="<?= $state['state'] ?>"><?= $state['state'] ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="city">Cidade</label>
                                            <select class="form-select" id="city" name="city" type="city" 
                                                onchange="getCabinetByCity(this.value)">
                                                <option value="">Selecione o estado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="agent">Mandatário</label>
                                            <select class="form-select" id="agent" name="agent"
                                                onchange="getYearsByCabinet(this.value)">
                                                <option value="">Selecione a cidade</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="year">Ano</label>
                                            <select class="form-select" id="year" name="year">
                                                <option value="">Selecione o Mandatário</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div class="form-group">
                                            <button class="btn btn-danger" type="reset"
                                                onclick="resetGraphicsData()">Limpar</button>
                                            <button class="btn btn-success" type="submit">Filtrar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center" style='margin-top: 5%;'>
                            <h2> Total Economizado</span> <span id="yearSpan"></span></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-section">
                                <div id="counterTributos" class="counter-main">
                                    <div class="counter counter-inside"><span id="totalValue"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center" style='margin-top: 2%; width:100%'>
                            <i class="fa fa-hand-pointer-o" aria-hidden="true"></i> <i><u>Clique sobre o gasto para
                                    filtrar o gráfico</u></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <canvas class="barChart format" id="spendingChart"></canvas>
                        </div>
                    </div>
                </div>
                <div id="federalBench" class="tabcontent">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <iframe
                                        src="https://app.powerbi.com/view?r=eyJrIjoiNTQzYzkyMjItYWQxOC00Njc2LTk0YWQtM2IyZDMyYjIzODMzIiwidCI6IjI3MTMxYmVlLTVjZDUtNDhkNi04MDcxLTVmZDY2MjA5ZTAzYyJ9"
                                        style="width:100%; height:980px"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center" style='margin-top: 5%;'>
                        <h2>Detalhamento</h2>
                    </div>
                </div>
                Exibindo <span id="partial"></span> de <span id="total"></span>
	            <div class="row table-responsive-xl">
		            <div class="col">
                        <table id="spendingTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Tipo</th>
                                    <th class="text-center">Gabinete</th>
                                    <th class="text-center">Categoria</th>
                                    <th class="text-center">Valor utilizado</th>
                                    <th class="text-center">Valor economizado</th>
                                    <th class="text-center">Justificativa</th>
                                    <th class="text-center">Data</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div id="loader" class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
<script src="<?= BASEURL ?>assets/functions/dam/spending.js"></script>
<link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/spending.css?v=<?= time() ?>">