<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="<?= BASEURL ?>assets/img/favicon-novo.jpg" type="image/x-icon">
	<link rel="shortcut icon" href="<?= BASEURL ?>assets/images/favicon-novo.jpg" type="image/x-icon">
	<title>Espaço NOVO - Recuperação de senha</title>
	<!-- Google font-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
	      rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
	      rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
	      rel="stylesheet">
	<!-- ico-font-->
	<link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/icofont.css?v=<?= time() ?>">
	<!-- Themify icon-->
	<link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/themify.css?v=<?= time() ?>">
	<!-- Feather icon-->
	<link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/feather-icon.css?v=<?= time() ?>">
	<!-- Plugins css start-->
	<link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/animate.css?v=<?= time() ?>">
	<!-- Plugins css Ends-->
	<!-- Bootstrap css-->
	<link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/bootstrap.css?v=<?= time() ?>">
	<!-- App css-->
	<link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/style.css?v=<?= time() ?>">
	<link id="color" rel="stylesheet" href="<?= BASEURL ?>assets/css/color-1.css?v=<?= time() ?>" media="screen">
	<!-- Responsive css-->
	<link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/responsive.css?v=<?= time() ?>">

	<script src="https://kit.fontawesome.com/b1f34ab4bc.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/newStyle.css?v=<?= time() ?>">
</head>

<body>
<!-- Loader starts-->
<div class="loader-wrapper">
	<div class="theme-loader">
		<div class="loader-p"></div>
	</div>
</div>
<!-- Loader ends-->
<!-- page-wrapper Start-->
<section>
	<div class="container-fluid p-0"
	     style='background-image: url("assets/img/fundo2.jpg"); background-repeat: no-repeat;    background-size: 100% 100%;'>
		<div class="row m-0">
			<div class="col-12 p-0">
				<div class="login-card" style="height: 100%;">
					<?php if ($valid): ?>
						<div class="login-main">
							<form class="theme-form login-form" id="recover">
								<input type="hidden" name="id" value="<?= $id ?>">
								<h4 class="mb-3">Redefinir sua Senha</h4>
								<div class="row">
									<label for="password">Senha</label>
									<div class="input-group">
										<span class="input-group-text"><i class="icon-lock"></i></span>
										<input class="form-control" id="password" type="password" name="password"
										       required placeholder="Senha">
									</div>
									<label for="password2">Confirme a senha</label>
									<div class="input-group">
										<span class="input-group-text"><i class="icon-lock"></i></span>
										<input class="form-control" id="password2" type="password" name="password2"
										       required placeholder="Confirme a senha">
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-md-4 mx-auto">
										<button class="btn btn-primary" type="submit">Enviar</button>
									</div>
								</div>
								<p>Já tem uma senha?<a class="ms-2" href="<?= BASEURL ?>login">Login</a></p>
							</form>
						</div>
					<?php else: ?>
						<div class="alert alert-danger"><b>O Link é inválido</b></div>
					<?php endif; ?>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="spinner-border spinner-card"
     style="width: 5rem; height: 5rem; right: calc(50% - 2.5rem)" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<script src="<?= BASEURL ?>assets/js/jquery-3.5.1.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/jquery.mask.js"></script>
<script src="<?= BASEURL ?>assets/js/icons/feather-icon/feather.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/icons/feather-icon/feather-icon.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/bootstrap/popper.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/bootstrap/bootstrap.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/notify/bootstrap-notify.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/script.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/functions.js?v=<?= time() ?>"></script>

<script>
	const form = document.getElementById('recover');
	form.addEventListener('submit', e => {
		showLoading();
		e.preventDefault();
		let formData = formDataToJson('recover');
		fetch("<?= BASEURL ?>api/usuario/recuperar-senha", {
			method: 'PUT',
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			response.json().then(json => {
				if (response.status === 201) {
					showNotify('success', json.message, 1500);
					form.reset();
					window.location.href = '<?= BASEURL ?>login';
				} else {
					showNotify('danger', json.message, 1500);
				}
			});
		});
	});
</script>
</body>

