<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon-novo.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="<?= BASEURL ?>assets/img/favicon-novo.jpg" type="image/x-icon">
    <title>Login</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            rel="stylesheet">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/icofont.css?v=<?= time() ?>">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/themify.css?v=<?= time() ?>">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/fontawesome.css?v=<?= time() ?>">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/feather-icon.css?v=<?= time() ?>">
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/bootstrap.css?v=<?= time() ?>">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/style.css?v=<?= time() ?>">
    <link id="color" rel="stylesheet" href="<?= BASEURL ?>assets/css/color-1.css?v=<?= time() ?>" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/responsive.css?v=<?= time() ?>">
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/newStyle.css?v=<?= time() ?>">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap" rel="stylesheet">


    <style>

        body {
            font-family: 'Red Hat Display', sans-serif;
        }

        .rounded-5 {
            border-radius: 0.5rem;
        }

    </style>
</head>
<body>
<!-- Loader starts-->
<div class="loader-wrapper">
    <div class="theme-loader">
        <div class="loader-p"></div>
    </div>
</div>
<!-- Loader ends-->
<!-- page-wrapper Start-->
<section>
    <!--	style="background-color: #1A2948"-->
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div class="login-card">
                    <div class="bg-white rounded-5 shadow-lg" style="min-height: 500px; width: 550px; font-size: 16px">
                        <div class="card-body pb-0">
                            <form class="theme-form form-group" autocomplete="off" method="post">
                                <input type="hidden" name="libertas" value="1">
                                <div class="text-center m-b-30">
                                    <img src="<?= BASEURL ?>assets/img/logo-instituto-libertas_cores.png"
                                         style="width: 180px;">
                                </div>
                                <hr>
                                <p class="text-left" style="font-size: 18px!important;">Bem Vindo à plataforma do Libertas!<br> Faça login ou crie sua
                                    conta
                                    para
                                    acessar nossos
                                    cursos.</p>
                                <label for="emailCpf" style="color: #162b48; font-size: 18px">E-mail ou CPF</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="icon-email"></i></span>
                                    <input class="form-control" id="emailCpf" name="emailCpf" type="text" required
                                           placeholder="E-mail">
                                </div>
                                <label for="password" style="color: #162b48; font-size: 18px">Senha</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                    <input class="form-control" id="password" type="password" name="password" required
                                           placeholder="Senha">
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <div class="d-grid gap-2 mx-5">
                                        <button class="mx-5 btn btn-lg btn-block m-t-30 text-white" style="background:#162b48"
                                                type="submit">LOGIN
                                        </button>
                                        </div>
                                        <div class="m-t-10">
                                            <a class="link" href="<?= BASEURL ?>recuperar-senha" style="color: #162b48">Esqueceu
                                                a senha?</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 d-flex justify-content-between m-t-10">

                                        <div class="form-check ps-0 mb-0">
                                            <input type="checkbox" id="remind_me" name="remind_me" value="1">
                                            <label for="remind_me" class="fw-light mb-0">Lembrar-se de mim</label>
                                        </div>

                                        <span class="mt-auto fw-light">Novo por aqui?
                                            <a href="https://novo.org.br/cadastro/" style="color: #162b48">
                                                <b style="font-weight: bold">Crie uma conta</b>
                                            </a>
                                        </span>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <?php if (\App\Helpers\Session::get('errorMsg')): ?>
                                            <div
                                                    class="alert alert-danger text-center mx-2"><?= \App\Helpers\Session::get('errorMsg') ?></div>
                                            <?php \App\Helpers\Session::forgot('errorMsg'); ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- page-wrapper end-->
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script src="<?= BASEURL ?>assets/js/jquery-3.5.1.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/icons/feather-icon/feather.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/icons/feather-icon/feather-icon.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/bootstrap/popper.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/bootstrap/bootstrap.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/script.js?v=<?= time() ?>"></script>
</body>
</html>