<?php if ($benefits): ?>
    <div class="row">
        <div class="col mb-4">
            <h5>Disponíveis</h5>
        </div>
    </div>

    <div class="row row-equal-height">
        <?php foreach ($benefits as $benefit): ?>
            <?php
            $benefitPoints = $benefit->getPoints();
            $itemId = $benefit->getId();
            $stock = $benefit->getAvailable();
            $benefit = $benefit->getBenefit();
            ?>
            <div class="col-equal-height col-xxl-4 col-lg-6 <?= ($points < $benefitPoints || $stock < 1) ? 'opacity-06' : 'pointer' ?>"
                 onclick="openModal(<?= $points >= $benefitPoints && $stock > 0 ? $itemId : 0 ?>, <?= $benefit->getTypeDelivery() ?>)"
            >
                <div class="card card-equal-height">
                    <div class="card-body ">
                        <div class="row ">
                            <div class="col-12 d-flex justify-content-between middle">
                                <section>
                                    <h4><?= $benefit->getName() ?></h4>
                                    <?php if ($points < $benefitPoints): ?>
                                        <span class="badge badge-danger p-2 my-auto">PONTUAÇÃO INSUFICIENTE</span>
                                    <?php elseif ($stock <= 0): ?>
                                        <span class="badge badge-danger p-2 my-auto">INDISPONÍVEL NO ESTOQUE</span>
                                    <?php else: ?>
                                        <span class="badge badge-success p-2 my-auto">RESGATE AGORA</span>
                                    <?php endif; ?>
                                    <div class="col-12 text-muted mt-2">
                                        <?= $benefitPoints ?> pontos
                                    </div>
                                </section>
                                <img src="https://gestao.novo.org.br/uploads/novo-mobiliza/<?= $benefit->getImg() ?>"
                                     height="100" width="100"
                                     class=" rounded-circle" alt="Imagem Benefício">
                            </div>

                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="project-status mt-4">
                            <div class="media mb-0">
                                <p><?= $benefitPoints > 0 ? number_format(($points / $benefitPoints * 100) <= 100 ? $points / $benefitPoints * 100 : 100, 2, ',', '.') : 100 ?>
                                    % </p>
                            </div>
                            <div class="progress my-auto" style="height: 5px">
                                <div class="progress-bar-animated bg-<?= $points >= $benefitPoints ? 'success' : 'danger' ?>"
                                     role="progressbar"
                                     style="width: <?= $benefitPoints > 0 ? $points / $benefitPoints * 100 : 100 ?>%"
                                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
    </div>

<?php endif; ?>

<?php if ($acquireds): ?>
    <div class="row">
        <div class="col mb-4 mt-4">
            <h5>Adquiridos</h5>
        </div>
    </div>

    <div class="row row-equal-height">
        <?php foreach ($acquireds as $acquired): ?>
            <div class="col-equal-height col-xxl-4 col-lg-6">
                <div class="card card-equal-height">
                    <div class="card-body mb-5">
                        <div class="row ">
                            <div class="col-12 d-flex justify-content-between middle">
                                <section>
                                    <h4><?= $acquired->getBenefit()->getName() ?></h4>
                                </section>
                                <img src="https://gestao.novo.org.br/uploads/novo-mobiliza/<?= $acquired->getBenefit()->getImg() ?>"
                                     height="100" width="100"
                                     class=" rounded-circle" alt="Imagem Benefício">
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="project-status mt-4">
                            <span class="badge badge-secondary p-2 mt-5 mb-2">ADQUIRIDO</span>
                            <div class="mt-auto">
                                <span>STATUS</span>
                            </div>
                            <div>
                                <b><?= $acquired->getStatusStr() ?></b>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Solicitar Benefício</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" novalidate class="was-validated">
                <div class="modal-body custom-scrollbar">
                    <div class="row">
                        <div class="col text-center">
                            <div class="spinner-border loaderTop" style="width: 5rem; height: 5rem; margin-top: 1rem"
                                 role="status">
                                <span class="sr-only mx-auto">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="benefit" id="benefit">
                    <input type="hidden" name="addressType" id="addressType">
                    <input type="hidden" name="type_delivery" id="type_delivery">

                    <div class="row" id="rowAlert">
                        <div class="col-12 text-center my-4">
                            <i class="fa fa-exclamation-triangle text-warning fa-2x mx-4"></i>
                        </div>
                        <div class="col-12 f-14 text-center">
                            <h5 class="title">Você tem certeza que deseja solicitar o benefício
                                <span id="span-benefit"></span>
                                ?
                            </h5>
                        </div>
                    </div>

                    <div class="row" style="display: none" id="rowAddress">

                        <div class="col-sm-6 col-equal-height">
                            <div class="card-address card-equal-height pointer active" id="addressUser"
                                 onclick="setType(1, this.id)">
                                <i class="fa fa-check-circle text-success"></i><br>
                                <span class="d-block"><?= $address['zipCode'] ?></span>
                                <span class="d-block"><?= $address['address'] ?>, <?= $address['neighborhood'] ?></span>
                                <span class="d-block"><?= $address['city'] ?>/<?= $address['uf'] ?></span>
                            </div>
                        </div>

                        <div class="col-sm-6 col-equal-height">
                            <div class="card-address card-equal-height pointer" id="newAddress"
                                 onclick="setType(0, this.id)">
                                <i class="fa fa-check-circle text-success"></i><br>
                                <span class="d-block">Outro</span>
                            </div>
                        </div>

                    </div>

                    <section style="display: none" id="rowForm">
                        <div class="row">

                            <div class="col-md-6">
                                <label for="zipCode">CEP <span class="text-danger">*</span></label>
                                <input id="zipCode" name="zipCode" class="form-control" type="text" placeholder="CEP"
                                       required data-mask="99999-999" onkeyup="loadAddress()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="uf">UF <span class="text-danger">*</span></label>
                                <input id="uf" name="uf" class="form-control" type="text" placeholder="UF"
                                       required>
                            </div>

                            <div class="col-md-8">
                                <label for="city">Cidade <span class="text-danger">*</span></label>
                                <input id="city" name="city" class="form-control" type="text" placeholder="Cidade"
                                       required>
                            </div>

                            <div class="col-md-6">
                                <label for="neighborhood">Bairro <span class="text-danger">*</span></label>
                                <input id="neighborhood" name="neighborhood" class="form-control" type="text"
                                       placeholder="Bairro" required>
                            </div>

                            <div class="col-md-6">
                                <label for="address">Endereço <span class="text-danger">*</span></label>
                                <input id="address" name="address" class="form-control" type="text"
                                       placeholder="Endereço"
                                       required>
                            </div>

                            <div class="col-md-8">
                                <label for="complement">Complemento</label>
                                <input id="complement" name="complement" class="form-control" type="text"
                                       placeholder="Complemento">
                            </div>

                            <div class="col-md-4">
                                <label for="number">Número <span class="text-danger">*</span></label>
                                <input id="number" name="number" class="form-control" type="text" placeholder="Número"
                                       required>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/form-validate.js"></script>
<script src="<?= BASEURL ?>assets/functions/mobilize/benefit.js?v=<?= time() ?>"></script>
