<div class="row row-equal-height">

    <div class="col-xl-6 mt-0 col-equal-height">
        <div class="card bg-secondary card-equal-height">
            <div class="card-body middle text-center">
                <div class="row vh-50">
                    <div class="col my-auto position-relative">
                        <!--                        <h2>Tutorial</h2>-->
                        <iframe src="https://www.youtube.com/embed/hTJR4vLFg18" frameborder="0" id="youtube-iframe"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="rounded-circle circle-icon position-absolute" id="icon-play" onclick="playVideo()">
                            <i class="fa fa-play text-white fa-4x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 mt-0 col-equal-height">
        <div class="card border-secondary card-equal-height">
            <div class="card-body middle text-center">
                <div class="row h-100">
                    <div class="col my-auto">
                        <div class="badge badge-primary text-white d-block mb-3">
                            <h3 class="m-0 space">Graduação de Mobilizador</h3>
                        </div>
                        <div class="badge badge-light text-secondary d-block mb-2">
                            <h5 class="m-0">Faixa Branca</h5>
                        </div>
                        <!--                        <span class="text-secondary bold mb-4">-->
                        <!--                            Faltam xxxx pontos para a próxima faixa-->
                        <!--                        </span>-->

                        <div class="badge badge-primary text-white d-block mb-3 mt-4">
                            <h3 class="m-0 space">Sua pontuação acumulada</h3>
                        </div>
                        <div class="text-secondary">
                            <h3 id="user-points"><?= $points ?? 0 ?> <span class="fs-5">pontos</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 mt-0 col-equal-height">
        <div class="card bg-primary card-equal-height">
            <div class="card-body middle text-center">
                <div class="row h-100">
                    <div class="col my-auto">
                        <h2>Cumpra missões</h2>
                        <h2 class="bg-secondary d-inline-block">e ganhe pontos!</h2>
                        <div id="missionWeek">
                            <?php if ($missionWeek): ?>
                                <div id="missionWeekCard" class="pointer"
                                     onclick="showModal('<?= $missionWeek->getId() ?>')">
                                    <div class="badge badge-mission text-white  p-0 middle d-flex justify-content-center mt-3"
                                         style="white-space: break-spaces">
                                        <div class="my-auto">
                                            <div class="rounded-circle circle-icon badge-circle">
                                                <i class="fa fa-play text-white fa-2x"></i>
                                            </div>
                                        </div>
                                        <div class="my-auto">
                                            <span class="text-white span-1"> Clique aqui</span>
                                            <span class="text-white span-2"> e confira a Missão da semana</span>
                                        </div>
                                    </div>
                                </div>

                            <?php endif; ?>
                        </div>
                        <?php if ($missions): ?>
                            <h4 class="m-t-30">Missões Extras</h4>
                        <?php endif; ?>
                        <div class="row pt-1 mt-2" id="list-badge-missions">

                            <?php foreach ($missions as $item): ?>
                                <div class="badge badge-secondary mb-1" id="badge-mission-<?= $item->getId() ?>"
                                     onclick="showModal('<?= $item->getId() ?>')">
                                    <!--                                    <a href="-->
                                    <?php //= BASEURL ?><!--novo-mobiliza/missoes"-->
                                    <div class="text-white">
                                        <div class="row">
                                            <div class="col-1 my-auto">
                                                <div class="rounded-circle circle-icon badge-circle-missions">
                                                    <i class="fa fa-play text-white"></i>
                                                </div>
                                            </div>
                                            <div class="col-8 text-center my-auto">
                                                <h6 class="space my-auto"><?= $item->getTitle() ?></h6>
                                            </div>
                                            <div class="col-3 my-auto text-end">
                                                <h6 class="my-auto m-l-10 space"><?= $item->getPoints() ?> pontos</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 mt-0 col-equal-height">
        <div class="card bg-secondary card-equal-height">
            <div class="card-body middle text-center">
                <div class="row h-100">
                    <div class="col-12 my-auto">
                        <h2 class="text-white mb-5"><b>Resgate <span class="bg-primary">benefícios</span>
                                disponíveis!</b>
                        </h2>
                        <div class="row">

                            <?php foreach ($benefits as $item): ?>
                                <?php $item = $item->getBenefit(); ?>
                                <div class="col-10 offset-1 mb-3">
                                    <a href="<?= BASEURL ?>novo-mobiliza/beneficios" class="text-white d-flex">
                                        <div class="badge badge-primary text-white w-100 space p-0">
                                            <h6 class="my-auto" style="margin-left: 5px"><?= $item->getName() ?></h6>
                                        </div>
                                    </a>
                                </div>
                            <?php endforeach; ?>

                            <div class="col-12 mt-5 text-center">
                                <a href="<?= BASEURL ?>novo-mobiliza/beneficios" class="text-white text-underline">
                                    <span>Ver Todos</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Indicar Realização de Missão</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" novalidate class="was-validated">
                <div class="modal-body custom-scrollbar">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <div class="spinner-border loaderTop" style="width: 5rem; height: 5rem;" role="status">
                                <span class="sr-only mx-auto">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="mission" id="mission">
                    <div class="row">

                        <div class="col-12 text-center text-secondary mb-3 f-w-500">MISSÃO</div>
                        <h5 class="col-12 text-center text-secondary mb-3 f-w-800" id="title-mission"></h5>
                        <div class="col-12 text-center text-primary mb-3 fw-bold upper"><span
                                    id="points-mission"></span> pontos
                        </div>
                        <div class="col-12 text-center text-secondary mb-3" id="description-mission"></div>

                        <!--                        <div class="col mb-3">-->
                        <!--                            <label for="doc">Documento <span class="text-danger">*</span></label>-->
                        <!--                            <input id="doc" name="doc" class="form-control" type="file" placeholder="Nome"-->
                        <!--                                   required>-->
                        <!--                        </div>-->

                        <div class="col-8 offset-2 mt-3" id="add-doc">
                            <div class="form-group">
							<span class="fileselector">
								<label class="btn btn-primary d-block" for="doc">
								<input class="upload-file-selector" id="doc" type="file" accept="image/*" name="doc">
								<i class="fa fa-paperclip margin-correction"></i>
									<span id="docLabel" class="input-file"
                                          default="ENVIE SUA IMAGEM">ENVIE SUA IMAGEM</span>
								</label>
							</span>
                            </div>
                        </div>

                        <div class="col-8 offset-2 mt-3" id="btn-link">
                            <button class="btn btn-primary w-100" onclick="redirect()" type="button">REALIZAR MISSÃO
                            </button>
                        </div>

                        <div class="col-8 offset-2 mt-3 d-none text-center" id="check-mission">
                            <input type="checkbox" id="check" checked name="check">
                            <label for="check">Realizar Missão</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>

    .badge-green {
        background: #177500;
    }

    .badge-mission {
        background: #FF9D00;
    }

    .circle-icon {
        position: relative;
        margin: auto;
        background: rgba(255, 255, 255, 0.2);
    }

    #icon-play {
        width: 90px;
        height: 90px;
        top: calc(50% - 40px);
        right: calc(50% - 40px);
        opacity: 1;
        visibility: visible;
        transition: opacity 1.5s ease, visibility 1.5s ease;
        z-index: 2;
    }

    .badge-circle {
        height: 50px;
        width: 50px;
    }

    .badge-circle-missions {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        margin-left: 0;
    }

    #icon-play .fa-play {
        position: absolute;
        left: 35%;
        top: 20%;
    }

    .badge-circle .fa-play {
        position: absolute;
        left: 35%;
        top: 31%;
    }

    .badge-circle-missions .fa-play {
        position: absolute;
        left: 35%;
        top: 31%;
    }

    .span-1 {
        float: left;
        font-size: 25px;
        font-weight: 900;
    }

    .span-2 {
        float: left;
        font-size: 15px;
        margin: 0;
    }

</style>

<script src="<?= BASEURL ?>assets/functions/form-validate.js"></script>
<script src="<?= BASEURL ?>assets/functions/mobilize/novoMobilize.js?v=<?= time() ?>"></script>
