<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header border-bottom">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="title">Missões Disponíveis</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="filterTitle">Missão</label>
                                <input class="form-control" id="filterTitle" name="title" type="text"
                                       placeholder="Missão">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="filterCompleted">Status</label>
                                <select class="form-control form-select" id="filterCompleted" name="completed">
                                    <option value="" selected>Todos</option>
                                    <option value="1">Aguardando Aprovação</option>
                                    <option value="2">Recusadas</option>
                                    <option value="3">Aprovadas</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 text-end mt-auto">
                            <div class="form-group">
                                <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                                <button class="btn btn-primary" type="submit">Filtrar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row g-3 align-items-center m-b-30 m-t-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limit"
                                onchange="getLimit(this.value, 'Mission')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startMission"></span> a <span id="endMission"></span> de <span
                                    id="totalMission"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-lg">
                    <div class="col-12">
                        <table id="tableMission" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Missão</th>
                                <th class="text-center">Pontuação</th>
                                <th class="text-center">Status</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderMission" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationMission" style="top: auto">

                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Indicar Realização</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" novalidate class="was-validated">
                <div class="modal-body custom-scrollbar">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <div class="spinner-border loaderTop" style="width: 5rem; height: 5rem;" role="status">
                                <span class="sr-only mx-auto">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="mission" id="mission">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="doc">Documento <span class="text-danger">*</span></label>
                            <input id="doc" name="doc" class="form-control" type="file" placeholder="Nome"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/changeActive.js"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js"></script>
<script src="<?= BASEURL ?>assets/functions/mobilize/mission.js"></script>
<script src="<?= BASEURL ?>assets/functions/changeStatus.js"></script>
<script src="<?= BASEURL ?>assets/functions/delElement.js"></script>
