<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <div class="card-body">
                <form id="formCancel">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="reason">Descreva o Motivo</label><br>
                                <textarea id="reason" placeholder="Descreva o Motivo" name="reason"
                                          type="password" class="form-control" rows="3" maxlength="200"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Cancelar meu pedido de <?= $status ?></button>
                </form>
                <div style="display: none" class="alert" id="divMessage"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="title w-100">AVISO</h5>
            </div>
            <div class="modal-body custom-scrollbar text-justify">
                <p><?= $user->getName() ?>,</p>
                <p>O NOVO lamenta que você não pretende continuar com seu processo de <?= $status ?>.
                   Gostaríamos muito que você continuasse conosco, construindo um NOVO Brasil.</p>
                <p>Se você ainda não tem certeza desta decisão, mande um email para <a href="mailto:faleconosco@novo.org.br">faleconosco@novo.org.br</a> e estaremos à disposição para conversar um pouco mais.</p>
                <p>Caso já tenha se decidido, lembre-se: as portas do NOVO sempre estarão abertas para seu retorno!</p>
            </div>
            <div class="modal-footer">
                <a href="<?= BASEURL ?>" class="btn btn-success">Cancelar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Prosseguir</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(window).on('load', function () {
        $("#modal").modal({
            backdrop: "static", //remove abilidfsaty to close modal with click
            keyboard: false, //remove option to close with keyboard
            show: true //Display loader!
        });
    });

    const formCancel = document.getElementById('formCancel');
    const divMessage = document.getElementById('divMessage');
    formCancel.addEventListener('submit', e => {
        showLoading();
        e.preventDefault();
        let formData = formDataToJson('formCancel');
        fetch("<?= BASEURL ?>api/usuario/cancelar-filiacao", {
            method: "POST",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                divMessage.textContent = json.message;
                divMessage.style.display = 'block';
                if (response.status === 201) {
                    divMessage.classList.add("alert-success");
                    divMessage.classList.remove("alert-danger");
                    setTimeout(function () {
                        window.location.href = "<?= BASEURL ?>";
                    }, 1200);
                } else {
                    divMessage.classList.add("alert-danger");
                    divMessage.classList.remove("alert-success");
                }
            });
        });
    });

</script>
