<link rel="stylesheet" href="<?= BASEURL ?>assets/css/intlTelInput.min.css">
<script src="<?= BASEURL ?>assets/js/intlTelInput.min.js"></script>
<script src="<?= BASEURL ?>assets/js/moment.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/personal-data.js?v=<?= time() ?>"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js?v=<?= time() ?>"></script>

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Espaço NOVO - Carta da desfiliação</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    </head>
    <body>
        <div class="card p-5 card-div" style="padding: 5%">
            <p>Ao Presidente do Partido NOVO,</p>
            <p>Eu, <?= $user->getName() ?> inscrito na <?= $user->getTituloEleitoralZona() ?>ª Zona Eleitoral sob a inscrição <?= $user->getTituloEleitoral() ?>, 
                na seção <?= $user->getTituloEleitoralSecao() ?>, venho pelo presente comunicar à V. Sa. minha desfiliação junto ao Partido NOVO, por motivos pessoais.</p>
            <p><?= $user->getTituloEleitoralUfId()->getEstado() ?>, <?= $date ?>.</p>
            <p><?= $user->getName() ?>.</p>
            <p style="text-align: center;"><img src="https://novo.org.br/wp-content/uploads/2024/03/assinatura-Edu.png" alt=""></p>
            <p style="text-align: center; font-weight: 600;">Eduardo Ribeiro</p>
            <p style="text-align: center;">010.259.999-83</p>
        </div>
    </body>
</html>

<style> 
    body { 
        font-family: Arial, sans-serif; 
    } 
    p {
        font-size: 15px;
        text-align: center;
        line-height: 30pt;
        text-align: left;
    }
</style>

<script>
$(document).ready(function () {
    //window.print()
});
</script>