<?php
$start = $user->getDataFiliacao();
$end = new \DateTime();
$diff = $end->diff($start);
$str = '';
$years = $diff->y;
$months = $diff->m;
if ($years > 1) {
	$str = "Seus {$years} anos ";
}
if ($years == 1) {
	$str = "Seu {$years} ano ";
}
if ($months > 1) {
	if ($str != '') {
		$str .= "e {$months} meses de contribuição foram fundamentais";
	} else {
		$str = "Seus {$months} meses de contribuição foram fundamentais";
	}
}
if ($months == 1) {
	if ($str != '') {
		$str .= "e {$months} mês de contribuição foram fundamentais";
	} else {
		$str = "Seu {$months} mês de contribuição foram fundamentais";
	}
}
if ($str == '') {
	$str = 'Sua contribuição foi fundamental';
}
?>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Desfiliação</h5>
            </div>
            <div class="card-body">
                <form id="formDisaffection">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Tipo do Motivo</label>
                            </div>
                            <?php foreach ($reasons as $reason): ?>
                            <div class="form-check">
                                <input class="form-check-input check m-t-20" name="reasons[]" type="checkbox"
                                    value="<?= $reason->getId() ?>" id="reason-<?= $reason->getId() ?>">
                                <label class="form-check-label" for="reason-<?= $reason->getId() ?>">
                                    <?= $reason->getMotivo() ?> </label>
                            </div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="reasonDiv">
                        <div class="col">
                            <div class="form-group">
                                <label for="reason">Descreva o Motivo</label><br>
                                <textarea id="reason" placeholder="Descreva o Motivo" name="reason" type="password"
                                    class="form-control" rows="3" maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <div class="form-group">
                                <button type="submit" id="save" class="btn btn-danger">Desfiliar
                                    <i class="fa fa-save" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col text-center">
                        <div class="form-group">
                            <div style="display: none" class="alert" id="divMessageDisaffection"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cepModalCenter" tabindex="-1" role="dialog" aria-labelledby="cepModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cepModalLongTitle">Atenção!</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    Identificamos em nosso sistema que há em seu nome um processo aberto na Comissão de Ética Partidária (CEP). 
                    Nessa situação, é importante você saber que, caso efetive a sua desfiliação, nossas diretrizes definem 
                    que não poderá se refiliar em um prazo de 8 anos a contar da data de sua desfiliação.<br><br>
                    Caso queira resolver essa pendência, clique em "Cancelar" e entre em contato com <a href="mailto:etica@novo.org.br">etica@novo.org.br</a>.<br><br>
                    Ou, caso esteja decidido a seguir em frente, ciente das implicações relacionadas ao prazo de refiliação, clique em "Continuar".
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Continuar
                    <i class="fa fa-check" aria-hidden="true"></i></button>
                <a href="<?= BASEURL ?>" type="button" class="btn btn-primary">Cancelar
                    <i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>

<script>
       
    $(function() {
        $("#reason-14").on("click", function() {
            $("#reason").val("");
            $("#reasonDiv").toggle();
        });
    });

    const formDisaffection = document.getElementById('formDisaffection');
    const divMessageDisaffection = document.getElementById('divMessageDisaffection');
    formDisaffection.addEventListener('submit', e => {
        showLoading();
        e.preventDefault();
        $('#save').addClass('disabled');
        let formData = formDataToJson('formDisaffection');
        fetch("<?= BASEURL ?>api/usuario/desfiliacao", {
            method: "PUT",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                divMessageDisaffection.textContent = json.message;
                divMessageDisaffection.style.display = 'block';
                if (response.status === 201) {
                    divMessageDisaffection.classList.add("alert-success");
                    divMessageDisaffection.classList.remove("alert-danger");
                    formDisaffection.remove();
                } else {
                    $('#save').removeClass('disabled');
                    divMessageDisaffection.classList.add("alert-danger");
                    divMessageDisaffection.classList.remove("alert-success");
                }
            });
        });
    });

    $(document).on('change', '.check', function() {
        var countShared = $('.check:checked').length;
        if (countShared > 2) {
            alert("Você pode selecionar até 2 motivos de desfiliação.");
            $(this).prop('checked', false);
        }
    });

    function closeModal() {
        $("#cepModalCenter").modal('hide');
    }

    const processCEP = '<?= $processCep ?>';

    $(document).ready(function () {
        if(processCEP) $("#cepModalCenter").modal('show');
    });

</script>