<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <iframe src="https://novo.org.br/filiacao/?user=<?= base64_encode($user->getId())?>" style="width:100%; height:860px"></iframe>
            </div>
        </div>
    </div> 
</div>