<link rel="stylesheet" href="<?= BASEURL ?>assets/css/intlTelInput.min.css">
<script src="<?= BASEURL ?>assets/js/intlTelInput.min.js"></script>
<script src="<?= BASEURL ?>assets/js/moment.min.js"></script>
<!--dados pessoais-->
<style>
#personalData,
#divForms {
    border-top: 2px solid #EF5A23 !important;
    border-bottom: 2px solid #EF5A23 !important;
    border-right: 2px solid #EF5A23 !important;
    border-left: 2px solid #EF5A23 !important;
    padding: 20px 20px !important;
    margin-bottom: 20px !important;
}
</style>

<form id="personalData">
    <div class="col-md-12">
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">DADOS PESSOAIS</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Nome Completo</label>
                                <input id="name" placeholder="Nome Completo" name="name" value="<?= $user->getName() ?>"
                                    type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="birth">Nascimento</label>
                                <input id="birth" placeholder="dd/mm/AAAA" name="birth"
                                    value="<?= $user->getDataNascimento() ? $user->getDataNascimento()->format('d/m/Y') : '' ?>"
                                    data-mask="99/99/9999" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="rg">RG</label>
                                <input id="rg" placeholder="RG" name="rg" value="<?= $user->getRg() ?>" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="issuingAgency">Órgão Expedidor</label>
                                <input id="issuingAgency" placeholder="Órgão Expedido" name="issuingAgency"
                                    value="<?= $user->getOrgaoExpedidor() ?>" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Telefone Fixo</label>
                                <input type="hidden" name="phoneDialCode">
                                <input type="hidden" name="phoneIso2">
                                <input id="phone" placeholder="Telefone Fixo" name="phone" type="tel"
                                    class="form-control" onkeyup="maskPhone()" data-mask="(99) 9999-9999"
                                    value="<?= $phone ? $phone->getTelefone(true) : '' ?>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cellPhone">Telefone Celular</label>
                                <input type="hidden" name="cellPhoneDialCode">
                                <input type="hidden" name="cellPhoneIso2">
                                <input id="cellPhone" placeholder="Telefone Celular" name="cellPhone" type="tel"
                                    class="form-control" onkeyup="maskCellPhone()"
                                    value="<?= $cellPhone ? $cellPhone->getTelefone(true) : '' ?>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">TÍTULO DE ELEITOR</h5>
                </div>
                <div class="card-body">
                    <?php if ($user->getPendenciaTitulo()): ?>
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-danger"><b>Favor regularizar seu titulo</b></div>
                        </div>
                    </div>
                    <?php endif; ?>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="originVoterTitle">Origem título de eleitor</label>
                                <select id="originVoterTitle" name="originVoterTitle" class="form-control"
                                    onchange="voterTitleFields(this.value)" required>
                                    <option value="2" <?php $voterTitleCountry == 33 ? 'selected' : '' ?>>
                                        Título
                                        do Brasil
                                    </option>
                                    <option <?= $voterTitleCountry != 33 ? 'selected' : '' ?> value="1">Título do
                                        Exterior
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mother">Nome da Mãe</label>
                                <input id="mother" name="mother" value="<?= $user->getNomeMae() ?>" type="text"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="voterTitle">Título de eleitor</label>
                                <input id="voterTitle" placeholder="Título de eleitor" name="voterTitle"
                                    value="<?= $user->getTituloEleitoral() ?>" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col col-md-3">
                            <div class="form-group">
                                <label for="voterTitleZone">Zona</label>
                                <input id="voterTitleZone" placeholder="Zona" name="voterTitleZone"
                                    value="<?= $user->getTituloEleitoralZona() ?>" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col col-md-3">
                            <div class="form-group">
                                <label for="voterTitleSection">Seção</label>
                                <input id="voterTitleSection" placeholder="Seção" name="voterTitleSection"
                                    value="<?= $user->getTituloEleitoralSecao() ?>" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row" id="titleNational" <?= $voterTitleCountry != 33 ? 'style="display: none"' : '' ?>>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="voterTitleUF">UF eleitoral</label>
                                <select id="voterTitleUF" name="voterTitleUF" class="form-control"
                                    onchange="getCities(this.value, 'voterTitleCity')">
                                    <?php foreach ($states as $item): ?>
                                    <option value="<?= $item->getId() ?>"
                                        <?= $user->getTituloEleitoralUfId() &&
                                        $item->getId() == $user->getTituloEleitoralUfId()->getId() ? 'selected' : '' ?>><?= $item->getSigla() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="voterTitleCity">Município Eleitoral</label>
                                <select id="voterTitleCity" name="voterTitleCity" class="form-control">
                                    <option value="">Selecione a cidade</option>
                                    <?php foreach ($voterTitleCities as $item): ?>
                                    <option value="<?= $item->getId() ?>"
                                        <?= $user->getTituloEleitoralMunicipioId() &&
                                        $item->getId() == $user->getTituloEleitoralMunicipioId()->getId() ? 'selected' : '' ?>><?= $item->getCidade() ?>
                                    </option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="titleInternational"
                        <?= $voterTitleCountry == 33 ? 'style="display: none"' : '' ?>>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="voterTitleCountry">País</label>
                                <select id="voterTitleCountry" name="voterTitleCountry" class="form-control">
                                    <?php foreach ($countries as $item): ?>
                                    <option value="<?= $item->getId() ?>"
                                        <?= $item->getId() == $voterTitleCountry ? 'selected' : '' ?>>
                                        <?= $item->getNome() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="voterTitleCityString">Município Eleitoral</label>
                                <input id="voterTitleCityString" placeholder="Município Eleitoral"
                                    name="voterTitleCityString" value="<?= $user->getTituloEleitoralMunicipio() ?>"
                                    type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form id="addressForm">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">ENDEREÇO</h5>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input <?= $address ? $address->getResideExterior() ? 'checked' : '' : '' ?>
                                        class="form-check-input m-t-20" name="addressOutside"
                                        onchange="addressFields(this.checked)" type="checkbox" value="1"
                                        id="addressOutside">
                                    <label class="form-check-label" for="addressOutside"> Resido no
                                        exterior </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col <?= $address ? !$address->getResideExterior() ? 'd-none' : '' : '' ?>"
                                id="addressCountryDiv">
                                <div class="form-group">
                                    <label for="addressCountry">País</label>
                                    <select id="addressCountry" name="addressCountry" class="form-control">
                                        <?php foreach ($countries as $item): ?>
                                        <option value="<?= $item->getId() ?>"
                                            <?= $address ? $item->getId() == $address->getTbPaisId() ? 'selected' : '' : '' ?>>
                                            <?= $item->getNome() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label for="zipCode">
                                        CEP
                                    </label>
                                    <input class="form-control"
                                        value="<?= \App\Helpers\Utils::onlyNumbers($address ? $address->getCep() : '') ?>"
                                        name="zipCode" data-mask="99999-999" type="text" required id="zipCode"
                                        placeholder="Cep" />
                                </div>
                            </div>
                        </div>
                        <div class="row <?= $address ? $address->getResideExterior() ? 'd-none' : '' : '' ?>"
                            id="addressInsideDiv">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ufId">
                                        Estado
                                    </label>
                                    <select id="ufId" name="ufId" class="form-control"
                                        onchange="getCities(this.value, 'cityId')">
                                        <?php foreach ($states as $item): ?>
                                        <option value="<?= $item->getId() ?>"
                                            <?= $address ? $item->getId() == $address->getStateId() ? 'selected' : '' : '' ?>>
                                            <?= $item->getSigla() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cityId">
                                        Cidade
                                    </label>
                                    <select id="cityId" name="cityId" class="form-control">
                                        <option value="">Selecione a cidade</option>
                                        <?php foreach ($addressCities as $item): ?>
                                        <option value="<?= $item->getId() ?>"
                                            <?= $item->getId() == $address->getTbCidadeId() ? 'selected' : '' ?>>
                                            <?= $item->getCidade() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row <?= $address ? !$address->getResideExterior() ? 'd-none' : '' : '' ?>"
                            id="addressOutsideDiv">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="uf">
                                        Estado
                                    </label>
                                    <input class="form-control" value="<?= $address ? $address->getEstado() : '' ?>"
                                        name="uf" type="text" id="uf" placeholder="Estado" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="city">
                                        Cidade
                                    </label>
                                    <input class="form-control" value="<?= $address ? $address->getCidade() : '' ?>"
                                        name="city" type="text" id="city" placeholder="Cidade" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="street">
                                        Logradouro
                                    </label>
                                    <input class="form-control" value="<?= $address ? $address->getEndereco() : '' ?>"
                                        name="street" type="text" required id="street" placeholder="Logradouro " />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="number">
                                        Número
                                    </label>
                                    <input class="form-control" value="<?= $address ? $address->getNumero() : '' ?>"
                                        min="0" name="number" type="number" required id="number" placeholder="Número" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="district">
                                        Bairro
                                    </label>
                                    <input class="form-control" value="<?= $address ? $address->getBairro() : '' ?>"
                                        name="district" type="text" required id="district" placeholder="Bairro" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="complement">
                                        Complemento
                                    </label>
                                    <input class="form-control"
                                        value="<?= $address ? $address->getComplemento() : '' ?>" name="complement"
                                        type="text" id="complement" placeholder="Complemento" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">OUTRAS INFORMAÇÕES</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="education">Escolaridade</label>
                                <select id="education" name="education" class="form-control">
                                    <?php foreach ($education as $item): ?>
                                    <option value="<?= $item->getId() ?>"
                                        <?= $user->getEscolaridade()->getId() == $item->getId() ? 'selected' : '' ?>>
                                        <?= $item->getEscolaridade() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="profession">Profissão</label>
                                <input id="profession" placeholder="Profissão" name="profession"
                                    value="<?= $user->getProfissao() ?>" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender">Gênero</label>
                                <select id="gender" name="gender" class="form-control">
                                    <option value="2" <?= $user->getGenero()->getId() == '2' ? 'selected' : '' ?>>Feminino</option>
                                    <option value="1" <?= $user->getGenero()->getId() == '1' ? 'selected' : '' ?>>Masculino</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="civilStatus">Estado Civil</label>
                                <select id="civilStatus" name="civilStatus" class="form-control">
                                    <?php foreach ($civilStatus as $item): ?>
                                    <option value="<?= $item->getId() ?>"
                                        <?= $user->getEstadoCivil()->getId() == $item->getId() ? 'selected' : '' ?>>
                                        <?= $item->getEstadocivil() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php if(in_array($user->getFiliado(), array(1,2,3,7,8,14))): ?>
        <!--IRPF-->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">IRPF</h5>
                </div>
                <div class="card-body">
                    <div class="col">
                        <label for="originVoterTitle">Você é isento da declaração do Imposto de Renda?</label>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select id="irpf" name="irpf" class="form-control" onchange="exemptionChange(this.value)">
                                <option value="0" <?= $user->getIrpf() == '0' ? 'selected' : '' ?>>Não
                                </option>
                                <option value="1" <?= $user->getIrpf() == '1' ? 'selected' : '' ?>>Sim
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="exemptionDiv" class="d-none">
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <input type="checkbox" id="exemption" name="exemption" value="1"
                                            <?= $user->getExemption() == 1 ? 'checked' : '' ?>>
                                        <b>
                                            <label class="text-dark" for="term5"><strong> Declaro
                                                    que:</strong></label>
                                        </b>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li class="ml-sm-5">Desejo estar isento das contribuições voluntárias aplicadas
                                        para
                                        manutenção do partido em razão do recebimento de valor tributável ou não
                                        tributável inferior
                                        ao montante estabelecido pela legislação de regência a cada exercício.
                                    </li>
                                </ul>
                                <p><b>Observação:</b> Prestar declaração
                                    falsa caracteriza o crime previsto no art. 299 do Código Penal Brasileiro, e
                                    que
                                    por
                                    tal crime será responsabilizado,
                                    independentemente das sanções administrativas, caso se comprove a
                                    inveracidade do
                                    declarado no documento previsto no caput.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php endif; ?>
        <?php if($user->getFiliado() != 6): ?>
        <div class="col-md-12">
            <div class="col">
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success">SALVAR DADOS</button>
                </div>
            </div>
        </div>
        <?php endif; ?>
    </div>
</form>
<div class="spinner-border spinner-card"
     style="width: 5rem; height: 5rem;" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>
<!--fim dados pessoais-->

<!--alterar senha-->
<div id="divForms">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Salvar Senha</h5>
                </div>
                <div class="card-body">
                    <form id="formPassword">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="actualPassword">Senha atual</label>
                                    <input id="actualPassword" placeholder="Senha atual" name="actualPassword"
                                        type="password" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="password">Nova senha</label>
                                    <input id="password" name="password" placeholder="Nova senha" type="password"
                                        class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="password2">Confirme a Nova Senha</label>
                                    <input id="password2" name="password2" placeholder="Confirme a Nova Senha"
                                        type="password" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <?php if($user->getFiliado() != 6): ?>
                        <button type="submit" class="btn btn-success">SALVAR SENHA</button>
                        <?php endif; ?>
                    </form>
                </div>
            </div>
        </div>
        <!-- fim alterar senha-->

        <!--alterar e-mail-->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Salvar E-MAIL</h5>
                </div>
                <div class="card-body">
                    <form id="formEmail">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="email2">Digite novo E-mail</label>
                                    <input id="email2" name="email2" placeholder="Digite novo E-mail" type="email"
                                        class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <?php if($user->getFiliado() != 6): ?>
                        <button type="submit" class="btn btn-success">SALVAR E-MAIL</button>
                        <?php endif; ?>
                    </form>
                </div>
            </div>
        </div>
        <!-- fim alterar e-mail-->
    </div>
</div>

<script>
	
	var verify = <?= (bool)$address ?>;
	var irpf = <?= (int)$user->getIrpf() ?>;
	
</script>
<script src="<?= BASEURL ?>assets/functions/personal-data.js?v=<?= time() ?>"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js?v=<?= time() ?>"></script>