<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body padding10">
                <div class="row">
                    <div class="col-md-12">
                        <a href="https://novo.org.br/wp-content/uploads/2023/12/NOVO-Campanha-NOVO-Multiplica-Resultado.pdf" target="_blank">
                            <img src="https://novo.org.br/wp-content/uploads/2023/12/campanha-NOVO-multiplica-premiados.png" 
                                 alt="Campanha NOVO Multiplica" 
                                 style="width:100%; height: auto;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4>Seu link exclusivo está aqui:</h4>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="url" name="url"
                            value="https://novo.org.br/filiacao/?codigo=<?= $user->getId() ?>" readonly>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success" onclick="copyUrl()"><i class="fa fa-files-o"
                                aria-hidden="true"></i>
                            Copiar Link</button>
                    </div>
                    <div class="col-md-12">
                        <label class="margin-right10"><a
                                href="https://novo.org.br/filiacao/?codigo=<?= $user->getId() ?>" target="_blank"><i
                                    class="fa fa-external-link" aria-hidden="true"></i> Visualizar Página</a></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h4>Seus resultados:</h4>
                    </div>
                    <div class="col-md-4 results text-center">
                        <h4 class="font-size40 results"><?= $confirmed ?></h4>
                        <h3 class="results">Confirmados</h3>
                    </div>
                    <div class="col-md-4 text-center">
                        <h4 class="font-size40 results"><?= $pending ?></h4>
                        <h3 class="results">Pendentes</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <a href="https://novo.org.br/wp-content/uploads/2023/11/REGULAMENTO-Campanha-de-Filiacao-NOVO-Multiplica.pdf">
                            <img src="<?= BASEURL ?>assets/img/Banner-Interno-Seus-Resultados-01-ok.svg" style="height: 100%" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://chat.whatsapp.com/LZkyJgjw7FA3o1fYSzZfJv">
                            <img src="<?= BASEURL ?>assets/img/Banner-Interno-Seus-Resultados-02-ok.svg" style="height: 100%" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h4>Lista das suas indicações</h4>
            </div>
            <div class="col-md-6">
                <div class="inline-end">
                    <label>Legenda:</label> 
                    <table class="legend border">
                        <tr class="legend">
                            <th class="legend"></th>
                            <th class="legend">Status</th>
                            <th class="paddding">Significado</th>
                        </tr>
                        <tr class="legend">
                            <td class="backRed"></td>
                            <td class="legend">Não</td>
                            <td>Efetuou apenas o cadastro.</td>
                        </tr>
                        <tr class="legend">
                            <td class="paddding backYellow"></td>
                            <td class="legend">Pendente de Pagamento</td>
                            <td>Só falta fazer o pagamento da taxa de contribuição.</td>
                        </tr>
                        <tr class="legend">
                            <td class="paddding backGreen"></td>
                            <td class="legend">Período de impugnação</td>
                            <td>Está tudo certo! É só aguardar o processo ser concluído.</td>
                        </tr>
                        <tr class="legend">
                            <td class="paddding backGreen"></td>
                            <td class="legend">Filiado/Refiliado</td>
                            <td>Esses já estão 100% confirmados!</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <form id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input class="form-control" id="name" name="name" type="text" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select class="form-select" name="status" id="status">
                            <option value="">Todos</option>
                            <option value="1">Pendente de Pagamento</option>
                            <option value="2">Período de impugnação</option>
                            <option value="3">Filiado/Refiliado</option>
                            <option value="4">Não</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end">
                    <button class="btn btn-danger" type="reset" onclick="resetTable('Trail')">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row table-responsive-xl">
            <div class="col">
                <table class="table table-bordered table-striped" id="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Telefone</th>
                            <th class="text-center">Data solicitação</th>
                            <th class="text-center">Status Filiado
                            </th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Cidade</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 15px;">
                Exibindo <span id="partialBottom"></span> de <span id="totalBottom"></span><br>
                <button type="button" class="btn btn-primary" onclick="scrolling()" id="scrolling">
                    <i class="fa fa-plus" aria-hidden="true"></i> Carregar mais
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form id="formFile">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Compartilhe suas boas ideias com a gente:</h4>
                    <p for="share">Envie fotos/vídeos das suas ações para trazer novos filiados. Lembre-se que o mais criativo também receberá prêmios!</p>
                    <label for="file">Selecione o arquivo:</label><br>
                    <input class="form-control-file input-sm" type="file" name="file" id="file"><br>
                    <button type="submit" class="btn btn-primary" id="buttonFile" style="margin-top: 15px;"><i class="fa fa-send" aria-hidden="true"></i> Enviar</button>
                </div> 
                <div class="mt-2 d-none alert alert-danger" id="divMessageFormRegister">Erro</div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title"><?php echo $title ?></h5>
                    </div>
                    <div class="card-body">
                    <iframe src="https://app.powerbi.com/view?r=eyJrIjoiYWM1YTFmMTktYTlhNi00ZTA2LTgzMGMtODFmMjE1MTM5YzkxIiwidCI6IjI3MTMxYmVlLTVjZDUtNDhkNi04MDcxLTVmZDY2MjA5ZTAzYyJ9" style="width:100%; height:860px"></iframe>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/users/recommendation.js"></script>

<style>
h4 {
    color: #10385a;
    font-weight: 800;
}

.results {
    color: #f17021;
}

label {
    color: #10385a;
    margin-top: 1px;
}

.legend {
  border: 1px solid;
}

.backRed {
    background: #f40000;
    width: 5%;
    opacity: 50%;
}

.backYellow {
    background: #f4c430; 
    color: black;
    opacity: 50%;
}

.backGreen {
    background: #008000; 
    color: #fff;
    opacity: 50%;
}

.border {
    border: outset;
}

.inline-end {
    float: inline-end;
}

.padding10 {
    padding: 10px;
}

.margin-right10 {
    margin-right: 10%;
}

.font-size40 {
    font-size: 40px;
}

.padding-right55 {
    padding-right: 55px;
}
</style>