<?php if ($validProcessCep): ?>
<div class="card w-75 mx-auto" id="register">
    <div class="card-header text-center">
        <h2 class="title">Atenção!</h2>
    </div>
    <div class="card-body text-center">
        <label class="mt-3"> Você não poderá se filiar no momento, dúvidas entre em contato com o setor de Filiação
            através do e-mail: <a href="mailto:filiacao@novo.org.br" target="_blank">filiacao@novo.org.br.</a></label>
    </div>
</div>
<?php else: ?>
<div class="card w-75 mx-auto" id="register">
    <div class="card-header text-center">
        <h2 class="title">FORMULÁRIO DE FILIAÇÃO</h2>
    </div>
    <div class="row">
        <div class="col-md-12 mx-0">
            <form id="msform">
                <input type="hidden" name="cpf" value="<?= $user->getCpf() ?>">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active" id="personal"><strong>Dados Pessoais</strong></li>
                    <li id="address"><strong>Endereço</strong></li>
                    <li id="voterTitle"><strong>Título de Eleitor</strong></li>
                    <li id="terms"><strong>Termos</strong></li>
                    <li id="irpf"><strong>IRPF</strong></li>
                </ul> <!-- fieldsets -->
                <!-- STEP 1 -->
                <fieldset id="step-1">
                    <div class="form-card">
                        <h4 class="title text-primary">Dados Pessoais</h4>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">Nome Completo</label>
                                    <input id="name" placeholder="Nome Completo" name="name"
                                        value="<?= $user->getName() ?>" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="birth">Nascimento</label>
                                    <input id="birth" placeholder="dd/mm/aaaa" name="birth" data-mask="99/99/9999"
                                        value="<?= $user->getDataNascimento() ? $user->getDataNascimento()->format('d/m/Y') : '' ?>"
                                        type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="cellPhone">Celular</label>
                                    <input type="hidden" name="cellPhoneDialCode">
                                    <input type="hidden" name="cellPhoneIso2">
                                    <input id="cellPhone" placeholder="Telefone Celular" name="cellPhone" type="tel"
                                        value="<?= $cellPhone ? $cellPhone->getTelefone(true) : '' ?>"
                                        class="form-control" onkeyup="maskCellPhone()">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="sex">Sexo</label>
                                    <select id="sex" name="sex" class="form-control">
                                        <option value="0">Selecione</option>
                                        <option value="1" <?= $user->getGenero()->getId() == 1 ? 'selected' : '' ?>>
                                            Homem</option>
                                        <option value="2" <?= $user->getGenero()->getId() == 2 ? 'selected' : '' ?>>
                                            Mulher</option>
                                        <option value="3">Não quero informar</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" onclick="changeStep(1, 'next')"
                        class="next btn btn-success">Avançar
                    </button>
                </fieldset>
                <!-- STEP 1 -->
                <!-- STEP 2 -->
                <fieldset id="step-2">
                    <div class="form-card">
                        <h4 class="title text-primary">Endereço</h4>
                        <div class="row">
                            <div class="col">
                                <label class="form-check-label mr-2 mb-2" for="addressOutside"> Resido no
                                    exterior </label>
                                <input name="addressOutside"
                                    <?= $address && $address->getResideExterior() ? 'checked' : '' ?>
                                    onchange="addressFields(this.checked)" type="checkbox" value="1"
                                    id="addressOutside">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col <?= (!$address || !$address->getResideExterior()) ? 'd-none' : '' ?>"
                                id="addressCountryDiv">
                                <div class="form-group">
                                    <label for="addressCountry">País</label>
                                    <select id="addressCountry" name="addressCountry" class="form-control">
                                        <?php foreach ($countries as $item): ?>
                                        <option value="<?= $item->getId() ?>"
                                            <?= $address && $item->getId() == $address->getTbPaisId() ? 'selected' : '' ?>>
                                            <?= $item->getNome() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label for="zipCode">
                                        CEP
                                    </label>
                                    <input class="form-control" value="<?= $address ? $address->getCep() : '' ?>"
                                        name="zipCode" data-mask="99999-999" type="text" id="zipCode"
                                        placeholder="Cep" />
                                </div>
                            </div>
                        </div>
                        <div class="row <?= $address && $address->getResideExterior() ? 'd-none' : '' ?>"
                            id="addressInsideDiv">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ufId">
                                        Estado
                                    </label>
                                    <select id="ufId" name="ufId" class="form-control"
                                        onchange="getCities(this.value, 'cityId')">
                                        <?php foreach ($states as $item): ?>
                                        <option value="<?= $item->getSigla() ?>"
                                            <?= $address && $item->getId() == $address->getStateId() ? 'selected' : '' ?>>
                                            <?= $item->getSigla() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cityId">
                                        Cidade
                                    </label>
                                    <select id="cityId" name="cityId" class="form-control">
                                        <option value="">Selecione a cidade</option>
                                        <?php foreach ($addressCities as $item): ?>
                                        <option value="<?= $item->getCidade() ?>"
                                            <?= $address && $item->getId() == $address->getTbCidadeId() ? 'selected' : '' ?>>
                                            <?= $item->getCidade() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row <?= !$address || !$address->getResideExterior() ? 'd-none' : '' ?>"
                            id="addressOutsideDiv">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="uf">
                                        Estado
                                    </label>
                                    <input class="form-control" name="uf" type="text" id="uf" placeholder="Estado"
                                        value="<?= $address ? $address->getEstado() : '' ?>" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="city">
                                        Cidade
                                    </label>
                                    <input class="form-control" name="city"
                                        value="<?= $address ? $address->getCidade() : '' ?>" type="text" id="city"
                                        placeholder="Cidade" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="street">
                                        Logradouro
                                    </label>
                                    <input class="form-control" name="street"
                                        value="<?= $address ? $address->getEndereco() : '' ?>" type="text" id="street"
                                        placeholder="Logradouro " />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="number">
                                        Número
                                    </label>
                                    <input class="form-control" min="0"
                                        value="<?= $address ? $address->getNumero() : '' ?>" name="number" type="number"
                                        id="number" placeholder="Número" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="district">
                                        Bairro
                                    </label>
                                    <input class="form-control" name="district"
                                        value="<?= $address ? $address->getBairro() : '' ?>" type="text" id="district"
                                        placeholder="Bairro" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="complement">
                                        Complemento
                                    </label>
                                    <input class="form-control"
                                        value="<?= $address ? $address->getComplemento() : '' ?>" name="complement"
                                        type="text" id="complement" placeholder="Complemento" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" onclick="changeStep(2, 'back')"
                        class="previous btn btn-danger">Voltar
                    </button>
                    <button type="button" onclick="changeStep(2, 'next')"
                        class="next btn btn-success">Avançar
                    </button>
                </fieldset>
                <!-- STEP 2 -->
                <!-- STEP 3 -->
                <fieldset id="step-3">
                    <div class="form-card">
                        <h4 class="title text-primary">Título de Eleitor</h4>
                        <p><a href="http://www.tse.jus.br/eleitor/titulo-de-eleitor" target="_blank">Clique aqui</a>
                            para
                            consultar seus dados no site do TSE</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="originVoterTitle">Origem título de eleitor</label>
                                    <select id="originVoterTitle" name="originVoterTitle" class="form-control"
                                        onchange="voterTitleFields(this.value)">
                                        <option value="2"
                                            <?= $user->getTituloEleitoralPaisId() && $user->getTituloEleitoralPaisId()->getId() == 33 ? 'selected' : '' ?>>
                                            Título
                                            do Brasil
                                        </option>
                                        <option
                                            <?= $user->getTituloEleitoralPaisId() && $user->getTituloEleitoralPaisId()->getId() != 33 ? 'selected' : '' ?>
                                            value="1">Título do Exterior
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mother">Nome da Mãe</label>
                                    <input id="mother" name="mother" value="<?= $user->getNomeMae() ?>" type="text"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="voterTitle">Título de eleitor</label>
                                    <input id="voterTitle" placeholder="Título de eleitor" name="voterTitle" type="text"
                                        class="form-control" data-mask="999999999999"
                                        value="<?= $user->getTituloEleitoral() ?>">
                                </div>
                            </div>
                            <div class="col col-md-3">
                                <div class="form-group">
                                    <label for="voterTitleZone">Zona</label>
                                    <input id="voterTitleZone" placeholder="Zona" name="voterTitleZone" data-mask="9999"
                                        value="<?= $user->getTituloEleitoralZona() ?>" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col col-md-3">
                                <div class="form-group">
                                    <label for="voterTitleSection">Seção</label>
                                    <input id="voterTitleSection" placeholder="Seção" name="voterTitleSection"
                                        data-mask="9999" value="<?= $user->getTituloEleitoralSecao() ?>" type="text"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row" id="titleNational">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="voterTitleUF">UF eleitoral</label>
                                    <select id="voterTitleUF" name="voterTitleUF" class="form-control"
                                        onchange="getCities(this.value, 'voterTitleCity')">
                                        <option value="">Selecione o estado</option>
                                        <?php foreach ($states as $item): ?>
                                        <option value="<?= $item->getId() ?>"
                                            <?= $user->getTituloEleitoralUfId() &&
                                        $item->getId() == $user->getTituloEleitoralUfId()->getId() ? 'selected' : '' ?>>
                                            <?= $item->getSigla() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="voterTitleCity">Município Eleitoral</label>
                                    <select id="voterTitleCity" name="voterTitleCity" class="form-control">
                                        <option value="">Selecione a cidade</option>
                                        <?php foreach ($voterTitleCities as $item): ?>
                                        <option value="<?= $item->getId() ?>"
                                            <?= $user->getTituloEleitoralMunicipioId() &&
                                        $item->getId() == $user->getTituloEleitoralMunicipioId()->getId() ? 'selected' : '' ?>><?= $item->getCidade() ?>
                                        </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="titleInternational"
                            <?= !$user->getTituloEleitoralPaisId() || $user->getTituloEleitoralPaisId()->getId() == 33 ? 'style="display: none"' : '' ?>>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="voterTitleCountry">País</label>
                                    <select id="voterTitleCountry" name="voterTitleCountry" class="form-control">
                                        <?php foreach ($countries as $item): ?>
                                        <option value="<?= $item->getId() ?>"
                                            <?= $user->getTituloEleitoralPaisId() && $item->getId() == $user->getTituloEleitoralPaisId()->getId() ? 'selected' : '' ?>>
                                            <?= $item->getNome() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="voterTitleCityString">Município Eleitoral</label>
                                    <input id="voterTitleCityString" placeholder="Município Eleitoral"
                                        name="voterTitleCityString" value="<?= $user->getTituloEleitoralMunicipio() ?>"
                                        type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" onclick="changeStep(3, 'back')"
                        class="previous btn btn-danger">Voltar
                    </button>
                    <button type="button" onclick="changeStep(3, 'next')"
                        class="next btn btn-success">Avançar
                    </button>
                </fieldset>
                <!-- STEP 3 -->
                <!-- STEP 4 -->
                <fieldset id="step-4">
                    <div class="form-card">
                        <div class="row ">
                            <div class="col text-center">
                                <h4 class="title text-primary">Termos</h4>
                                <p>
                                    <a href="https://novo.org.br/wp-content/uploads/2020/06/Ata-142239-Estatuto-do-Partido-NOVO-aprovado-em-26-04-18.pdf"
                                        target="_blank">Clique
                                        aqui </a>para acessar nosso estatuto
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="text-dark" for="term2"><strong>Declaro que:</strong></label>
                            </div>
                        </div>
                        <div>
                            <ul>
                                <div class="col">
                                    <input type="radio" name="term1" value="2"> Possuo cargo de primeiro escalão de
                                    relevância política e/ou pública.<br>
                                    <input type="radio" name="term1" value="3"> Possuo mandato legislativo <br>
                                    <input type="radio" name="term1" value="4"> Sou suplente por outro partido.<br>
                                    <input type="radio" name="term1" value="1"> Não me enquadro nessas condições.<br>
                                </div>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input type="checkbox" id="term2" name="term2" value="1">
                                    <b>
                                        <label class="text-dark" for="term2"><strong> Declaro
                                                que:</strong></label>
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div>
                            <ul>
                                <li class="ml-sm-5">Estou no pleno gozo dos meus direitos políticos e de total
                                    acordo com as
                                    disposições do estatuto do partido NOVO.
                                    Declaro ainda que não me enquadro em nenhuma das hipóteses do artigo 1º, inciso
                                    I da lei
                                    complementar nº 64,
                                    de 18 de maio de 1990 (ficha limpa).
                                </li>
                                <li class="ml-sm-5">São verdadeiras as informações preenchidas neste formulário e
                                    que sou o
                                    titular do pedido de filiação, sob as penas da lei.
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input type="checkbox" id="term3" name="term3" value="1">
                                    <b>
                                        <label class="text-dark" for="term3"><strong> Me comprometo
                                                a:</strong></label>
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div>
                            <ul>
                                <li class="ml-sm-5">A cumprir e defender os programas partidários, o estatuto, as
                                    resoluções
                                    internas dos
                                    diretórios, a difundir os ideais e princípios programáticos do novo.
                                </li>
                                <li class="ml-sm-5">Manter meus dados cadastrais atualizados e minhas contribuições
                                    de
                                    filiação
                                    sempre em dia,
                                    o que poderá ser feito através do espaço NOVO, sob risco de perder meus direitos
                                    de
                                    filiado
                                    de acordo com o previsto no estatuto.
                                </li>
                                <li class="ml-sm-5">Verificar regularmente os comunicados disponibilizados no espaço
                                    NOVO,
                                    sendo este o principal canal de comunicação entre o NOVO e seus filiados.
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input type="checkbox" id="term4" name="term4" value="1">
                                    <b>
                                        <label class="text-dark" for="term4"><strong> Entendo
                                                que:</strong></label>
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div>
                            <ul>
                                <li class="ml-sm-5">O número do titulo de eleitor informado por mim está de acordo
                                    com o
                                    documento original para filiação junto ao TSE,
                                    não cabendo ao novo a correção dos dados incorretos nem a responsabilidade pelos
                                    mesmos.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" onclick="changeStep(4, 'back')"
                        class="previous btn btn-danger">Voltar
                    </button>
                    <button type="button" onclick="changeStep(4, 'next')"
                        class="next btn btn-success">Avançar
                    </button>
                </fieldset>
                <!-- STEP 4 -->
                <!-- STEP 5 -->
                <fieldset id="step-5">
                    <div class="form-card">
                        <div class="col-md-12">
                            <label for="originVoterTitle">Você é isento da declaração do Imposto de renda?</label>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select id="irpf" name="irpf" class="form-control"
                                    onchange="exemptionChange(this.value)">
                                    <option value="0" selected>Não</option>
                                    <option value="1">Sim</option>
                                </select>
                            </div>
                        </div>
                        <div id="exemptionDiv" class="d-none">
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <input type="checkbox" id="exemption" name="exemption" value="1">
                                        <b>
                                            <label class="text-dark" for="term5"><strong> Declaro que:</strong></label>
                                        </b>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li class="ml-sm-5">Desejo estar isento das contribuições voluntárias aplicadas para
                                        manutenção do partido em razão do recebimento de valor tributável ou não
                                        tributável inferior
                                        ao montante estabelecido pela legislação de regência a cada exercício.
                                    </li>
                                </ul>
                            </div>
                            <p><b>Observação:</b> Prestar declaração
                                falsa caracteriza o crime previsto no art. 299 do Código Penal Brasileiro, e que
                                por
                                tal crime será responsabilizado,
                                independentemente das sanções administrativas, caso se comprove a inveracidade do
                                declarado no documento previsto no caput.
                            </p>
                        </div>
                    </div>
                    <button onclick="changeStep(5, 'back')" type="button" id="backFinalButton"
                        class="previous btn btn-danger">Voltar
                    </button>
                    <button type="submit" id="saveRegister" class="btn btn-success">Finalizar Cadastro</button>
                </fieldset>
                <!-- STEP 5 -->
            </form>
            <div class="col">
                <div class="mt-2 d-none alert alert-danger" id="divMessageFormRegister">Erro</div>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>

<div class="card w-75 mx-auto d-none" id="payment">
    <div class="card-header text-center">
        <h2 class="title">PAGAMENTO DE FILIAÇÃO</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-2 d-none alert alert-danger" id="divMessageFormPayment">Erro</div>
            </div>
            <form id="formPayment" class="mx-auto">
                <input type="hidden" name="cpf" value="<?= $user->getCpf() ?>">
                <input type="hidden" name="directory" value="1">
                <div>
                    <h2 class="text-center text-primary">Forma de Pagamento</h2>
                    <div class="text-center">
                        <div class="btn-group">
                            <button type="button" onclick="setPaymentMethod('paymentMethod1')"
                                class="px-3 btn btn-success" id="paymentMethod1Button">
                                <input type="radio" name="paymentMethod" id="paymentMethod1" value="1">
                                Cartão de crédito
                            </button>
                            <button type="button" onclick="setPaymentMethod('paymentMethod2')"
                                class="px-4 btn btn-secondary">
                                <input type="radio" name="paymentMethod" id="paymentMethod2" value="2">
                                Boleto
                            </button>
                        </div>
                    </div>
                </div>
                <div id="planDiv" style="display: none">
                    <hr>
                    <h2 class="text-center text-primary">Plano de Pagamento</h2>
                    <div class="text-center">
                        <div class="btn-group">
                            <button type="button" onclick="setPlan('plan1')" class="px-3 btn btn-success" id="plan1Div">
                                <input type="radio" name="plan" id="plan1" value="1"> Mensal
                            </button>
                            <!--
                            <button type="button" onclick="setPlan('plan6')" class="px-3 btn btn-info" id="plan6Div">
                                <input type="radio" name="plan" id="plan6" value="6"><b> Semestral</b>
                            -->
                            </button>
                            <button type="button" onclick="setPlan('plan2')" class="px-4 btn btn-secondary">
                                <input type="radio" name="plan" id="plan2" value="12"> Anual
                            </button>
                        </div>
                    </div>
                </div>
                <div id="valueDiv" style="display: none">
                    <hr>
                    <h2 class="text-center text-primary">Valor da Contribuição</h2>
                    <div class="text-center">
                        <div class="btn-group">
                            <div id="contributionMonthly">
                                <button type="button" onclick="setValue('value1')" class="px-3 btn btn-info">
                                    <input type="radio" name="value" id="value1" value="<?= MINMONTHLY ?>">
                                    R$ <?= number_format(MINMONTHLY, 2, ',', '.') ?>
                                </button>
                                <button type="button" onclick="setValue('value2')" class="px-3 btn btn-success">
                                    <input type="radio" name="value" id="value2" value="50" checked>
                                    R$ 50,00
                                </button>
                                <button type="button" onclick="setValue('value3')" class="px-3 btn btn-secondary">
                                    <input type="radio" name="value" id="value3" value="100">
                                    R$ 100,00
                                </button>
                                <button type="button" onclick="setValue('value10')" class="px-3 btn btn-danger">
                                    <input type="radio" name="value" value="0">
                                    Outros Valores
                                </button>
                            </div>
                            <!--
                            <div id="contributionSemester">
                                <button type="button" onclick="setValue('value11')" class="px-3 btn btn-info">
                                    <input type="radio" name="value" id="value11" value="<?= MINSEMESTER ?>">
                                    R$ <?= number_format(MINSEMESTER, 2, ',', '.') ?>
                                </button>
                                <button type="button" onclick="setValue('value12')" class="px-3 btn btn-success">
                                    <input type="radio" name="value" id="value12" value="230" checked>
                                    R$ 230,00
                                </button>
                                <button type="button" onclick="setValue('value13')" class="px-3 btn btn-secondary">
                                    <input type="radio" name="value" id="value13" value="250">
                                    R$ 250,00
                                </button>
                                <button type="button" onclick="setValue('value10')" class="px-3 btn btn-danger">
                                    <input type="radio" name="value" value="0">
                                    Outros Valores
                                </button>
                            </div>
                            -->
                            <div id="contributionYearly">
                                <button type="button" onclick="setValue('value5')" class="px-3 btn btn-info">
                                    <input type="radio" name="value" id="value5" value="<?= MINYEARLY ?>">
                                    R$ <?= number_format(MINYEARLY, 2, ',', '.') ?>
                                </button>
                                <button type="button" onclick="setValue('value6')" class="px-3 btn btn-success">
                                    <input type="radio" name="value" id="value6" value="500">
                                    R$ 500,00
                                </button>
                                <button type="button" onclick="setValue('value7')" class="px-3 btn btn-secondary">
                                    <input type="radio" name="value" id="value7" value="550">
                                    R$ 550,00
                                </button>
                                <button type="button" onclick="setValue('value10')" class="px-3 btn btn-danger">
                                    <input type="radio" name="value" id="value10" value="0">
                                    Outros Valores
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="w-25 mx-auto mt-2" id="divValue" style="display: none">
                        <div class="row">
                            <label for="otherValue"><b>Digite o valor:</b></label>
                            <input type="text" class="form-control" name="value2" id="otherValue" placeholder="Valor">
                        </div>
                    </div>
                    <hr>
                </div>
                <div id="paymentMethodDiv">
                    <div id="creditCard" class="w-100 mx-auto mt-2" style="display: none">
                        <div class="card">
                            <div class="card-body">
                                <input type="hidden" name="flag" id="flag">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="cardNumber">Número do cartão</label>
                                            <input id="cardNumber" onkeyup="validCardNumber()"
                                                placeholder="Número do cartão" name="cardNumber" type="text"
                                                class="form-control">
                                            <small class="text-danger" id="cardNumberError" style="display: none">
                                                Número do cartão inválido
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="cvv">CVV</label>
                                            <input id="cvv" name="cvv" placeholder="CVV" type="number" data-mask="0000"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="expiringDate">Validade do cartão</label>
                                            <input id="expiringDate" name="expiringDate" placeholder="MM/AA"
                                                data-mask="00/00" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="cardName">Nome como está no cartão</label>
                                            <input id="cardName" name="cardName" placeholder="Nome como está no cartão"
                                                onblur="validaNome(this.value)" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="international">Cartão emitido no Brasil?</label>
                                            <select id="international" name="international" class="form-control">
                                                <option value="" disabled selected>Selecione</option>
                                                <option value="1">Sim</option>
                                                <option value="0">Não</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top">
                    <div class="g-recaptcha" data-sitekey="6LeaZa4ZAAAAANFEcXpNEmkKs6se_6r3RguI4F7A"></div>
                </div>
                <hr>
                <input type="hidden" name="site" value="espaconovo">
                <div class="col text-center">
                    <button type="submit" id="savePayment" class="btn btn-secondary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Isenção -->
<div class="modal fade" id="exemptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body custom-scrollbar">
                <div class="row">
                    <div class="col">
                        <h4>
                            <div class="mt-2 d-none alert alert-danger" id="divMessageExemption">Erro</div>
                            <h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-success" href="<?= BASEURL ?>">FECHAR</a>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="<?= BASEURL ?>assets/css/register.css">
<link rel="stylesheet" href="<?= BASEURL ?>assets/css/intlTelInput.min.css">
<script src="<?= BASEURL ?>assets/js/intlTelInput.min.js"></script>
<script src="<?= BASEURL ?>assets/js/moment.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!--register form-->
<script>
function validaNome(name) {
    var name1 = name.toLowerCase();
    var name2 = name1.split(' ');
    var name3 = removeAcento(name2[0]);
    var nameRegister = "<?= strtolower($user->getFirstName()) ?>";
    var firstName = removeAcento(nameRegister);
    if (name3.length == 1 && name3.substr(0, 1) != firstName.substr(0, 1)) {
        alert(
            "Permitido apenas cartões em nome do titular do cadastro!\nNome do cadastro: <?php print $user->GetName(); ?>\nEm caso de dúvidas, entre em contato com filiacao@novo.org.br."
        );
        $('#cardName').val('');
        return false;
    } else if (name3.length > 1 && name3 != firstName) {
        alert(
            "Permitido apenas cartões em nome do titular do cadastro!\nNome do cadastro: <?php print $user->GetName(); ?>\nEm caso de dúvidas, entre em contato com filiacao@novo.org.br."
        );
        $('#cardName').val('');
        return false;
    }
}

function removeAcento(text) {
    text = text.toLowerCase();
    text = text.replace(new RegExp('[ÁÀÂÃ]', 'gi'), 'a');
    text = text.replace(new RegExp('[ÉÈÊ]', 'gi'), 'e');
    text = text.replace(new RegExp('[ÍÌÎ]', 'gi'), 'i');
    text = text.replace(new RegExp('[ÓÒÔÕ]', 'gi'), 'o');
    text = text.replace(new RegExp('[ÚÙÛ]', 'gi'), 'u');
    text = text.replace(new RegExp('[Ç]', 'gi'), 'c');
    text = text.replace(new RegExp('[Ñ]', 'gi'), 'n');
    return text;
}

var diaCode = -1;

function maskCellPhone() {
    if (diaCode == cellPhone.getSelectedCountryData().dialCode) {
        return;
    }
    diaCode = cellPhone.getSelectedCountryData().dialCode;
    $('#cellPhone').unmask();
    $('#cellPhone').mask('999999999999');
    if (diaCode == 55) {
        $('#cellPhone').mask('(99)99999-99999');
    }
}
$(document).ready(function() {
    maskCellPhone();
});

function validateVoterTitle(inscricao) {
    var inscricao = ("000000000000" + inscricao).slice(-12);
    var paddedInsc = inscricao.replace(/\D+/g, '');
    var dig1 = 0;
    var dig2 = 0;
    var tam = paddedInsc.length;
    var digitos = paddedInsc.substr(tam - 2, 2);
    var estado = paddedInsc.substr(tam - 4, 2);
    var titulo = paddedInsc.substr(0, tam - 2);
    var exce = (estado == '01') || (estado == '02');
    dig1 = (titulo.charCodeAt(0) - 48) * 9 + (titulo.charCodeAt(1) - 48) * 8 +
        (titulo.charCodeAt(2) - 48) * 7 + (titulo.charCodeAt(3) - 48) * 6 +
        (titulo.charCodeAt(4) - 48) * 5 + (titulo.charCodeAt(5) - 48) * 4 +
        (titulo.charCodeAt(6) - 48) * 3 + (titulo.charCodeAt(7) - 48) * 2;
    var resto = (dig1 % 11);
    if (resto == 0) {
        if (exce) {
            dig1 = 1;
        } else {
            dig1 = 0;
        }
    } else {
        if (resto == 1) {
            dig1 = 0;
        } else {
            dig1 = 11 - resto;
        }
    }
    dig2 = (titulo.charCodeAt(8) - 48) * 4 + (titulo.charCodeAt(9) - 48) * 3 + dig1 * 2;
    resto = (dig2 % 11);
    if (resto == 0) {
        if (exce) {
            dig2 = 1;
        } else {
            dig2 = 0;
        }
    } else {
        if (resto == 1) {
            dig2 = 0;
        } else {
            dig2 = 11 - resto;
        }
    }
    if ((digitos.charCodeAt(0) - 48 == dig1) && (digitos.charCodeAt(1) - 48 == dig2)) {
        return true; // Titulo valido
    } else {
        return false;
    }
}

function validateForm(step) {
    let errors = '';
    const formData = formDataToJson('msform');
    switch (step) {
        case 1:
            const dateMax = moment(new Date()).subtract(16, 'years');
            const dateMin = moment(new Date()).subtract(120, 'years');
            if (formData.name.trim() == '') errors += '<b>Nome Completo</b> é obrigatório<br>';
            if (!moment(formData.birth, 'DD/MM/YYYY', true).isValid()) errors +=
                '<b>Data de Nascimento</b> valor inválido<br>';
            if (formData.cellPhone.replace(/\D+/g, '').length < 8) errors += '<b>Telefone Celular</b> inválido<br>';
            if (moment(formData.birth, 'DD/MM/YYYY', true).isValid() &&
                moment(formData.birth, 'DD/MM/YYYY').format('YYYY/MM/DD') > dateMax.format('YYYY/MM/DD')) {
                errors += '<b>Minimo 16 anos</b><br>';
            }
            if (moment(formData.birth, 'DD/MM/YYYY', true).isValid() &&
                moment(formData.birth, 'DD/MM/YYYY').format('YYYY/MM/DD') < dateMin.format('YYYY/MM/DD')) {
                errors += '<b>Máximo 120 anos</b><br>';
            }
            if (formData.sex.trim() == 0) errors += '<b>Sexo</b> é obrigatório<br>';
            break;
        case 2:
            if (formData.zipCode.trim() == '') errors += '<b>CEP</b> é obrigatório<br>';
            if (formData.street.trim() == '') errors += '<b>Logradouro</b> é obrigatório<br>';
            if (formData.number.trim() == '') errors += '<b>Número</b> é obrigatório<br>';
            if (formData.district.trim() == '') errors += '<b>Bairro</b> é obrigatório<br>';
            if (formData.addressOutside == 1) {
                if (formData.addressCountry.trim() == '') errors += '<b>País</b> é obrigatório<br>';
                if (formData.city.trim() == '') errors += '<b>Cidade</b> é obrigatório<br>';
            } else {
                if (formData.ufId.trim() == '') errors += '<b>Estado</b> é obrigatório<br>';
                if (formData.cityId.trim() == '') errors += '<b>Cidade</b> é obrigatório<br>';
            }
            break;
        case 3:
            if (formData.mother.trim() == '') errors += '<b>Nome da Mãe</b> é obrigatório<br>';
            if (formData.voterTitle.trim() == '') errors += '<b>Título de eleitor</b> é obrigatório<br>';
            if (formData.voterTitleZone.trim() == '') errors += '<b>Zona</b> é obrigatório<br>';
            if (formData.voterTitleSection.trim() == '') errors += '<b>Seção</b> é obrigatório<br>';
            if (formData.originVoterTitle == 2) { //brasil
                if (formData.voterTitleUF.trim() == '') errors += '<b>UF eleitoral</b> é obrigatório<br>';
                if (formData.voterTitleCity.trim() == '') errors += '<b>Município Eleitoral</b> é obrigatório<br>';
            } else {
                if (formData.voterTitleCountry.trim() == '') errors += '<b>País eleitoral</b> é obrigatório<br>';
                if (formData.voterTitleCityString.trim() == '') errors +=
                    '<b>Município Eleitoral</b> é obrigatório<br>';
            }
            if (!validateVoterTitle(formData.voterTitle)) errors += '<b>Título de eleitor</b> inválido<br>';
            break;
        case 4:
            if (!$("input[type='radio'][name='term1']").is(':checked')) {
                errors += '<b>Termo 1</b> é obrigatório<br>';
            }
            if (formData.term2 != 1) errors += '<b>Termo 2</b> é obrigatório<br>';
            if (formData.term3 != 1) errors += '<b>Termo 3</b> é obrigatório<br>';
            if (formData.term4 != 1) errors += '<b>Termo 4</b> é obrigatório<br>';
            break;
    }
    if (errors != '') {
        divMessageForm.innerHTML = errors;
        divMessageForm.classList.add("alert-danger");
        divMessageForm.classList.remove("alert-success");
        divMessageForm.classList.remove("d-none");
        return false;
    }
    return true;

}

function changeStep(current, option) {
    if (option == 'next') {
        if (!validateForm(current)) {
            return;
        }
    }
    divMessageForm.classList.add("d-none");
    document.getElementById(`step-${current}`).style.display = 'none';
    const progressbar = document.querySelectorAll('#progressbar li');
    if (option == 'next') {
        if (!validateForm(current)) {
            return;
        }
        document.getElementById(`step-${current + 1}`).style.display = 'block';
        progressbar[current].classList.add('active');
    } else {
        document.getElementById(`step-${current - 1}`).style.display = 'block';
        progressbar[current - 1].classList.remove('active')
    }
}

const form = document.getElementById('msform')
const divMessageForm = document.getElementById('divMessageFormRegister');
const divMessageExemption = document.getElementById('divMessageExemption');
form.addEventListener('submit', e => {
    form.cellPhoneDialCode.value = cellPhone.getSelectedCountryData().dialCode;
    form.cellPhoneIso2.value = cellPhone.getSelectedCountryData().iso2;
    e.preventDefault();
    if (!validateForm(4)) {
        return;
    }
    showLoading();
    let formData = formDataToJson('msform');
    fetch("<?= BASEURL ?>api/filiacao/", {
        method: "POST",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        response.json().then(json => {
            if (json.exemption == 0) {
                divMessage = divMessageForm;
                divMessage.textContent = json.message;
                document.getElementById('payment').classList.remove("d-none");
                document.getElementById('register').classList.add("d-none");
            } else {
                divMessage = divMessageExemption;
                divMessage.innerHTML = json.message;
                $("#exemptionModal").modal()
                $('#backFinalButton').addClass('disabled');
                $('#saveRegister').addClass('disabled');
                setTimeout(function() {
                    window.location.href = "<?= BASEURL ?>";
                }, 10000);

            }
            divMessage.classList.add("alert-danger");
            divMessage.classList.remove("alert-success");
            divMessage.classList.remove("d-none");
            if (response.status === 201) {
                divMessage.classList.add("alert-success");
                divMessage.classList.remove("alert-danger");
            }
        });
    });
})

$(document).ready(function() {
    $("#zipCode").keyup(function() {
        loadAddress();
    });
});

function politicalPartyDiv(value) {
    $('#politicalPartyDiv').hide();
    if (value == 1 || value == 2) {
        $('#politicalPartyDiv').show();
    }
}

function voterTitleFields(type) {
    $('#titleInternational').hide();
    $('#titleNational').show();
    if (type == 1) {
        $('#titleInternational').show();
        $('#titleNational').hide();
    }
}

function addressFields(type) {
    $('#addressInsideDiv').removeClass('d-none');
    $('#addressOutsideDiv').removeClass('d-none');
    $('#addressCountryDiv').removeClass('d-none');
    if (type == false) {
        $('#addressOutsideDiv').addClass('d-none');
        $('#addressCountryDiv').addClass('d-none');
    } else {
        $('#addressInsideDiv').addClass('d-none');
    }
}

function loadAddress() {
    var cep = $('#zipCode').val().replace(/\D/g, '');
    var validacep = /^[0-9]{8}$/;
    let errors = '';
    const formData = formDataToJson('msform');
    if (validacep.test(cep)) {
        $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function(dados) {
            if (!("erro" in dados)) {
                $("#street").val(dados.logradouro);
                $("#district").val(dados.bairro);
                $(`#cityId option[value='${dados.localidade}']`).attr('selected', 'selected');
                $("#uf").val(dados.uf);
                $("#city").val(dados.localidade);
                $(`#addressCountry option[value='33']`).attr('selected', 'selected');
                if (dados.uf != $('#ufId').val()) {
                    $(`#ufId option[value=${dados.uf}]`).attr('selected', 'selected');
                    $('#ufId').trigger('change');
                }
                divMessageForm.innerHTML = errors;
                divMessageForm.classList.add("d-none");
            } else {
                errors = "Atenção, CEP inválido para emissão de boletos!";
                divMessageForm.innerHTML = errors;
                divMessageForm.classList.add("alert-warning");
                divMessageForm.classList.remove("alert-success");
                divMessageForm.classList.remove("d-none");
            }
        });
    }
}

function getCityOptionName(city) {
    return `<option value="${city.name}">${city.name}</option>`;
}

function getCities(state, divCities) {
    fetch(`<?= BASEURL ?>api/sistema/cidades/${state}`, {
        method: "GET",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }
    }).then(response => {
        response.json().then(json => {
            let cities = json.message;
            let options;
            if (divCities == 'cityId') { //address em string
                options = '<option value="">Selecione a cidade</option>' + cities.map(
                    getCityOptionName);
            } else { //voter title int id
                options = '<option value="">Selecione a cidade</option>' + cities.map(getCityOptionId);
            }
            document.getElementById(divCities).innerHTML = options;
            loadAddress();
        });
    });
}

function getCityOptionId(city) {
    return `<option value="${city.id}">${city.name}</option>`;
}

var cellPhone = window.intlTelInput(document.querySelector('#cellPhone'), {
    "initialCountry": 'br'
});
</script>


<!--payment form-->
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/js/jquery.creditCardValidator.js"></script>
<script src="<?= BASEURL ?>assets/js/clipboard.min.js"></script>
<script>
function validCardNumber() {
    $('#cardNumber').validateCreditCard(function(result) {
        if (result.valid == false) {
            $("#cardNumberError").show();
            return false;
        }
        $("#cardNumberError").hide();
        $('#flag').val(result.card_type.name);
    });
}

function setPaymentMethod(id) {
    var level = <?= $user->getMonthlyBill() ?>;
    $(`#${id}`).prop('checked', true);
    $('input[name=plan]').prop('checked', false);
    $('input[name=value]').prop('checked', false);
    $('#creditCard').hide();
    //$('#plan6Div').hide();
    $('#valueDiv').hide();
    $('#divValue').hide();
    $('#planDiv').show();
    //$('#plan1Div').show();
    //if ($(`#${id}`).val() == 2 && level == 0) {
    //    $('#plan1Div').hide();
    //    $('#plan6Div').show();
    //}
}

function setPlan(id) {
    $(`#${id}`).prop('checked', true);
    $('#valueDiv').show();
    $('#paymentMethodDiv').show();
    $('#contributionMonthly').show();
    $('#contributionYearly').show();
    $('#contributionSemester').show();
    $('#paymentMethod1Button').show();
    let formData = formDataToJson('formPayment');
    if (formData.plan == 12) {
        $('#contributionMonthly').hide();
        $('#contributionSemester').hide();
    } else if (formData.plan == 6) {
        $('#contributionMonthly').hide();
        $('#contributionYearly').hide();
    } else {
        $('#contributionYearly').hide();
        $('#contributionSemester').hide();
    }
}

function setValue(id) {
    $('#paymentMethodDiv').show();
    $(`#${id}`).prop('checked', true);
    $('#divValue').hide();
    if ($(`#${id}`).val() == 0) $('#divValue').show();
    var seg = document.querySelector('input[name=paymentMethod]:checked').value;
    if (seg == 1) $('#creditCard').show();
}

function validateFormPayment() {
    divMessageFormPayment.classList.add('d-none');
    let errors = '';
    const formData = formDataToJson('formPayment');
    const maxValue = <?= MAXVALUE ?>;
    let minValue = <?= MINMONTHLY ?>;
    let value = formData.value;
    if (value == 0) {
        value = formData.value2;
        value = value.replace('.', '', value);
        value = value.replace(',', '.', value);
    }
    switch (formData.plan) {
        case '1':
            if (value < minValue) errors += `Valor minimo mensal é R$ ${minValue.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}<br>`;
            if (value > maxValue) errors += `Valor máximo mensal é R$ ${maxValue.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}<br>`;
            break;
        /*
        case '6':
            minValue = <?= MINSEMESTER ?>;
            if (value < minValue) errors += `Valor minimo semestral é R$ ${minValue.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}<br>`;
            if (value > maxValue) errors += `Valor máximo semestral é R$ ${maxValue.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}<br>`;
            break;
        */
        case '12':
            minValue = <?= MINYEARLY ?>;
            if (value < minValue) errors += `Valor minimo anual é R$ ${minValue.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}<br>`;
            if (value > maxValue) errors += `Valor máximo anual é R$ ${maxValue.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}<br>`;
            break;
    }
    if (errors != '') {
        divMessageFormPayment.innerHTML = errors;
        divMessageFormPayment.classList.add("alert-danger");
        divMessageFormPayment.classList.remove("alert-success");
        divMessageFormPayment.classList.remove('d-none');
        return false;
    }
    return true;
}

const formPayment = document.getElementById('formPayment');
const divMessageFormPayment = document.getElementById('divMessageFormPayment');

formPayment.addEventListener('submit', e => {
    e.preventDefault();
    if (!validateFormPayment()) {
        return;
    }
    $('#savePayment').addClass('disabled');
    showLoading();
    let formData = formDataToJson('formPayment');
    fetch("<?= BASEURL ?>api/filiacao/pagamento", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        divMessageFormPayment.classList.add("alert-danger");
        divMessageFormPayment.classList.remove("alert-success");
        $('#savePayment').removeClass('disabled');
        response.json().then(json => {
            divMessageFormPayment.classList.remove("d-none");
            divMessageFormPayment.innerHTML = json.message;
            if (response.status === 201) {
                formPayment.classList.add("d-none");
                divMessageFormPayment.classList.add("alert-success");
                divMessageFormPayment.classList.remove("alert-danger");
                setTimeout(function() {
                    window.open(json.page, '_blank');
                }, 5000);
            }
        });
    });
});

function exemptionChange(value) {
    const exemption = document.getElementById("exemption")
    if (value == 1) {
        document.getElementById('exemptionDiv').classList.remove("d-none");
    } else {
        document.getElementById('exemptionDiv').classList.add("d-none");
    }
}

$(document).ready(function() {
    let clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function(e) {
        alert('Copiado para área de transferência');
    });
    $("#otherValue").maskMoney({
        prefix: 'R$ ',
        allowNegative: true,
        thousands: '.',
        decimal: ',',
        affixesStay: false
    });
    $("input[name=paymentMethod]").change(function() {
        let paymentMethod = $("input[name=paymentMethod]:checked").val();
        if (paymentMethod == 1) {
            $("#creditCards").show();
        } else {
            $("#creditCards").hide();
        }
    });
    $("#value").change(function() {
        $("#divValue").hide();
        if ($("#value").val() == 0) {
            $("#divValue").show();
        }
    });
});
</script>

<style>
#creditCard {
    border: 1px solid #1A2948 !important;
    padding: 20px !important;
}


#formPayment hr {
    width: 100% !important;
    margin: 10px 0 !important;
    border-bottom: 1px solid #FF6B00 !important;
}

ul {
    padding-bottom: 20px;
}

.top {
    margin-top: 10px;
}
</style>