<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12 text-center topTitle">
                <h2 class="title"><?= $title ?></h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <hr>
        <div class="row table-responsive-xl">
            <div class="col">
                <table class="table table-bordered table-striped" id="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">Número</th>
                            <th class="text-center widthColumns10">Razão Social/Nome</th>
                            <th class="text-center widthColumns10">CNPJ/CPF</th>
                            <th class="text-center widthColumns20">Centro de Custo</th>
                            <th class="text-center widthColumns10">Valor</th>
                            <th class="text-center widthColumns10">Data Início</th>
                            <th class="text-center">Data Fim</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Situação</th>
                            <th class="text-center">Anexo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($contracts as $c): ?>
                            <tr class="text-center">
                                <td><?= $c['number'] ?></td>
                                <td><?= $c['name'] ?></td>
                                <td><?= $c['cpf'] ?></td>
                                <td><?= $c['costCenter'] ?></td>
                                <td><?= $c['value'] ?></td>
                                <td><?= $c['start'] ?></td>
                                <td><?= $c['end'] ?></td>
                                <td><?= $c['status'] ?></td>
                                <td><?= $c['situation'] ?></td>
                                <td><a class="badge badge-success label-square pointer text-white f-12" target="_blank" href="<?= $c['doc'] ?>">Anexo</a></ts>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>