<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12 text-center topTitle">
                <h2 class="title"><?= $title ?></h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="payDay">Data do pagamento de:</label>
                        <input class="form-control" id="payDayBegin" name="payDayBegin" type="date" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="payDay">Data do pagamento até:</label>
                        <input class="form-control" id="payDayEnd" name="payDayEnd" type="date" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="paymentValue">Valor pago:</label>
                        <input class="form-control" id="paymentValue" name="paymentValue" type="text" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="origin">Origem do recurso:</label>
                        <select class="form-select" name="origin" id="origin">
                            <option value="">Todos</option>
                            <option value="1">Campanha Eleitoral</option>
                            <option value="2">Política da Mulher</option>
                            <option value="3">Outros Recursos</option>
                            <option value="4">Fundo Partidário</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="description">Descrição do pagamento:</label>
                        <input class="form-control" id="description" name="description" type="text" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="directory">Diretório:</label>
                        <select class="form-select" id="directory" name="directory">
                            <option value="" selected>Todos</option>
                            <?php foreach($directories as $directoy): ?>
                            <option value="<?= $directoy['id'] ?>"><?= $directoy['name'] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="providerCnpj">CNPJ/CPF do Fornecedor:</label>
                        <input class="form-control" id="providerCnpj" name="providerCnpj" type="text"
                            data-mask="99.999.999/9999-99" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="providerName">Razão Social do Fornecedor:</label>
                        <input class="form-control" id="providerName" name="providerName" type="text" />
                    </div>
                </div>
            </div>
            <div class="alert alert-secondary" role="alert">
                Obs: Informações no portal disponíveis apenas a partir de abril/2023<br>
                Obs: Portal da Transparência em período de testes. Algumas informações poderão sofrer alterações;
            </div>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col- text-end">
                    <button class="btn btn-danger" type="reset" onclick="resetTable('Trail')">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row table-responsive-xl">
            <div class="col">
                <table class="table table-bordered table-striped" id="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">Data do pagamento</th>
                            <th class="text-center widthColumns10">Diretório</th>
                            <th class="text-center widthColumns10">CNPJ/CPF do Fornecedor</th>
                            <th class="text-center widthColumns20">Razão Social do Fornecedor</th>
                            <th class="text-center widthColumns10">Valor pago</th>
                            <th class="text-center widthColumns10">Origem do recurso</th>
                            <th class="text-center">Descrição do pagamento</th>
                            <th class="text-center">Boleto Bancário</th>
                            <th class="text-center">Documento Fiscal</th>
                            <th class="text-center">Contrato</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/transparencyPortal/index.js?v=<?= time() ?>"></script>

<style>
.widthColumns10 {
    width: 10%;
}

.widthColumns20 {
    width: 20%;
}

.iconColor {
    color: darkgray;
}

h2 {
    color: #333;
    line-height: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #aed6e2 65%);
    display: inline;
    line-height: 32px;
    position: relative;
    bottom: 15px;
    font-weight: 700;
    font-size: 30px;
}

.topTitle {
    margin-top: 2%;
}

hr {
    background-color: #f17021;
}
</style>